<div class="container">
    <div class="row">
        <block name="side">
        <!-- 左侧 nav
        ================================================== -->
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
              <li><a href=""><i class="icon-chevron-right"></i> Download</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> File structure</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> What's included</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> HTML template</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> Examples</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> What next?</a></li>
            </ul>
          </div>
        </block>
    <block name="body"> </block>
    </div>
</div>
