<!-- 底部 -->
<div class="footer">
	<div class="wrapper">
		<div class="other cf">
			<dl>
				<dt class="edu"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">联系我们</a></h3>
					<div>为您提供专业的技术支持及疑难解答议。</div>
				</dd>
			</dl>
			<dl>
				<dt class="advice"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">合作推广</a></h3>
					<div>多种互赢方式的商业合作模式，定有一种适合您。</div>
				</dd>
			</dl>
			<dl style="margin-right:0;">
				<dt class="invest"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">更多产品</a></h3>
					<div>基于ThinkPHP完善的框架体系下，研发的其他品牌产品。</div>
				</dd>
			</dl>
		</div>
		<div class="ft-intro">
			Copyright © 2008-2013 TOPThink Inc. All Rights Reserved.
		</div>
	</div>
</div>

<include file="Public/var"/>
<script type="text/javascript" src="__STATIC__/think.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hooks('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>