<!-- 底部 -->
<div class="footer">
	<div class="wrapper">
		<div class="other cf">
			<dl>
				<dt class="edu"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">联系我们</a></h3>
					<div>为您提供WEB项目咨询服务，给您提供解决方案及相关建议</div>
				</dd>
			</dl>
			<dl>
				<dt class="advice"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">合作推广</a></h3>
					<div>由TP官方组织，为您提供高质量培训</div>
				</dd>
			</dl>
			<dl style="margin-right:0;">
				<dt class="invest"><a href="#"></a></dt>
				<dd>
					<h3><a href="#">更多产品</a></h3>
					<div>您投资的是一个简化网站和应用开发的技术</div>
				</dd>
			</dl>
		</div>
		<div class="ft-intro">
			Copyright © 2008-2013 TOPThink Inc. All Rights Reserved.
		</div>
	</div>
</div>

<include file="Public/var"/>
<script type="text/javascript" src="__STATIC__/think.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hooks('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>