<div class="header">
	<div class="hd-main cf">
		<h3 class="logo"><a href="/" title="返回首页"></a></h3>

		<ul class="main-nav">
			<li class="current"><a href="/">首页</a></li>
			<li><a href="{:U('Article/index?category=down')}">下载</a></li>
			<li><a href="{:U('Article/index?category=extend')}">扩展</a></li>
			<li><a href="{:U('Article/index?category=info')}">资讯</a></li>
			<li><a href="{:U('Article/index?category=topic')}">讨论</a></li>
		</ul>

		<div class="header-bar">
			<!-- 登陆前 -->
			<div class="entrance hidden">
				<a class="unlogin" href="#">		
					<b class="unlogin-ic"></b>
					<i class="entr-icon"></i>
				</a>
				<ul class="user-menu set-l">
					<li><a href="#">登录</a></li>
					<li><a href="#">注册</a></li>
				</ul>
			</div>
			<!-- /登陆前 -->
			
		 	<!-- 登陆后 -->
			<div class="entrance">
				<a class="set-ic" href="#">			
					<img src="__IMG__/temp/36_36.png" alt="" />
					<i class="entr-icon"></i>
				</a>
				<ul class="user-menu set-m">
					<li><a href="#">个人设置</a></li>
					<li><a href="#">我的文章</a></li>
					<li><a href="#">我的消息</a></li>
					<li><a href="#">我的收藏</a></li>
					<li><a href="#">退出</a></li>
				</ul>
			</div>
		 	<!-- /登陆后 -->

		 	<form action="#" method="post" class="search cf">
				<input type="hidden" name="time" value="0">					
				<input type="text" name="name" class="search-input">
				<a class="search-btn" onclick="$(this).parent().submit();">搜索</a>
			</form>
		</div>
	</div>
</div>