<meta charset="UTF-8">
<title>OneThink</title>
<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
<link rel="stylesheet" type="text/css" href="__CSS__/onethink.css">
<link rel="stylesheet" type="text/css" href="__CSS__/ThinkBox.css">
<block name="style"></block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
<script type="text/javascript">
function detailed_content(){
    $.thinkbox.load('{:U("detailed_content")}', {
        'title': '详细',
        'fixed': true,
        'modal': true,
        'drag': false,
        'modalClose': true,
        'actions' : ['close']
    });
    return false;
}
</script>
<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hooks('pageHeader')}