<!-- 头部 -->
<div class="header">
	<div class="wrapper cf">
		<a href="javascript:;" class="logo">
			<img src="images/onethink.png" alt="onethink">
		</a>
		
		<ul class="main-nav nav">
			<li class="current"><a href="javascript:;">首页</a></li>
			<li><a href="javascript:;">下载</a></li>
			<li><a href="javascript:;">扩展</a></li>
			<li><a href="javascript:;">应用</a></li>
			<li><a href="javascript:;">教程</a></li>
			<li><a href="javascript:;">代码</a></li>
		</ul>

		<div class="user-bar">
			<form action="#" method="post" class="header-search cf">
				<input type="text" class="text" placeholder="输入关键词">
				<input type="submit" class="btn" value="搜索">
			</form>

			<div class="user-entrance">
				<a class="user-pic" href="javascript:;">
					<img src="images/default.png" alt="">
					<i class="arrow arrow-down"></i>
				</a>
				<ul class="user-menu nav-list hidden"><!-- 隐藏加.hidden类名即可 -->
					<li><a href="javascript:;">您好，admin</a></li> 
					<li><a href="javascript:;">消息中心</a></li> 
					<li><a href="javascript:;">登陆</a></li>
					<li><a href="javascript:;">退出</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>