<div class="side-container">
	<!-- 发表话题 -->
	<block name="plulish">
		<a class="release-btn" href="{:U('edit?model=1&category='.$category['name'])}">
			<em>TOPIC</em><i class="icon-topic"></i>发表{$category['title']}
		</a>
	</block>

	<!-- 分享到 -->
	<div class="shareto bt0 mod">
		<div>分享到：</div>
		<div class="sharebox">
			<a class="icon-sina" title="新浪微博" href="javascript:;">新浪微博</a>
			<a class="icon-weixin" title="微信" href="javascript:;">微信</a>
			<a class="icon-renren" title="人人网" href="javascript:;">人人网</a>
			<a class="icon-facebook" title="facebook" href="javascript:;">facebook</a>
		</div>
	</div>

	<!-- 单独图片 -->
	<div class="pic-link mod">
		<a href="javascript:;"><img src="__IMG__/temporary/1.jpg" alt=""></a>
	</div>

	<!-- 热门推荐 -->
	<div class="columns mod">
		<div class="hd">热门推荐</div>
		<div class="bd">
			<ul class="rank-list ellipsis">
				<li class="top3">
					<i>1</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
				<li class="top3">
					<i>2</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
				<li class="top3">
					<i>3</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
				<li>
					<i>10</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
				<li>
					<i>44</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
				<li>
					<i>91</i><a href="javascript:;">基于ThinkPHP3.1.3的视频教程出炉啦！！！</a>
				</li>
			</ul>
		</div>
	</div>
</div>