@charset "utf-8";

/*============================================================
 * 格式化标签
/===========================================================*/
*{margin:0;padding:0}
body{background:#fff;font:400 12px/2em 'Microsoft Yahei','黑体',Tahoma,sans-serif;}
button,select{font-size:12px;}
button,label,.submit,.button,.btn{cursor:pointer;}
img,input,select{vertical-align:middle;}
img{border:0;}
ul,ol{list-style-type:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;}
dt,strong{font-weight:700;}
em,cite,i{font-style:normal;}
del{text-decoration:line-through;}
a{color:#000;text-decoration:none;outline:none;}
a:hover{color:#91bc49;text-decoration:underline;}
a:focus{outline:0;}

/* 快捷样式 */
.l{float:left;}
.r{float:right;}
.c{clear:both;}
.n{display:none;}

/* 背景设定 */
.btn,.btn em,.btn .submit,
.think_table th,
.think_page,.think_page_btn a,.think_page_btn em,.tbox_top_content,.tbox_btm_content{background:url(../Images/bg_thinkui.png) no-repeat;}

.tbox_top_left,.tbox_top_right,
.tbox_body_left,.tbox_body_right,
.tbox_btm_left,.tbox_btm_right,
.tbox_top_content div,.tbox_top_content div a{background:url(../Images/bg_thinkui2.png) no-repeat;}

/*============================================================
 * 页面UI
/===========================================================*/
.think_wrap{
    position:relative;
    width:100%;
    height:100%;
    overflow:auto;
}

/* 提示区 */
.think_title{
    height:32px;
    border-bottom:1px solid #dedede;
}

.think_title dl{
    height:30px;
    line-height:30px;
    border:1px solid #fff;
    border-width:1px 0;
    background-color:#f3f3f3;
    overflow:hidden;
}

.think_title dt,.think_title dd{
    display:inline-block;
    float:left;
}

.think_title dt{
    text-indent:15px;
    font-weight:400;
}

.think_title dd{
    margin-left:20px;
    color:#c30;
}

.think_title dd a{
    font-weight:700;
    padding:0 5px;
}

/* 控制区 */

.think_ctrl{
    display:block;
    height:100%;
    padding:10px 10px 0;
}

.think_ctrl_btn{
    float:left;
    height:42px;
}

.think_ctrl_btn .btn{
    float:left;
    margin-right:5px;
}

.think_ctrl_search{
    float:right;
    height:42px;
}

.think_text{
    width:180px;
    height:20px;
    padding:3px 5px 0 5px;
    line-height:18px;
    font-size:12px;
    color:#999;
}

/* 高级搜索 */
.think_ctrl_advsearch{
    clear:both;
    margin:0 0 10px;
    border:1px solid #d7d7d7;
    background-color:#f3f3f3;
    height:100%;
    overflow:hidden;
    display:none;
}

.think_ctrl_advsearch ul{
    border:1px solid #fff;
    padding:10px;
    height:100%;
    overflow:hidden;
    background-color:#f3f3f3;
}

.think_ctrl_advsearch li{
    float:left;
    display:inline-block;
    margin-right:20px;
    font-size:12px;
}

.think_ctrl_advsearch li .think_text{
    width:300px;
}

/* 数据列表 */

.think_data{
    clear:both;
    height:100%;
    padding:0 10px;
    overflow:hidden;
    color:#333;
    font:400 12px/26px Tahoma,sans-serif;
}

.think_table{
    text-align:left;
    border:1px solid #d7d7d7;
}



.think_table th,.think_table td{
    text-indent:10px;
    border:1px solid #d7d7d7;
}

.think_table th{
    height:26px;
    overflow:hidden;
    color:#868686;
    background-color:#f8f8f8;
    background-repeat:repeat-x;
    background-position:0 -192px;
}

.think_table th a{
    color:#868686;
}

.think_table td{
    border-color:#ececec;
}

.think_table tr.bort td{
    border-top:1px solid #d7d7d7;
}

.think_table tr.bgcolor{
    background-color:#fbfbfb;
}

.think_table tr:hover td{
    background-color:#eee;
}

.think_table a{
    text-decoration:none;
    border-bottom:1px dotted #666;
}

.think_table a:hover{
    color:#03f;
    border-color:#03f;
}

.think_table td.think_nodata{
    padding:30px;
    border-color:#d7d7d7;
    text-align:center;
}

/* 分页 */
.think_page{
    height:26px;
    padding:0 15px;
    overflow:hidden;
    border:1px solid #d7d7d7;
    border-top:0;
    background-repeat:repeat-x;
    background-position:0 -218px;
}

.think_page form{
    float:left;
    color:#868686;
}

.think_page form label{
    cursor:default;
}

.think_page .text{
    width:18px;
    height:16px;
    padding-right:3px;
    line-height:16px;
    text-align:right;
    color:#868686;
}

.think_page_btn{
    float:right;
    height:23px;
    padding-top:3px;
    vertical-align:middle;
    overflow:hidden;
}

.think_page_btn a{
    display:inline-block;
    float:left;
    padding-right:10px;
    margin:0 0 0 10px;
    height:20px;
    line-height:20px;
    color:#020202;
    background-position:100% -264px;
}

.think_page_btn a em{
    display:inline-block;
    height:20px;
    line-height:20px;
    padding-left:10px;
    cursor:pointer;
    color:#020202;
    background-position:0 -244px;
}

.think_page_btn a:hover{
    text-decoration:none;
    color:#000;
}

.think_page_btn a.gray em{
    color:#a7a7a7;
}

.think_run_time{
    margin-top:5px;
    height:25px;
    line-height:25px;
    text-align:center;
    color:#666;
}



/* thinkbox */
.thinkbox{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:none;
}

.tbox_overbg{
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background-color:#000;
}

.tbox_wrap{
    position:absolute;
    top:50%;
    left:50%;
    overflow:hidden;
    background:transparent;
    display:none;
}

.tbox_top_left,.tbox_top_content,.tbox_top_right,
.tbox_body_left,.tbox_body_content,.tbox_body_right,
.tbox_btm_left,.tbox_btm_content,.tbox_btm_right{
    display:inline-block;
    float:left;
}
/* thinkbox title */
.tbox_top{
    height:40px;
    overflow:hidden;
}

.tbox_top_left{
    width:17px;
    height:40px;
    background-position:-34px 0;
}

.tbox_top_content{
    position:relative;
    height:28px;
    line-height:28px;
    padding:10px 0 2px;
    background-repeat:repeat-x;
    background-position:0 -284px;
    overflow:hidden;
}

.tbox_top_content h2{
    width:100%;
    height:28px;
    cursor:move;
    font:400 12px/28px '宋体',Tahoma,sans-serif;
}

.tbox_top_content div{
    position:absolute;
    top:10px;
    right:5px;
    width:80px;
    height:20px;
    overflow:hidden;
    background-position:-68px 0;
}

.tbox_top_content div a{
    display:inline-block;
    float:left;
    margin-left:7px;
    width:20px;
    height:18px;
    text-indent:-999999px;
    overflow:hidden;
}

.tbox_top_content div a.tbox_tofull{background-position:-68px -20px;}
.tbox_top_content div a.tbox_tofull:hover{background-position:-68px -37px;}

.tbox_top_content div a.tbox_tosmall{background-position:-88px -20px;}
.tbox_top_content div a.tbox_tosmall:hover{background-position:-88px -37px;}

.tbox_top_content div a.tbox_fullgray,
.tbox_top_content div a.tbox_fullgray:hover{background-position:-108px -20px;}

.tbox_top_content div a.tbox_close{
    margin-left:18px;
    background-position:-128px -20px;
}
.tbox_top_content div a.tbox_close:hover{background-position:-128px -36px;}
.tbox_top_content div a.tbox_closegray,
.tbox_top_content div a.tbox_closegray:hover{background-position:-108px -36px;}


.tbox_top_right{
    width:17px;
    height:40px;
    overflow:hidden;
    background-position:-51px 0;
}

/* thinkbox body */
.tbox_body{clear:both;}
.tbox_body_left{
    width:17px;
    overflow:hidden;
    background-repeat:repeat-y;
}

.tbox_body_content{
    background-color:#f0f0f0;
    overflow:auto;
}

.tbox_body_right{
    width:17px;
    overflow:hidden;
    background-repeat:repeat-y;
    background-position:-17px 0;
}

/* thinkbox btm */
.tbox_btm{clear:both;}

.tbox_btm_left{
    width:17px;
    height:17px;
    overflow:hidden;
    background-position:-34px -40px;
}

.tbox_btm_content{
    height:17px;
    overflow:hidden;
    background-repeat:repeat-x;
    background-position:0 -324px;
}

.tbox_btm_right{
    width:17px;
    height:17px;
    overflow:hidden;
    background-position:-51px -40px;
}

.tbox_temp{
    display:none;
}

.tbox_loading{
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    width:128px;
    height:20px;
    background:transparent url(../Images/loading.gif) no-repeat 50% 50%;
    display:none;
}

/*============================================================
 * 页面内容
/===========================================================*/
.think_form{
    margin:10px 10px 0;
    padding:0;
    overflow:hidden;
    font:400 13px/25px Tahoma,sans-serif;
}

.table_box{
    position:relative;
    padding:10px 15px 25px;
    border-bottom:1px solid #cecece;
}

.table_box td{
    padding:3px 5px;
}

.think_editor{
    width:550px;
    min-height:300px;
    padding:5px 0;
    overflow:hidden;
}

.submit_box{
    position:relative;
    padding:15px 0 0 60px;
    border-top:1px solid #fff;
    overflow:hidden;
}

.table_box .title{
    height:30px;
    line-height:30px;
    margin:15px 0;
    text-indent:10px;
    font-weight:700;
    color:#168168;
    border-bottom:1px solid #ccc;
}

/*============================================================
 * 表单元素
/===========================================================*/
.text{
    display:inline-block;
    height:20px;
    line-height:20px;
    padding:2px 3px;
    width:180px;
    border:1px solid #ccc;
    border-left:2px solid #9c0;
}

.textarea{
    display:inline-block;
    line-height:25px;
    padding:5px;
    width:288px;
    height:120px;
    border:1px solid #ccc;
    border-left:2px solid #9c0;
    overflow:auto;
}

.text:focus,.textarea:focus,.onfocus{
    border-color:#999;
    border-left:2px solid #f00;
    background-color:#fafaf8;
}

.select{
    width:150px;
    height:20px;
    line-height:20px;
    padding:2px 3px;
}

.file{
    height:23px;
    line-height:23px;
    margin:0;
    overflow:hidden;
    cursor:pointer;
    padding-top:5px;
    padding-left:3px;
}

/* 通用按钮 */
.btn{
    display:inline-block;
    padding:0 20px 0 0;
    height:32px;
    color:#000;
    vertical-align:middle;
    overflow:hidden;
    background-position:100% -32px;
}

.btn em,.btn .submit{
    display:inline-block;
    height:32px;
    line-height:30px;
    padding:0 0 2px 20px;
    border:none;
    overflow:hidden;
}

.btn .submit{
    line-height:30px;
    padding:0 0 5px 20px;
}

.btn_on{background-position:100% -160px;}
.btn_on em,.btn_on .submit{background-position:0 -128px;}

.btn:hover{
    color:#000;
    text-decoration:none;
    background-position:100% -96px;
}

.btn:hover em,.btn:hover .submit{
    color:#000;
    background-position:0 -64px;
}

.huge{width:350px}
.large{width:280px}
.medium{width:150px}
.w80{width:80px;}
.w70{width:70px;}
.w160{width:160px;}
.small{width:65px}
.mini{width:35px}
.tLeft{text-align:left;}
.tRight{text-align:right}
.tCenter{text-align:center}
.vTop{vertical-align:top;}
.vBtm{vertical-align:bottom;}
.vMiddle{vertical-align:middle;}

.mar10{margin:10px;}
.marL0{margin-left:0}
.marL20{margin-left:20px;}
.marT10{margin-top:10px;}
.marT15{margin-top:15px;}

/*============================================================
 * 弹出层下的页面额外处理
/===========================================================*/

.tbox_body_content .think_title,.submit_box .close,.tbox_body_content .think_run_time{
    display:none;
}

.tbox_body_content .table_box{
    padding:0;
    padding-bottom:25px;
}

.tbox_body_content .submit_box{
    padding-left:0;
    text-align:right;
}

.tbox_max .submit_box{
    padding-left:60px;
    text-align:left;
}

.tbox_body_content .submit_box .close{
    display:inline-block;
}
