<extend name="Base/common" />

<block name="body">
	<div class="main cf">
		 <!-- 登陆表单 -->
		<form action="#" method="post" class="think-form cf" id="form">
		    <!-- 登陆 -->
		    <div class="login">
		        <div class="hd">
		            <strong>用户登录</strong><span>还没有帐号？点击<a href="{:U('register')}">注册</a></span>
		        </div>
		        
		        <!-- 表单项 -->
		        <table class="bd">
		            <tr>
		                <th>用户名</th>
		                <td>
		                    <input class="text" type="text" name="username" datatype="*" nullmsg="请填写用户名"/>
		                    <span class="Validform_checktip"></span>
		                </td>
		            </tr>
		            <tr>
		                <th>密&#12288;码</th>
		                <td>
		                    <input class="text" type="password" name="password" datatype="*" nullmsg="请填写密码"/>
		                    <span class="Validform_checktip"></span>
		                </td>
		            </tr>
		            <tr>
		                <th>验证码</th>
		                <td>
		                    <input class="verify" type="text" name="verify" datatype="verify" nullmsg="请填写验证码" errormsg="请填写5位验证码"/>
		                    <a href="javascript:void(0)" class="reloadverify" title="换一张">换一张？</a>
		                    <span class="Validform_checktip"></span><br>
		                    <img class="verifyimg reloadverify" src="{:U('verify')}" alt="点击切换" />
		                </td>
		            </tr>
		            <tr>
		                <th>&nbsp;</th>
		                <td>
		                    <input class="submit" type="submit" value="登录" />
		                    <span><a class="o_link ml" href="#">找回密码</a></span>
		                </td>
		            </tr>
		            <tr>
		                <th></th>
		                <td>邮件激活失败？<a class="o_link" href="#">重新激活</a></td>
		            </tr>
		        </table>
		        <!-- /表单项 -->
		    </div>
		    <!-- /登陆 -->
		    
		    <!-- 其他登陆 -->
		    <div class="login-other">
		        <div class="hd">
		            <strong>使用其他帐号直接登录</strong>
		        </div>
		        <div class="bd">
		            <ul class="other-account">
	                    <li><a href="#">腾讯QQ登录</a></li>
		            </ul>
		        </div>
		    </div>
		    <!-- /其他登陆 -->
		</form>
		<!-- /登陆表单 -->
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function(){
			//刷新验证码
			var verifyimg = $(".verifyimg").attr("src");
			$(".reloadverify").click(function(){$(".verifyimg").attr("src", verifyimg)});
		});
	</script>
</block>