<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>『{$Think.config.web_name}管理平台』By TOPThink {$Think.version}</title>
<FRAMESET FRAMEborder=0 framespacing=0 border=0 rows="50, *,32">
<FRAME SRC="__MODULE__/Public/top" name="top" FRAMEborder=0 NORESIZE SCROLLING='no' marginwidth=0 marginheight=0>
<FRAMESET FRAMEborder=0  framespacing=0 border=0 COLS="200,7, *" id="frame-body">
	<FRAME SRC="__MODULE__/Public/menu" FRAMEborder=0 id="menu-frame" name="menu">
    <frame src="__MODULE__/Public/drag" id="drag-frame" name="drag-frame" frameborder="no" scrolling="no">
	<FRAME SRC="__MODULE__/Public/main" FRAMEborder=0 id="main-frame" name="main">
</FRAMESET>
<FRAME SRC="__MODULE__/Public/footer" name="footer" FRAMEborder=0 NORESIZE SCROLLING='no' marginwidth=0 marginheight=0>
</FRAMESET>
</html>