<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>基本设置</h2>
	</div>
	<form action="{:U('save')}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">站点名称<span class="check-tips">（该名称显示在浏览器窗口标题等位置）</span> </label>
			<div class="controls">
				<input type="text" class="text input-large" name="config[WEB_SITE_TITLE]" value="{:C('WEB_SITE_TITLE')}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">网站备案号<span class="check-tips">（设置在网站底部显示的备案号，如“沪ICP备12007941号-2）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="config[WEB_SITE_ICP]" value="{:C('WEB_SITE_ICP')}"> 
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">颜色方案<span class="check-tips">（后台配色方案）</span> </label>
			<div class="controls">
                <select name="config[color_style]" >
                    <option value="default_color" <eq name="color" value="default_color">selected</eq> >默认</option>
                    <option value="blue_color" <eq name="color" value="blue_color">selected</eq>>紫罗兰</option>
                </select>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">站点关闭<span class="check-tips">（暂时关闭站点，其他人无法访问，但管理员可以）</span></label>
			<div class="controls">
				<label class="radio"><input type="radio" name="config[WEB_SITE_CLOSE]" value="1">是</label>
				<label class="radio"><input type="radio" checked="checked" name="config[WEB_SITE_CLOSE]" value="0">否</label>
			</div>
		</div>
		<div class="form-item">
			<label class="item-label"></label>
			<div class="controls">
				<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
			</div>
		</div>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
		Think.setValue("config[WEB_SITE_CLOSE]", {:C('WEB_SITE_CLOSE')});
	</script>
</block>
