<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>topthink登陆页面</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
	<script type="text/javascript" src="__STATIC__/"></script>
</head>
<body>
	<!-- 头部 -->
	<div class="login-header">
		<div class="login-main">
			<a href="javascript:;"><img src="__IMG__/admin_login.png" alt=""></a>
		</div>
	</div>
	
	<!-- 主体 -->
	<div class="login-body">
		<div class="login-main pr">
			<form action="#" method="post" class="login-form">
				<h3>登陆</h3>
				<div class="item-box">
					<div class="item focus">
						<i class="icon-login-user"></i>
						<input type="text" name="" placeholder="请填写用户名">
					</div>
					<div class="item">
						<i class="icon-login-pwd"></i>
						<input type="password" name="" placeholder="请填写密码">
					</div>
					<div class="item verifycode">
						<i class="icon-login-verifycode"></i>
						<input type="text" name="" placeholder="请填写验证码">
						<img src="__IMG__/verify.png">
					</div>
				</div>
				<div class="login_btn_panel">
					<button class="login-btn" type="submit">登录</button>
				</div>
			</form>
		</div>
	</div>
	
	<!-- 底部 -->
	<div class="login-footer">
		<div class="login-main">
			<p>Copyright © 2008-2013 REDINFO. All Rights Reserved.</p>
			<p class="footer-link">
				<a href="javascript:;">联系我们</a>
				<span>|</span>
				<a href="javascript:;">免责声明</a>
				<span>|</span>
				<a href="javascript:;">加入我们</a>
			</p>
		</div>
	</div>
</body>
</html>