<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>topthink登陆页面</title>
</head>
<body>
	<div class="login-header">
		<!-- 头部 -->
		<div class="login-main">
			<a href="javascript:;"><img src="__IMG__/admin_login.png" alt=""></a>
		</div>

		<!-- 主体 -->
		<div class="logo-body">
			<div class="login-main">
				<form action="#" method="post" class="login-form">
					<h3>登陆</h3>
					<div class="item cf">
						<div><i class="icon-login-user"></i></div>
						<input type="text" name="">
					</div>
					<div class="item cf">
						<div><i class="icon-login-pwd"></i></div>
						<input type="text" name="">
					</div>
					<div class="item cf">
						<div><i class="icon-login-verifycode"></i></div>
						<input type="text" name="">
						<img src="__IMG__/" alt="">
					</div>
				</form>
			</div>
		</div>

		<!-- 底部 -->
		<div class="login-footer">
			<div class="login-main">
				<p>Copyright © 2008-2013 REDINFO. All Rights Reserved.</p>
				<p>
					<a href="javascript:;">联系我们</a>
					<a href="javascript:;">免责声明</a>
					<a href="javascript:;">加入我们</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>