<div id="page-wrapper"> 
  <div class="row"> 
    <div id="main" class="col-lg-12 main">
      <block name="nav">
      <notempty name="_show_nav"><!-- nav -->
      <div class="breadcrumb">
        <span>您的位置:</span>
        <assign name="i" value="1" />
        <foreach name="_nav" item="v" key="k">
            <if condition="$i eq count($_nav)">
            <span>{$v}</span>
            <else />
            <span><a href="{$k}">{$v}</a>&gt;</span>
            </if>
            <assign name="i" value="$i+1" />
        </foreach>
      </div><!-- /nav -->
      </notempty>
      </block>       
      <block name="body"></block> 
    </div>  
  </div>
</div>	