<div class="content">
<div class="title">模型导入 [ <a href="__URL__">返回列表</a> ]</div>
<div id="result" class="result none"></div>
<form id="upload" METHOD=POST action="__URL__/importModel/" onsubmit="return CheckForm(this);" enctype="multipart/form-data" >
<table cellpadding=0 cellspacing=0  class="list" width="100%">
<tr><td height="3" colspan="10" class="topTd" ></td></tr>
<tr class="row">
	<th class="tRight" style="width:100px" >选择文件：</th>
	<td  class="tLeft"><div class="impBtn  fLeft" ><input type="file"  name="modelFile" class="file  huge"></div> </td>
</tr>
<tr class="row">
	<th class="tRight" style="width:100px" >模型内容：</th>
	<td  class="tLeft"><TEXTAREA name="modelContent" style="width:480px;height:200px;overflow:auto;line-height:155%" ></TEXTAREA></td>
</tr>
<tr class="row">
	<th class="tRight" style="width:100px" >导入格式：</th>
	<td class="tLeft tTop">
	<select name="importType">
    <option value="xml" > XML </option>
    <option value="php" > PHP </option>
	<option value="sql" > SQL </option>
   </select>
</td>
<tr>
<th class="tRight" style="width:100px" ></th>
<td><input type="submit" value="导 入" class="medium button "></td>
</tr>
</tr>
<tr><td height="3" colspan="10" class="bottomTd"></td></tr>
</table>
</form>
</div>
