<script type="text/javascript">
<!--
	function cache(){
		var keyValue= getSelectCheckboxValues();
		window.location.href = '__URL__/cache/id/'+keyValue;
	}
	function importModel(){
		window.location.href = '__URL__/import';
	}
	function build(){
		window.location.href = '__URL__/autoBuild';
	}
	function form(name){
		window.location.href = '__MODULE__/Think/add/_module/'+name+'/preview/1';
	}
	function manage(name){
	window.location.href = '__MODULE__/Think/index/_module/'+name;
	}
	function vstat(name){
	window.location.href = '__MODULE__/Think/vstat/_module/'+name;
	}
	function edit(id){
	window.location.href = '__URL__/edit/id/'+id;
	}
function del(id){
	var keyValue;
	if (id)
	{
		keyValue = id;
	}else {
		keyValue = getSelectCheckboxValues();
	}
	if (!keyValue)
	{
		alert('请选择要删除的项目！');
		return false;
	}
	if (window.confirm('确实要删除吗？'))
	{
	window.location.href = '__URL__/delete/id/'+keyValue;
	}
}
//-->
</script>

<!-- 主体内容  -->
<div class="content" >
<div class="title"> 文档模型列表 <span class="normal">[ 查看：<a href="__URL__/index/">全部</a> <a href="__URL__/index/app_id/0">全局</a> <iterate name=":getApps()" id="app"><a href="__URL__/index/app_id/{$key}">{$app}</a>&nbsp;</iterate> ]</span></div>
<!--  功能操作区域  -->
<div class="operate" >
<html:imageBtn name="add" value="创建" click="add()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="ok" value="导入" click="importModel()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="sort" value="生成" click="build()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="sort" value="缓存" click="cache()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="delete" value="删除" click="del()" style="impBtn hMargin fLeft shadow" />
<!-- 查询区域 -->
<div class="fRig">
<form method=post action="__URL__">
<div class="fLeft"><span id="key"><input type="text" title="名称查询" name="title" class="medium" ></span></div>
<html:imageBtn type="submit" name="search" value="查询" style="impBtn hMargin fLeft shadow" />
</div>
</form>
</div>
<!-- 功能操作区域结束 -->

<!-- 列表显示区域  -->
<div class="list" >
<div id="result" class="result none"></div>
<html:list id="checkList" style="list" name="action" checkbox="true" action="true" datasource="list" show="id:编号|8%,title:名称:edit,name:标识,model_type|getModelType:类型,app_id|getAppName:应用,create_time|toDate='y-m-d H#i':更新时间,status|getStatus:状态" actionlist="manage:管理:name,status|showStatus=$action['id'],edit:编辑,del:删除:id,vstat:统计:name" /> 
</div>
<!--  分页显示区域 -->
<div class="page">{$page}</div>
<!-- 列表显示区域结束 -->
</div>
<!-- 主体内容结束 -->
