<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>{$title}内容列表</h2>
	</div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
		<empty name="custom_adminlist">
			<!-- 数据列表 -->
	        {$_table_list}
		<else />
			<present name="custom_adminlist">
				<include file="$custom_adminlist" />
			</present>
		</empty>
	</div>
	<!-- 分页 -->
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
	<script type="text/javascript">
		$(function(){
	        //全选节点
	        $('.check-all').on('change',function(){
	            $('.ids').prop('checked',this.checked);
	        });
		})
	</script>
</block>