<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>保存配置</h2>
	</div>
	<form action="{:U('saveConfig')}" class="form-horizontal" method="post">
		<empty name="custom_config">
			<foreach name="data['config']" item="form" key="o_key">
				<div class="form-item cf">
					<label class="item-label">{$form.title}</label>
					<div class="controls">
						<switch name="form.type">
							<case value="text">
								<input type="text" name="config[{$o_key}]" class="text" value="{$form.value}">
							</case>
							<case value="password">
								<input type="password" name="config[{$o_key}]" class="text" value="{$form.value}">
							</case>
							<case value="hidden">
								<input type="hidden" name="config[{$o_key}]" value="{$form.value}">
							</case>
							<case value="radio">
								<foreach name="form.options" item="opt" key="opt_k">
									<label class="radio">
										<input type="radio" name="config[{$o_key}]" value="{$opt_k}" <eq name="form.value" value="$opt_k"> checked</eq>>{$opt}
									</label>
								</foreach>
							</case>
							<case value="checkbox">
								<foreach name="form.options" item="opt" key="opt_k">
									<label class="checkbox">
										<input type="checkbox" name="config[{$o_key}]" value="{$opt_k}" <eq name="form.value" value="$opt_k"> checked</eq>>{$opt}
									</label>
								</foreach>
							</case>
							<case value="select">
								<select name="config[{$o_key}]">
									<volist name="form.options" id="opt" key="opt_k">
										<option value="{$opt_k}" <eq name="form.value" value="$opt_k"> selected</eq>>{$opt}</option>
									</volist>
								</select>
							</case>
							<case value="textarea">
								<label class="textarea">
									<textarea name="config[{$o_key}]">{$form.value}</textarea>
								</label>
							</case>
						</switch>
					</div>
				</div>
			</foreach>
		<else />
			<present name="custom_config">
				<include file="$custom_config" />
			</present>
		</empty>

		<input type="hidden" name="id" value="{:I('id')}" readonly>
		<button type="submit" class="btn">提交</button>
		<button type="reset" class="btn">重置</button>
		<button class="btn" onclick="javascript:history.back(-1);return false;">返回</button>

	</form>
</block>

<block name="script"></block>
