<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>保存配置</h2>
	</div>
	<form action="{:U('saveConfig')}" class="form-horizontal" method="post">
		<?php foreach ($data['config'] as $key => $form): ?>
			<div class="form-item cf">
				<label class="item-label">{$form.title}</label>
				<div class="controls">
					<switch name="form.type">
						<case value="text">
							<input type="text" name="config[{$key}]" class="text" value="{$form.value}">
						</case>
						<case value="password">
							<input type="password" name="config[{$key}]" class="text" value="{$form.value}">
						</case>
						<case value="hidden">
							<input type="hidden" name="config[{$key}]" value="{$form.value}">
						</case>
						<case value="radio">
							<volist name="form.options" id="opt" key="opt_k">
								<label class="radio">
									<input type="radio" name="config[{$key}]" value="{$opt_k}">{$opt}
								</label>
							</volist>
						</case>
						<case value="checkbox">
							<volist name="form.options" id="opt" key="opt_k">
								<label class="checkbox">
									<input type="checkbox" name="config[{$key}]" value="{$opt_k}">{$opt}
								</label>
							</volist>
						</case>
						<case value="select">
							<select name="config[{$key}]">
								<volist name="form.options" id="opt" key="opt_k">
									<option value="{$opt_k}" <eq name="form.value" value="$opt_k"> selected</eq>>{$opt}</option>
								</volist>
							</select>
						</case>
						<case value="textarea">
							<label class="textarea">
								<textarea name="config[{$key}]">{$form.value}</textarea>
							</label>
						</case>
					</switch>
				</div>
			</div>
		<?php endforeach ?>
		<div class="form-item cf">
			<label class="item-label">&nbsp;</label>
			<div class="controls">
				<input type="hidden" name="id" value="{:I('id')}" readonly>
				<button type="submit" class="btn">提交</button>
				<button type="reset" class="btn">重置</button>
				<button class="btn" onclick="javascript:history.back(-1);return false;"><i class="icon-redo"></i>返回</button>
			</div>
		</div>

	</form>
</block>

<block name="script"></block>
