<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title cf">
		<h2>编辑“{$data.name}”钩子处挂载的插件</h2>
	</div>

	<!-- 修改密码表单 -->
	<form action="{:U('updateSort')}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">插件名称<span class="check-tips">（多个插件用,分割）</span></label>
			<div class="controls">
				<input type="text" value="{$data.addons}" name="addons" class="text">
			</div>
		</div>
		<input type="hidden" name="id" value="{$data.id}">
		<button type="submit" class="submit-btn ajax-post" target-form="form-horizontal">保 存</button>
	</form>
</block>
