<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title cf">
		<h2><present name="data">编辑<else />新增</present>钩子</h2>
	</div>

	<!-- 修改密码表单 -->
	<form action="{:U('updateHook')}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label"><span class="must">*</span>钩子名称<span class="check-tips">（需要在程序中先添加钩子，否则无效）</span></label>
			<div class="controls">
				<input type="text" value="{$data.name}" name="name" class="text input-large">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"><span class="must">*</span>钩子描述<span class="check-tips">（钩子的描述信息）</span></label>
			<div class="controls">
				<label class="textarea input-large"><textarea name="description" >{$data.description}</textarea></label>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">钩子类型<span class="check-tips">（钩子类型）</span></label>
			<div class="controls">
				<select name="type">
					<option value="1" <eq name="data.type" value="1"> selected</eq> title="用于附加显示为主的功能">视图</option>
					<option value="2" <eq name="data.type" value="2"> selected</eq> title="用于变更某些数据">控制器</option>
				</select>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">钩子挂载的插件<span class="check-tips">（多个插件用,分割）</span></label>
			<div class="controls">
				<label class="textarea input-large"><textarea name="addons" >{$data.addons}</textarea></label>
			</div>
		</div>
		<input type="hidden" name="id" value="{$data.id}">
		<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
		<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
	</form>
</block>

<block name="script">
	<script type="text/javascript">
		$(function(){
			//导航高亮
	    	$('.side-sub-menu').find('a[href="{:U('Addons/hooks')}"]').closest('li').addClass('current');
		})
	</script>
</block>