<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>『{$Think.config.web_name}管理平台』By ThinkPHP {$Think.version}</title>
<load file="__PUBLIC__/css/blue.css" />
<load file="__PUBLIC__/js/common.js" />
<import file="Admin.Js.Base,Admin.Js.prototype,Admin.Js.mootools,Admin.Js.Think.ThinkAjax,Admin.Js.Form.CheckForm" /> 
<script language="JavaScript">
<!--
//指定当前组模块URL地址 
var URL = '__URL__'; // d
var APP	 =	 '__APP__'; // c
var PUBLIC = '__PUBLIC__';
ThinkAjax.image = [	 '__PUBLIC__/images/loading2.gif', '__PUBLIC__/images/ok.gif','__PUBLIC__/images/update.gif' ]
//-->
</script>
</head>
<body onload="loadBar(0)">
