<tagLib name="html" />
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$Think.config.web_name}系统安装</title>
<script language='JavaScript' src='../Public/js/common.js'></script> 
<link rel='stylesheet' type='text/css' href='../Public/css/style.css'>
<load  type="js" file="Js.prototype" /> 
<load  type="js" file="Js.Base" /> 
<load  type="js" file="Js.mootools" /> 
<load  type="js" file="Js.Think.ThinkAjax" /> 
<load  type="js" file="Js.Form.CheckForm" /> 
 <script language="JavaScript">
<!--
var PUBLIC	 =	 '__PUBLIC__';
ThinkAjax.image = [	 '../Public/images/loading2.gif', '../Public/images/ok.gif','../Public/images/update.gif' ]
ThinkAjax.updateTip	=	'登录中～';
function loginHandle(data,status){
if (status==1)
{
$('result').innerHTML	=	'<span style="color:blue"><img src="../Public/images/ok.gif" WIDTH="20" HEIGHT="20" BORDER="0" ALT="" align="absmiddle" > 登录成功！3 秒后跳转～</span>';
$('form1').reset();
window.location = '__URL__';
}
}
function keydown(e){
	var e = e || event;
	if (e.keyCode==13)
	{
	ThinkAjax.sendForm('form1','__URL__/checkLogin/',loginHandle,'result');
	}
}
function fleshVerify(){
//重载验证码
var timenow = new Date().getTime();
$('verifyImg').src= '__URL__/verify/adv/1/'+timenow;
}
//-->
</script>
</head>
<body onload="document.login.account.focus()" >
<form method=post name="login" id="form1" >
<div class="tCenter hMargin">
<table id="checkList" class="login shadow" style="width:650px" cellpadding=0 cellspacing=0 >
<tr><td height="5" colspan="2" class="topTd" ></td></tr>
<tr class="row" ><th colspan="2" class="tCenter space" ><img src="../public/images/preview_f2.png" width="32" height="32" border="0" alt="" align="absmiddle"> {$Think.config.web_name}系统安装</th></tr>
<tr><td height="5" colspan="2" class="topTd" ></td></tr>
<tr class="row" ><td colspan="2" class="tCenter"><div id="result" class="result none"></div></td></tr>
<tr class="row" ><td class="tRight" width="25%">帐 号：</td><td><input type="text" class="medium bLeftRequire" check="Require" warning="请输入帐号" name="account"></td></tr>
<tr class="row" ><td class="tRight">密 码：</td><td><input type="password" class="medium bLeftRequire" check="Require" warning="请输入密码" name="password"></td></tr>
<tr class="row" ><td class="tRight">验证码：</td><td><input type="text" onkeydown="keydown(event)" class="medium bLeftRequire" check="Require" warning="请输入验证码" name="verify"> </td></tr>
<tr class="row" ><td class="tCenter" colspan="2" style="color:gray;">请输入帐号验证码对应的英文字母</td></tr>
<tr class="row" ><td class="tRight">数 字：<BR>英 文：</td><td><IMG id="verifyImg" SRC="__URL__/verify/adv/1/" onclick="fleshVerify()" BORDER="0" ALT="点击刷新验证码" style="cursor:pointer" align="absmiddle"></td></tr>
<tr class="row" ><td class="tCenter" align="justify" colspan="2">
<input type="hidden" name="ajax" value="1">
<input type="reset" value="重 置" class="submit small">
<input type="button" value="登 录" onclick="ThinkAjax.sendForm('form1','__URL__/checkLogin/',loginHandle,'result')" class="submit small hMargin">
</td></tr>
<tr><td height="5" colspan="2" class="bottomTd" ></td></tr>
</table>
</div>
</form>
</body>
</html>