{__NOLAYOUT__}{// 加载头部公共文件 }
<include file="Public:header" />
<!-- 菜单区域  -->
<SCRIPT LANGUAGE="JavaScript">
<!--

//-->
</SCRIPT>
<div class="main" >
<div class="content">
<div class="title">后台首页 <span class="normal"> </span></div>

<table id="checkList" class="list" cellpadding=0 cellspacing=0 >
<tr><td height="3" colspan="2" class="topTd" ></td></tr>
<TR class="row" ><th colspan="2" class="space">系统信息</th></tr>
<iterate name="info" id="v">
<TR class="row" onmouseover="over()" onmouseout="out()" onclick="change()" ><TD width="15%">{$key}</TD><TD>{$v}</TD></TR>
</iterate>
<tr><td height="3" colspan="2" class="bottomTd"></td></tr>
</table>
</div>
</div> 
<!-- 主页面结束 -->
{// 加载尾部公共文件 }
