<import  file="Js.Form.MultiSelect" />
<div class="content">
<div class="title">编辑类别 <span class="normal">[ <a href="__URL__/index/pid/{$vo.pid|default=0}">返回列表</a> ]</span></div>
<neq name="vo.avatar" value=""><div id="MemberAvatar" class="fLeft  pic "><img  src="{$vo.avatar}" /></div></neq>
<form method=post id="form1"  action="__URL__/update" enctype="multipart/form-data" >
<table cellpadding=3 cellspacing=3 >
<tr>
	<td class="tRight" >名 称：</td>
	<td class="tLeft" ><input type="text" class="medium bLeftRequire"  name="title" value="{$vo.title}"></td>
</tr>
<tr>
	<td class="tRight" >英 文：</td>
	<td class="tLeft" ><input type="text" class="medium bLeftRequire" name="name" value="{$vo.name}"></td>
</tr>
<tr>
	<td class="tRight">模 型：</td>
	<td class="tLeft"><select class="medium bLeft" name="model">
	<option value="">选择模型</option>
	<volist name="list" id="model">
	<option value="{$model.id}" <eq name="vo.model" value="$model['id']">selected</eq>>{$model.title}</option>
	</volist>
	</select></td>
</tr>
<tr class="row" >
	<td class="tRight tTop" >绑定模型：</td>
	<Td class="">
	<div class="fLeft hMargin">
	<table class="select" style="width:250px" id="type" >
<tr><td height="3" colspan="3" class="topTd" ></td></tr>
<tr><th class="tCenter">选择模型</th></tr>
<tr><td > 
<select  name="type_list[]" class="hMargin medium multiSelect" multiple="multiple" size="12">
<volist name="type" id="mo">
	<option value="{$key}" <in name="key" value="$vo['type_list']">selected</in>>{$mo}</option>
	</volist>
	</select>
</td>
</tr>
<tr><th class="tCenter"><input type="button" onclick="allSelect('type')" value="全 选" class="submit  ">
<input type="button" onclick="InverSelect('type')" value="反 选" class="submit  ">
<input type="button" onclick="allUnSelect('type')" value="全 否" class="submit ">
</th></tr>
<tr>
<td height="3" class="bottomTd" >
</td>
</tr>
</table>
</div>
</Td>
</tr>
<tr>
	<td class="tRight">映 射：</td>
	<td class="tLeft"><select class="medium bLeft" name="map_id">
	<option value="">--选择映射分类--</option>
	<volist name="tree" id="map">
	<option <eq name="vo.map_id" value="$map['id']">selected</eq> value="{$map.id}">{$map.title}</option>
	<volist name="map._child" id="child">
	<option <eq name="vo.map_id" value="$child['id']">selected</eq> value="{$child.id}">|--{$child.title}</option>
	<volist name="child._child" id="v">
	<option <eq name="vo.map_id" value="$v['id']">selected</eq> value="{$v.id}">|----{$v.title}</option>
				<volist name="v._child" id="o">
				<option value="{$o.id}" <eq name="vo.map_id" value="$o['id']">selected</eq>>|-------{$o.title}</option>
				</volist>
	</volist>
	</volist>
	</volist>
	</select></td>
</tr>
	<!-- <tr class="row" >
	<td class="tRight tTop" >子模型：</td>
	<Td class="">

	<div class="fLeft hMargin">
	<table class="select" style="width:250px" id="module" >
<tr><td height="3" colspan="3" class="topTd" ></td></tr>
<tr><th class="tCenter">选择模型</th></tr>
<tr><td > 
<select  name="module_list[]" class="hMargin medium multiSelect" multiple="multiple" size="12">
<volist name=":getModels()" id="mo">
	<option value="{$key}" <in name="key" value="$vo['module_list']">selected</in>>{$mo}</option>
	</volist>
	</select>
</td>
</tr>
<tr><th class="tCenter"><input type="button" onclick="allSelect('module')" value="全 选" class="submit  ">
<input type="button" onclick="InverSelect('module')" value="反 选" class="submit  ">
<input type="button" onclick="allUnSelect('module')" value="全 否" class="submit ">
</th></tr>
<tr>
<td height="3" class="bottomTd" >
</td>
</tr>
</table>
</div>
</Td>
</tr> -->
<tr>
	<td class="tRight" >链 接：</td>
	<td class="tLeft" ><input type="text" class="large bLeft" name="url" value="{$vo.url}"></td>
</tr>
<tr>
	<td class="tRight" >图片地址：</td>
	<td class="tLeft" ><input type="text" class="large bLeft" name="avatar" value="{$vo.avatar}"></td>
</tr>
<tr>
	<td class="tRight" >图片上传：</td>
	<td class="tLeft" ><div class="impBtn  fLeft" ><input type="file" name="file" class="file huge"></div></td>
</tr>
<tr>
	<td class="tRight">是否显示：</td>
	<td class="tLeft"><select class="small bLeft"  name="is_show">
	<option <eq name="vo.is_show" value="1" >selected</eq> value="1">显示</option>
	<option <eq name="vo.is_show" value="0" >selected</eq> value="0">隐藏</option>
	</select></td>
</tr>
<tr>
	<td class="tRight">是否审核：</td>
	<td class="tLeft"><select class="small bLeft" name="require_audit">
	<option <eq name="vo.require_audit" value="0" >selected</eq> value="0">不需要</option>
	<option <eq name="vo.require_audit" value="1" >selected</eq> value="1">需要</option>
	</select></td>
</tr>
<tr>
	<td class="tRight">静态生成：</td>
	<td class="tLeft"><select class="small bLeft"   NAME="build_html">
	<option <eq name="vo.build_html" value="1" >selected</eq> value="1">是</option>
	<option <eq name="vo.build_html" value="0" >selected</eq> value="0">否</option>
	</select></td>
</tr> 
<tr>
	<td class="tRight">状 态：</td>
	<td class="tLeft"><select class="small bLeft"  name="status">
	<option <eq name="vo.status" value="1" >selected</eq> value="1">启用</option>
	<option <eq name="vo.status" value="0" >selected</eq> value="0">禁用</option>
	</select></td>
</tr>
<tr>
	<td class="tRight">首页模板：</td>
	<td class="tLeft"><input type="text" class="large bLeft"  NAME="tmpl_home" value="{$vo.tmpl_home}" /></td>
</tr>
<tr>
	<td class="tRight">列表页模板：</td>
	<td class="tLeft"><input type="text" class="large bLeft"  NAME="tmpl_list" value="{$vo.tmpl_list}" /></td>
</tr>
<tr>
	<td class="tRight">详细页模板：</td>
	<td class="tLeft"><input type="text" class="large bLeft"  NAME="tmpl_detail" value="{$vo.tmpl_detail}" /></td>
</tr>
<tr>
	<td class="tRight">子记录模板：</td>
	<td class="tLeft"><input type="text" class="large bLeft"  NAME="tmpl_record" value="{$vo.tmpl_record}"></td>
</tr>
<tr>
	<td class="tRight tTop">关键字：</td>
	<td class="tLeft"><TEXTAREA class="huge bLeft" name="keywords" ROWS="3" COLS="65">{$vo.keywords}</TEXTAREA></td>
</tr>
<tr>
	<td class="tRight tTop">描 述：</td>
	<td class="tLeft"><TEXTAREA class="huge bLeft" name="description" ROWS="5" COLS="57">{$vo.description}</TEXTAREA></td>
</tr>
<tr>
	<td ></td>
	<td class="center"><div style="width:85%"><input type="hidden" name="id" value="{$vo.id}">
<!-- 	<input type="hidden" name="ajax" value="1"> -->
	<input type="submit" value="保 存" class=" shadow small submit">
	<input type="reset" class="submit  small shadow" value="清 空" >
	</div></td>
</tr>
</table>
</form>
</div>
