<!-- 菜单区域  -->
<script language="JavaScript">
<!--
	function moveNode(){
		var keyValue;
		keyValue = getSelectCheckboxValues();
		ThinkAjax.send('__URL__/moveNode','ajax=1&id='+keyValue,doDelete);
	}
	function copyNode(){
		var keyValue= getSelectCheckboxValues();
		ThinkAjax.send('__URL__/copyNode','ajax=1&id='+keyValue);
	}
	function pasteNode(){
		var key	=	getSelectCheckboxValue();
		ThinkAjax.send('__URL__/pasteNode','ajax=1&pid={$Think.get.pid|default=0}&id='+key,moveComplete);
	}
	function preview(url){
		window.open(url+'/preview.php');
	}
	function view(url){
		window.open(url);
	}
	function moveComplete(data,status){
		if (status==1)
		{
		window.location.reload();
		}
	}
function child(id){
	location.href = URL+"/index/pid/"+id;
}
function edit(id){
	var keyValue;
	if (id)
	{
		keyValue = id;
	}else {
		keyValue = getSelectCheckboxValue();
	}
	if (!keyValue)
	{
		alert('请选择编辑项！');
		return false;
	}
	location.href =  URL+"/edit/id/"+keyValue;
}
//-->
</script>

<!-- 主体内容  -->
<div class="content" >
<div class="title">{$tagName}<present name="columnName">[{$columnName}]子</present>分类列表 <!-- <span class="normal">[ 选择：<volist name=":parseAttr(C('CATE_TYPE_LIST'))" id="config"><a href="__URL__/index/tag/{$key}">{$config}</a><neq name="_result|count" value="$i">&nbsp;|&nbsp;</neq></volist> ]  --> <present name="columnName">[ <a href="__URL__/index/pid/{$return_id}">返回上级</a> ] </present></span></div>
<!--  功能操作区域  -->
<div class="operate" >
<html:imageBtn name="add" value="新增" click="add()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="edit" value="编辑" click="edit()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="sort" value="排序" click="sort()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="delete" value="删除" click="del()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="cut" value="移动" click="moveNode()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="copy" value="复制" click="copyNode()" style="impBtn hMargin fLeft shadow" />
<html:imageBtn name="paste" value="粘贴" click="pasteNode()" style="impBtn hMargin fLeft shadow" />
<!-- 查询区域 -->
<div class="fRig">
<form method=post action="__URL__">
<div class="fLeft"><span id="key"><input type="text" title="名称查询" name="title" class="medium" ></span></div>
<html:imageBtn type="submit" name="search" value="查询" style="impBtn hMargin fLeft shadow" />
</div>

</form>
</div>
<!-- 功能操作区域结束 -->

<!-- 列表显示区域  -->
<div class="list" >
<html:list id="checkList" name="type" style="list" checkbox="true" action="true" datasource="list" show="id:编号|5%,title:名称:child,name:英文,keywords:关键字,sort:排序,status|getStatus:状态|5%" actionlist="status|showStatus=$type['id'],edit:编辑" /> 
</div>
<!--  分页显示区域 -->
<div class="page">{$page}</div>
<!-- 列表显示区域结束 -->
</div>
<!-- 主体内容结束 -->
