<div class="content">
<div class="title">新增<notempty name="Think.get.model_id" >[{$Think.get.model_id|getModelById}] </notempty>事件 <span class="normal">[ <a href="__URL__/index/model_id/{$Think.get.model_id|default=0}">返回列表</a> ]</span></div>
<form method=post id="form1" action="__URL__/insert">
<table cellpadding=3 cellspacing=3>
<tr>
	<td class="tRight tTop">事件名称：</td>
	<td class="tLeft"><input type="text" class="medium bLeftRequire"  NAME="title"></td>
</tr>
<tr>
	<td class="tRight">触发时间：</td>
	<td class="tLeft"><select class="medium bLeft" name="name">
	<option value="insert">新增</option>
	<option value="update">更新</option>
	<option value="del">删除</option>
	<option value="get">获取</option>
	</select></td>
</tr>
<tr>
	<td class="tRight">触发类型：</td>
	<td class="tLeft"><select class="medium bLeft" name="type">
	<option value="express">表达式</option>
	<option value="fun">函数</option>
	<option value="class">行为</option>
	<option value="task">任务</option>
	</select></td>
</tr>
<tr>
	<td class="tRight tTop">事件参数：</td>
	<td class="tLeft"><TEXTAREA class="bLeft large" name="extra" ROWS="5" COLS="35"></TEXTAREA></td>
</tr>
<tr>
	<td class="tRight tTop">备  注：</td>
	<td class="tLeft"><TEXTAREA class="bLeft large" name="remark" ROWS="5" COLS="35"></TEXTAREA></td>
</tr>
<tr>
	<td class="tRight">状 态：</td>
	<td class="tLeft"><select class="small bLeft"  name="status">
	<option value="1">启用</option>
	<option value="0">禁用</option>
	</select></td>
</tr>
<tr>
	<td ></td>
	<td class="center">
	<input type="hidden" name="model_id" value="{$Think.get.model_id|default=0}">
	<input type="submit" value="保 存" class="button">
	<input type="reset" class="button" value="清 空" >
	</td>
</tr>
</table>
</form>
</div>
