<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理中心 - 首页</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/module.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/form.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/table.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
     <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__JS__/common.js"></script>
    <!--<![endif]-->
    <block name="style"></block>
</head>
<body>
    <!-- 头部 -->
    <php>$__base_menu__ = $__controller__->getMenus();</php>
    <div class="header">
        <!-- Logo -->
        <a href="javascript:;" class="logo"></a>
        <!-- /Logo -->

        <!-- 主导航 -->
        <ul class="main-nav">
            <volist name="__base_menu__.main" id="menu">
                <li class="{$menu.class|default=''}"><a href="{$menu.url|U}">{$menu.title}</a></li>
            </volist>
        </ul>
        <!-- /主导航 -->

        <!-- 用户栏 -->
        <div class="user-bar">
            你好，<strong>{:get_username()}</strong>
            <a href="{:U('Index/logout')}">[退出]</a>
        </div>
    </div>
    <!-- /头部 -->

    <!-- 边栏 -->
    <div class="sidebar">
        <!-- 子导航 -->
        <block name="sidebar">
            <div id="subnav" class="subnav">
                <notempty name="_extra_menu">
                    {// 动态扩展菜单 //}
                    {:extra_menu($_extra_menu,$__base_menu__)}
                </notempty>
                <volist name="__base_menu__.child" id="sub_menu">
                    <!-- 子导航 -->
                    <notempty name="sub_menu">
                        <h3><i class="icon icon-unfold"></i>{$key}</h3>
                        <ul class="side-sub-menu">
                            <volist name="sub_menu" id="menu">
                                <li>
                                    <a class="item" href="{$menu.url|U}">{$menu.title}</a>
                                    <!-- 电商式菜单 -->
                                    <!-- <div class="subitem">
                                        <dl class="cf">
                                            <dt><a href="javascript:;">topthink</a></dt>
                                            <dd>
                                                <span><a href="javascript:;">顶想信息</a></span>
                                                <span><a href="javascript:;">123</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                                <span><a href="javascript:;">thinkcms</a></span>
                                                <span><a href="javascript:;">thinkeditor</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                                <span><a href="javascript:;">thinkcms</a></span>
                                                <span><a href="javascript:;">thinkeditor</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                                <span><a href="javascript:;">thinkcms</a></span>
                                                <span><a href="javascript:;">thinkeditor</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                                <span><a href="javascript:;">thinkcms</a></span>
                                                <span><a href="javascript:;">thinkeditor</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                                <span><a href="javascript:;">thinkcms</a></span>
                                                <span><a href="javascript:;">thinkeditor</a></span>
                                                <span><a href="javascript:;">thinkcmf</a></span>
                                            </dd>
                                        </dl>
                                    </div> -->

                                    <!-- windows开始菜单式子菜单 -->
                                    <!-- <ul class="subitem">
                                        <li>
                                            <a class="item" href="javascript:;">顶想信息</a>
                                            <ul class="subitem">
                                                <li><a class="item" href="javascript:;">顶想信息</a></li>
                                                <li><a class="item" href="javascript:;">顶想信息</a></li>
                                                <li><a class="item" href="javascript:;">顶想信息</a></li>
                                                <li><a class="item" href="javascript:;">顶想信息</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="item" href="javascript:;">顶想信息</a></li>
                                        <li><a class="item" href="javascript:;">顶想信息</a></li>
                                        <li><a class="item" href="javascript:;">顶想信息</a></li>
                                    </ul>  -->
                                </li>
                            </volist>
                        </ul>
                    </notempty>
                    <!-- /子导航 -->
                </volist>
            </div>
        </block>
        <!-- /子导航 -->
    </div>
    <!-- /边栏 -->

    <!-- 内容区 -->
    <div id="main" class="main">
        <block name="nav">
        <!-- nav -->
        <notempty name="_show_nav">
        <div class="breadcrumb">
            <span>您的位置:</span>
            <assign name="i" value="1" />
            <foreach name="_nav" item="v" key="k">
                <if condition="$i eq count($_nav)">
                <span>{$v}</span>
                <else />
                <span><a href="{$k}">{$v}</a>&gt;</span>
                </if>
                <assign name="i" value="$i+1" />
            </foreach>
        </div>
        </notempty>
        <!-- nav -->
        </block>
        <block name="body"> </block>
    </div>
    <!-- /内容区 -->

    <script type="text/javascript">
        +function(){
            var $window = $(window), $subnav = $("#subnav"), url;
            $window.resize(function(){
                $("#main").css("min-height", $window.height() - 50);
            }).resize();

            /* 左边菜单高亮 */
            url = window.location.pathname + window.location.search;
            $subnav.find("a[href='" + url + "']").parent().addClass("current");

            /* 左边菜单显示收起 */
            $("#subnav h3").find("i").click(function(){
                $(this).parent().next().toggle("fast","linear");
                $(this).toggleClass("icon-fold");
            });

            $(".side-sub-menu li").hover(function(){
                $(this).addClass("hover").siblings().removeClass("hover");
            },function(){
                $(this).removeClass("hover");
            })
        }();
    </script>
    <block name="script"></block>
</body>
</html>
