<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户管理中心 - 首页</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/form.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/table.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/button.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" media="all">
    <block name="style"></block>
</head>
<body>
    <!-- 头部 -->
    <div class="header">
        <!-- Logo -->
        <a href="javascript:;" class="logo"></a>
        <!-- /Logo -->

        <!-- 主导航 -->
        <ul class="main-nav">
            <volist name="base_menu.main" id="menu">
                <li class="{$menu.class|default=''}"><a href="{$menu.url|U}">{$menu.title}</a></li>
            </volist>
        </ul>
        <!-- /主导航 -->
    </div>
    <!-- /头部 -->

    <!-- 边栏 -->
    <div class="sidebar">
        <!-- 子导航 -->
        <block name="sidebar">
            <div id="subnav" class="subnav">
                <volist name="base_menu.child" id="sub_menu">
                    <!-- 子导航 -->
                    <notempty name="sub_menu">
                        <h3><i class="icon-s1"></i>{$key}</h3>
                        <ul>
                            <volist name="sub_menu" id="menu">
                                <li><a href="{$menu.url|U}">{$menu.title}</a></li>
                            </volist>
                        </ul>
                    </notempty>
                    <!-- /子导航 -->
                </volist>
            </div>
        </block>
        <!-- /子导航 -->
    </div>
    <!-- /边栏 -->

    <!-- 内容区 -->
    <div id="main" class="main">
        <block name="body"></block>
    </div>
    <!-- /内容区 -->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
    <![endif]--><!--[if gte IE 9]><!-->
    <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script type="text/javascript">
        +function(){
            var $window = $(window), $subnav = $("#subnav"), url;
            $window.resize(function(){
                $("#main").css("min-height", $window.height() - 50);
            }).resize();

            /* 左边菜单高亮 */
            url = window.location.pathname + window.location.search;
            $subnav.find("a[href='" + url + "']").parent().addClass("current");
        }();
    </script>
    <block name="script"></block>
</body>
</html>