/**********************************************
 **************** 腾讯TA弹出层样式 ****************
 **********************************************/
 
/* 模态窗口背景样式 */ 
.thinkbox-modal-blackout-ta{
    background-color: #000;
    opacity: .3;
    filter:alpha(opacity=30);
} 
/*弹出层样式*/
.thinkbox-ta{
	background-color: #fff;
}

/* 弹出层内容 */
.thinkbox-ta .thinkbox-body{
    padding:0;
    vertical-align: top;
}
/* 边框样式 */
.thinkbox-ta .thinkbox-top-left, /* 左上角 */
.thinkbox-ta .thinkbox-top-right, /* 右上角 */
.thinkbox-ta .thinkbox-bottom-right, /* 右下角 */
.thinkbox-ta .thinkbox-bottom-left{ /* 左下角 */
    width: 1px;
    height: 1px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-color: #E5E5E5;
}
.thinkbox-ta .thinkbox-top, /* 上边 */
.thinkbox-ta .thinkbox-bottom{ /* 下边 */
    height: 1px;
    background-color:#E5E5E5;
    padding:0;
    font-size: 0;
    line-height: 0;
}
.thinkbox-ta .thinkbox-left,  /* 左边 */
.thinkbox-ta .thinkbox-right{ /* 右边 */
    width: 1px;
    background-color:#E5E5E5;
    padding:0;
    font-size: 0;
    line-height: 0;
}
/* 标题栏样式 */
.thinkbox-ta .thinkbox-title{ /* 标题栏内容 */
    padding-left: 10px;
    text-align: left;
    line-height: 40px;
    height: 40px;
	border-bottom: 1px solid #ccc;
    font-family: "微软雅黑";
	background: #FAFAFA;
}
.thinkbox-ta .thinkbox-draging{ /* 拖动时标题栏样式 */
    cursor:move;
}
.thinkbox-ta .thinkbox-title span{ /* 标题样式 */
    font-size:16px;
    color: #333; 
    margin:0;
    padding:0;
}

/* 工具栏样式 */
.thinkbox-ta .thinkbox-tools{ /* 工具栏内容区域样式 */
	background-color:#FAFAFA;
    border-top: 1px solid #eee;
    padding: 5px 10px;
    text-align: right;
}
.thinkbox-ta .thinkbox-tools .thinkbox-status{
    float: left;
    line-height: 26px;
    display: inline-block;
    padding-left: 24px;
}
.thinkbox-ta .thinkbox-tools .thinkbox-status-loading{
    
}
.thinkbox-ta .thinkbox-tools .thinkbox-status-error{
    color: red;
}
.thinkbox-ta .thinkbox-tools .thinkbox-status-success{
    color: green;
}
.thinkbox-ta .thinkbox-tools button{ /* 工具栏按钮样式 */
    padding: 0px 15px;
    margin-left: 6px;
	font-size: 14px;
	font-family: "微软雅黑";
	border-radius: 2px;
	height: 28px;
	line-height: 26px;
	*line-height:normal;
	cursor: pointer;
	display: inline-block;
	vertical-align:middle;
	outline:0;
}
.thinkbox-ta .thinkbox-tools .thinkbox-button-ok,
.thinkbox-ta .thinkbox-tools .thinkbox-button-submit{
    font-weight: 400;
	border:1px solid #168acb;
	box-shadow:0 1px 0px #56baf2 inset;
	background: #2fa7ea;
	color: #fff;
}
.thinkbox-ta .thinkbox-tools .thinkbox-button-ok:hover,
.thinkbox-ta .thinkbox-tools .thinkbox-button-submit:hover{
	background-color: #139fee;
	background-image:none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.thinkbox-ta .thinkbox-tools .thinkbox-button-cancel{
    font-weight: 400;
	border: 1px solid #dadada;
	box-shadow: 0px 1px 1px #fefefe inset;
	color: #64686f;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f5f5f5));
	background: -moz-linear-gradient(top, #fefefe, #f5f5f5 100%);
}
.thinkbox-ta .thinkbox-tools .thinkbox-button-cancel:hover{
	background-color: #fff;
	background-image: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

/* 默认关闭按钮样式 */
.thinkbox-ta .thinkbox-close{
    position: absolute;
    top: 4px;
    right: 4px;
	font-size: 24px;
    cursor: pointer;
    overflow: hidden;
	color: #999;
	font-family: '宋体';
	text-shadow: 0 1px 1px #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
}
.thinkbox-ta .thinkbox-close:hover{
    color: #c00;
}
.thinkbox-ta .thinkbox-title .thinkbox-close{
    top: 10px;
    right: 10px;
}
/**********************************************
 ************** thinkbox 插件样式 **************
 **********************************************/
/* 加载外部内容loading样式 */
.thinkbox-ta .thinkbox-load-loading{
    line-height: 30px;
    padding: 20px 10px;
    text-align: center;
    width: 220px;
}
/* 提示框样式 */
.thinkbox-ta .thinkbox-tips{
    height: 62px;
    background-image: url(tips-bg.gif);
    padding: 0 20px 0 70px;;
    background-repeat: no-repeat;
    line-height: 62px;
    font-size: 14px;
    font-weight: 700;
    width: auto;
}
/* 弹出成功框样式 */
.thinkbox-ta .thinkbox-tips-success{
    color: green;
}
/* 弹出错误框样式 */
.thinkbox-ta .thinkbox-tips-error{
    color: red;
    background-position: 0 -62px;
}
/* 弹出加载框样式 */
.thinkbox-ta .thinkbox-tips-loading{
    color: black;
    background-image: url(tips_loading.gif);
    background-position: 20px 15px;
}
/*警告提示信息*/
/*确认提示信息*/
.thinkbox-ta .thinkbox-alert,
.thinkbox-ta .thinkbox-confirm{
    width: 260px; 
    padding: 10px;
    line-height: 20px;
    min-height: 40px;
    height: auto!important;
    height: 40px;
}