<extend name="Base/article"/>

<block name="category"></block>

<block name="body">
	<taglib name="article"/>
	<ul class="topic-detail">
		<li>
			<div class="topic-title cf">
				<div class="floor">楼主</div>
				<h1 class="ellipsis">{$info.title}</h1>
			</div>
			<div class="info">
				<span>浏览：{$info.view}</span>
				<span>发布日期：{$info.create_time|date='Y/m/d',###}</span>
				<span>分类：{$info.category_id|get_category_title}</span>
			</div>
			{:hooks('documentDetailBefore', $info)}
			<div class="bd">{$info.content}</div>
			{:hooks('documentDetailAfter', $info)}
			<div class="ft cf">
				<button class="btn btn-mini">回复</button>
				<button class="btn btn-mini">编辑</button>

				<!-- 管理员选项 -->
				<button class="btn btn-mini">删除</button>
				<button class="btn btn-mini">加精</button>
				<button class="btn btn-mini">置顶</button>
			</div>
		</li>
		<article:partlist id="$info['id']" name="list">
			<li>
				<div class="hd cf">
					<div class="floor">{$i*$page}楼</div>
					<a href="javascript:;">{$list.uid|get_username}</a>
					<span>发表于 {$list.create_time|date='Y/m/d',###}</span>
				</div>
				<div class="bd">{$list.content}</div>
				<div class="ft cf">
					<button class="btn btn-mini">回复</button>
					<button class="btn btn-mini">编辑</button>

					<!-- 管理员选项 -->
					<button class="btn btn-mini">删除</button>
					<button class="btn btn-mini">加精</button>
					<button class="btn btn-mini">置顶</button>
				</div>
			</li>
		</article:partlist>
	</ul>
	
	<form action="#" method="post" class="media">
		<div class="media-avatar">
			<img alt="" src="/Public/Home/images/default.png">
		</div>
		<div class="media-body">
			<label class="textarea">
				<textarea name="" placeholder="说几句呗..."></textarea>
			</label>
			<div class="submit-box">
				<button class="btn">发表</button>
				<span>支持使用markdown语法</span>
			</div>
		</div>
	</form>
</block>