<extend name="Base/article"/>

<block name="category"></block>

<block name="body">
	<div class="box contentbox">
		<div class="detail-hd">
			<div class="t-header cf">
				<h1>{$info.title}</h1>
				<div class="turn">
					<article:prev name="prev" info="info">
						<a class="prev" title="上一篇：{$prev.title}" href="{:U('?id='.$prev['id'])}"></a>
					</article:prev>
					<a class="dir" title="返回目录" href="{:U('lists?category='.get_category_name($info['category_id']))}"></a>
					<article:next name="next" info="info">
						<a class="next" title="下一篇：{$next.title}" href="{:U('?id='.$next['id'])}"></a>
					</article:next>
				</div>
			</div>
			<div class="t-footer">
				<span>浏览：{$info.view}</span>
				<span>发布日期：{$info.create_time|date='Y/m/d',###}</span>
				<span>分类：{$info.category_id|get_category_title}</span>
			</div>
		</div>
		<div class="detail-bd">
			{:hooks('documentDetailBefore', $info)}
			<div>{$info.content}</div>
			{:hooks('documentDetailAfter', $info)}
		</div>
	</div>
</block>