<extend name="Base/article"/>

<block name="category"></block>

<block name="body">
	<taglib name="article"/>
	<div class="detail-box mod">
		<div class="hd cf">
			<article:prev name="prev" info="info">
				<a class="prev" href="{:U('?id='.$prev['id'])}" title="上一篇">&lt;</a>
			</article:prev>
			<article:next name="next" info="info">
				<a class="next" href="{:U('?id='.$next['id'])}" title="下一篇">&gt;</a>
			</article:next>
			<h1 class="ellipsis">{$info.title}</h1>
		</div>
		<div class="info">
			<span>浏览：{$info.view}</span>
			<span>发布日期：{$info.create_time|date='Y/m/d',###}</span>
			<span>分类：{$info.category_id|get_category_title}</span>
		</div>
		{:hooks('documentDetailBefore', $info)}
		<div class="bd">{$info.content}</div>
		{:hooks('documentDetailAfter', $info)}
	</div>
</block>