/**
 * 交流圈样式文件
 */

/* 左边栏 */
.sidebox {
	padding: 8px;
	border: 1px solid #aaa;
}
.media-body .muted {
	font-size: 12px;
}
.atten-num-list {
	margin: 10px -2px 0 0;
	list-style: none;
	overflow: hidden;
}
.atten-num-list li {
	float: left;
	margin-right: -1px;
	width: 33.333%;
	text-align: center;
	border-left: 1px solid #aaa;
}
.atten-num-list li:first-child {
	border-left: 0 none;
}
.atten-num-list li a {
	display: block;
}
.atten-num-list li a:hover {
	text-decoration: none;
}

/* 谈论列表 */
.msgbox {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d4d4d4;
}
.msgbox .media-heading {
	margin-top: -3px;
}
.msgbox .media-heading .media-del {
	visibility: hidden;
}
.msgbox .media-heading:hover .media-del {
	visibility: visible;
}
.media-cnt {
	margin-bottom: 4px;
	line-height: 1.6;
}
.pub-info .left {
	float: left;
	color: #999;
}
.pub-info .func-box {
	float: right;
}

/* 列表单项里的评论 */
.talk-wrap {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #d4d4d4;
	background-color: #f9f9f9;
}
.talk-wrap .talk-form {
	margin-bottom: 0;
}
.talk-form .top {
	margin-bottom: 6px;
}
.talk-form .top .ctips {
	color: #999;
}
.talk-wrap .msgbox:last-child {
	border-bottom: 0 none;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* 关注用户列表 */
.memberlist {
	list-style: none;
	margin: 0;	
	padding: 1.5%;
	border: 1px solid #d4d4d4;
}
.memberlist li {
	float: left;
	margin: 1.5%;
	width: 47%;
}
.memberlist .atten-box {
	padding: 15px;
	border: 1px solid #d4d4d4;
}
.mem-sch-list {
	margin: 0;
	list-style: none;
	border: 1px solid #d4d4d4;
	border-bottom: 0 none;
}
.mem-sch-list li {
	padding: 20px;
	border-bottom: 1px solid #d4d4d4;
}
.mem-sch-list .media-heading {
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}
.mem-sch-list .muted {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
}
/*.mem-sch-list .media-heading {
	margin-bottom: 10px;
}*/

/* 右边栏列表 */
.boxlist {
	border: 1px solid #d4d4d4;
}
.boxlist li {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #d4d4d4;
}
.boxlist li:first-child {
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}
.boxlist .hd {
	padding: 10px;
	font-size: 16px;
	border-bottom: 1px solid #d4d4d4;
}
.boxlist .bd {
	list-style: none;
	margin: 0;
	padding: 10px;
}
.left-media {
	margin: 0 75px 0 0;
}
.right-btn {
	float: right;
	margin: 10px 0 0;
}