/** 
 * 描述：onethink官网样式
 * 作用范围：onethink
 */

/* 头部
------------------------------------------ */
.header {
	margin-bottom: 20px;
	min-width: 1000px;
	height: 70px;
	background-color: #ebebeb;
}
.logo ,.logo:hover{
	float: left;
	margin-right: 70px;
	height: 70px;
	text-decoration:none;
}
.logo img {
	vertical-align: middle;
}

/* 主导航 */
.main-nav {
	float: left;
}
.main-nav li{
	position: relative;
}
.main-nav a {
	padding: 0 30px;
	height: 66px;
	line-height: 86px;
	font-size: 14px;
	color: #999;
	border-bottom: 4px solid transparent;
}
.main-nav a:hover,
.main-nav .current a {
	font-weight:800;
	color: #222;
	border-bottom-color: #34b4e0;
	background-color: #e1e1e1;
}
.main-nav .current .ico,.main-nav li:hover .ico{
	width: 15px;
	height: 17px;
	position: absolute;
	bottom: -7px; 
	left:40%;
	background: url(../images/ico.png) no-repeat bottom center;
}
.user-bar {
	float: right;
	margin-top: 24px;
}

/* 搜索 */
.header-search {
	float: left;
	margin: 5px 30px 0 0;
}
.header-search{
	position: relative;
}
.header-search .text {
	float: left;
	width: 174px;
	height: 18px; 
	line-height: 18px;
	border-radius: 18px;
	border-color: #ccc;
	background: url(../images/search.png) no-repeat 162px center #fff;
}
.header-search .submit{
	cursor: pointer;
    height: 20px;
    left: 162px;
    position: absolute;
    text-indent: -999em;
    top: 4px;
    width: 20px;
}
.header-search .btn {
	float: left;
	margin-left: -1px;
	padding: 4px 6px;
	height: 30px;
	color: #999;
	font-size: 14px;
	cursor: pointer;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* 用户入口 */
.user-entrance {
	position: relative;
	z-index: 8;
	float: left;
	width: 50px;
	height: 42px;
}
.user-pic {
	display: block;
	border-radius: 50%;
}
.user-pic:hover {
	text-decoration: none;
}
.user-pic img {
	width: 36px;
	height: 36px;
	overflow: hidden;
	border-radius: 50%;
	vertical-align: middle;
}

/* 用户菜单 */
.user-menu {
	position: absolute;
	top: 45px;
	right: 0;
	z-index: 8;
	width: 80px;
	display: none;
	background-color: #fefefe;
	border: 1px solid #ebebeb;
	border-bottom-width: 0;
}
.user-menu li {
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
}
.user-menu li a {
	padding: 0 12px;
	width: 56px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-align:center;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.user-menu li a:hover {
	background-color: #f5f5f5;
}

/* 分类
------------------------------------------ */
.sort-box {
	position: relative;
	padding: 15px 0 15px 25px;
	line-height: 2;
	overflow: hidden;
}
.sort-box .sort-hidden {
	/*height: 28px;
	overflow: hidden;*/
}
.sort-box a {
	display: inline-block;
	margin-right: 30px;
	color: #666;
}
.sort-box a em {
	font-style: normal;
	font-weight: normal;
	color: #999;
}
.sort-box i {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	vertical-align: -3px;
	background: url(../images/ico1.png) no-repeat 0 0;
}
.sort-box .selected .ico_1,.sort-box a:hover .ico_1{
	background: url(../images/ico1_hover.png) no-repeat 0 0;
}
.sort-box .selected,
.sort-box .selected em,
.sort-box a:hover
{
	font-weight: bold;
	color: #52B8E6;
}
.sort-box .sub-sort {
	float: left;
	width: 847px;
	overflow: hidden;
	*zoom: 1;
}
.sort-box .slide-arrow {
	position: absolute;
	bottom: 3px;
	left: 25px;
	margin: 0;
	width: 30px;
	height: 14px;
	line-height: 14px;
	text-align: center;
}
.sort-box .slide-arrow:active {
	outline: 1px dotted #333;
}
.icon-arrow {
	display: inline-block;
	width: 7px;
	height: 5px;
	vertical-align: middle;
	background: url(../images/slide_arrow_down.png) no-repeat 0 0;
}
.sa-up .icon-arrow {
	background: url(../images/slide_arrow_up.png) no-repeat 0 0;
}

/* 内容区-左边
------------------------------------------ */
/* 新闻列表 */
.news {
	padding: 15px;
}
.news .hd {
	margin-bottom: 10px;
	font-size: 16px;
	color: #333;
}
.news-list li {
	height: 30px;
	line-height: 30px;
	*zoom: 1;
}
.news-list li:before, 
.news-list li:after, {
	diplay: table;
	content: "";
}
.news-list li:after {
	clear: both;
}
.news-list .title-link {
	margin-right: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-list a {
	color: #666;
	vertical-align: middle;
}
.news-list .time {
	float: right;
	color: #cbcbcb;
}
.news-list .arrow {
	border-left-color: #d4d4d4;
	*margin-right: 3px;
}
/* One Think */
.new-website{
	position: relative;
	height: 545px;
	padding-top: 40px;
}
.new-website .website-img{
	bottom: 0;
	position: absolute;
	left: -140px;
}
.new-website .website-version{
	padding-top: 40px;
	position: absolute;
	right: 0;
	top: 100px;
	border: 1px solid #F1F1F1;
	width: 313px; 
	height: 406px;
}
.website-version h2{
	position: absolute;
	height: 37px;
	line-height: 37px; 
	width: 162px;
	left: -10px;
	padding-left: 16px;
	background: url(../images/one_thinktit.png) no-repeat;
  font-size: 18px;
  font-weight: normal;
  color:#41B3E4;
}
.website-version dl{
	position: absolute;
	top: 142px;
	left: 34px;
}
.website-version dt{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.website-version dd{
	line-height: 26px;
}
.website-version .version-btn {
	position: absolute;
	top: 330px;
	left: 34px;
}
.website-version .version-btn .btn{
	width: 160px;
}
/* 详细页 */
.detail-box {
	padding: 15px;
}
.detail-box .hd {
	padding-bottom: 5px;
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid #ebebeb;
}
.detail-box .hd a:hover {
	text-decoration: none;
}
.detail-box .hd .prev,
.detail-box .hd .next {
	font-size: 42px;
	font-family: "宋体";
	color: #999;
}
.detail-box .hd .prev {
	float: left;
}
.detail-box .hd .next {
	float: right;
}
.detail-box h1 {
	margin: 0 30px;
	font-weight: normal;
	font-size: 24px;
	color: #555;
	text-align: center;
}
.detail-box .info {
	height: 40px;
	line-height: 40px;
	color: #999;
	text-align: center;
}
.detail-box .info span {
	margin-left: 20px;
}
.detail-box .bd {
	line-height: 1.6;
	color: #666;
	word-wrap: break-word;
	word-break: break-all;
}

/* 标签页 */
.tab-nav {
	border-bottom: 1px solid #ebebeb;
}
.tab-nav li {
	margin-bottom: -1px;
}
.tab-nav li a {
	padding: 0 20px;
	height: 42px;
	line-height: 42px;
	font-size: 16px;
	color: #999;
	border-bottom: 3px solid transparent;
	border-right: 1px solid #ebebeb;
}
.tab-nav li a:hover,
.tab-nav .current a {
	color: #333;
	border-bottom-color: #34b4e0;
}
.tab-content {
	padding: 15px;
}
.tab-content .tab-pane {
	display: none;
}
.tab-content .in {
	display: block;
}

/* 话题列表 */
.artlist-info,
.artlist-info a {
	margin-top: 3px;
	color: #999;
}
.artlist-info span,
.artlist-info a {
	margin-right: 15px;
}

/* 资讯列表 */
.info-list li {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #ebebeb;
}
.info-list li:first-child {
	border-top: 0 none;
}
.info-list h3 {
	font-size: 16px;
}
.taginfo {
	margin: 5px 0;
}
.taginfo span {
	margin-right: 15px;
}
.taginfo a,
.taginfo em {
	font-size: 12px;
}
.taginfo a {
	color: #444;
}
.taginfo em {
	color: #ccc;
	font-style: normal;
}
.info-list .media {
	margin-bottom: 0;
}
.info-list .media-side {
	width: 180px;
}
.info-list .media-body {
	color: #999;
}
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.icon-sort {
	background: url(../images/sort_list.png) no-repeat;
}
.icon-comment {
	background: url(../images/comment.png) no-repeat;
}
.icon-view {
	background: url(../images/view.png) no-repeat;
}
.icon-clock {
	background: url(../images/clock.png) no-repeat;
}

/* 话题详情页 */
.topic-detail {
	margin-bottom: 10px;
}
.topic-detail li {
	padding: 15px;
	border: 1px solid #ebebeb;
}
.topic-detail .floor {
	float: right;
	color: #017FFD;
}
.topic-detail .topic-title {
	border-bottom: 1px solid #ebebeb;
}
.topic-detail .topic-title h1 {
	margin-right: 40px;
	font-size: 28px;
	font-weight: normal;
}
.topic-detail .topic-title .floor {
	margin-top: 12px;
}
.topic-detail .info {
	margin-bottom: 10px;
	line-height: 30px;
	height: 30px;
	color: #aaa;
}
.topic-detail .info span + span {
	margin-left: 15px;
}
.topic-detail .hd {
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	color: #aaa;
	border-bottom: 1px dashed #ebebeb;
}
.topic-detail .hd span {
	margin: 0 6px;
}
.topic-detail .bd {
	word-break:  break-all;
	color: #666;
}
.topic-detail .ft {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #ebebeb;
}
.topic-detail .ft .btn {
	float: left;
	margin: 0 10px 0 0;
}
/*下载*/
.book-list{
	padding: 10px 0;
	margin-bottom: 150px;
}
.book-list .item {
    background: none repeat scroll 0 0 #F1F1F1;
    height: 170px;
    margin: 0 5px 10px;
    padding: 10px;
    width: 303px;
}
.book-list .item:hover{
	background-color:#EAEAEA;
}
.book-list .item .image{
	height: 144px;
  line-height: 20px;
  margin-right: 6px;
  padding: 15px 10px 10px 20px;
  width: 104px;
}
.book-list .item .template-image {
    background: url(../images/template.png) no-repeat;   
}
.book-list .item .addons-image {
    background: url(../images/addons.png) no-repeat;   
}
.book-list .item .book-image {
    background: url(../images/book.png) no-repeat;   
}
.book-list .item .summary {
    width: 160px;
}
.book-list .item dl {
    color: #666666;
    line-height: 20px;
}
.book-list .item dt {
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 32px;
    padding-top: 10px;
}
.book-list .item dd{
	font-size: 12px;
}
.book-list .item .action {
    margin-top: 6px;
}
.book-list .item .action .btn-mr16{
	margin-right: 16px;
}
.book-list .item .read {
    background-position: 0 -82px;
}
.book-list .item span:hover{
	opacity: 0.8;
}
.btn-gr:hover{
	background-color:#2BAF3A;
}
.btn-gr{
	background-color:#6EAF3A;
}
/*产品报价*/
.expect{
	width: 500px; 
	margin: 0 auto;
	font-size: 18px;
	padding: 70px 0;
}
.expect-mt20{
	padding: 93px 0;
}
.expect img{
	vertical-align: middle;
}
/*文档列表*/
.media-list{
	padding: 15px 0 15px 15px;
}
.media-list .media:first-child{
	border-top: 0 none;
	margin-top:0;
}
.side-btn{
	text-align: center;
}
.media-list .media{
	border-top: 1px dashed #EBEBEB;
	padding-top: 10px;
	margin-top:10px;
	margin-bottom:0;
}
.media-list .media-side{
	width: 180px;
}
.media-side .img{
   width: 180px; 
   display: block;
   margin-bottom: 10px;
}
.media-body .explain strong,.media-body .explain i{
	float:left;
}
.media-body .explain{
	margin-bottom: 4px;
}
.media-body .explain strong{
	width: 70px;
	font-weight: normal;
}
.media-body .explain i{
	width: 706px;
	font-style: normal;
}
.media-body span{
	margin-right: 15px;
}

/* 性能页面 */
.proform-list .media{
		margin-bottom: 0;
}
.proform {
	padding: 15px 50px;
	background: url(../images/division.png) no-repeat center bottom;
}

.proform .media-side {
	margin-right: 50px;
}
.proform .media-body {
	padding-top: 30px;
}
.proform-pull-right .media-side {
	float: right;
	margin: 0 0 0 50px; 
}
.proform-pull-right .media-body {
	text-align: right;
}
.proform .proform-heading {
	font-size: 20px;
	color: #067ac8;
}

/* 登陆注册 */
.think-form{
	padding: 15px;
	font-size: 14px;
}
.login {
    border-right: 1px solid #DDDDDD;
    padding-right: 20px;
    width: 590px;
}
.login, .login-other {
    float: left;
    margin: 20px 0;
}
.login .hd {
    height: 36px;
    line-height: 36px;
}
.think-form .hd {
    margin: 0 0 20px 12px;
    padding-left: 60px;
    position: relative;
}
.login .hd strong {
    color: #000000;
    font-size: 30px;
    font-weight: normal;
}
.login .hd span {
    color: #999999;
    font-size: 16px;
    margin-left: 24px;
}
.login .hd a {
    color: #007DDB;
    margin-left: 6px;
    vertical-align: -1px;
}
.think-form table.bd {
    border-spacing: 0 10px;
    width: 100%;
}
.login .bd {
    margin: 10px 0 30px;
}
.think-form table.bd {
    border-spacing: 0 10px;
}
.think-form th {
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    text-align: right;
    vertical-align: top;
    width: 77px;
}
.login .bd .text {
    width: 250px;
}
.think-form .text {
    border: 1px solid #D4D4D4;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    width: 340px;
}
.think-form .Validform_checktip {
    height: 20px;
}
.Validform_checktip {
    padding-left: 20px;
}
.Validform_checktip {
    color: #999999;
    display: inline-block;
    font-size: 14px;
    margin-left: 2px;
    min-width: 50px;
    overflow: hidden;
    vertical-align: middle;
}
.think-form .verify {
    border: 1px solid #CCCCCC;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
    padding: 3px;
    width: 100px;
}
.think-form .submit {
    background-color: #348FD4;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    height: 30px;
    line-height: 21px;
    padding: 0 24px;
}
.login-other {
    border-left: 1px solid #DDDDDD;
    display: inline;
    float: left;
    margin-left: -1px;
    padding-left: 60px;
}
.login-other .hd {
    height: 36px;
    line-height: 36px;
    padding-left: 0;
    text-align: center;
}
.login-other .hd strong {
    color: #999999;
    font-size: 16px;
    font-weight: normal;
}
.think-form .verifyimg {
    margin-top: 9px;
}
.other-account li {
    margin: 6px 0;
}
.other-account li a {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #007DDB;
    display: inline-block;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 240px;
}
/* 发布页 */
.add-mod {
	padding: 15px;
}

/* 分页 */
.page {
	text-align: right;
}
.page a {
	display: inline-block;
	padding: 0 6px;
	color: #ccc;
	vertical-align: middle;
	border-radius: 2px;
	background-color: #ebebeb;
}
.page a:hover,
.page .current {
	color: #fff;
	text-decoration: none;
	background-color: #34b4e0
}


/* 内容区-右边栏
------------------------------------------ */
/* 发布按钮 */
.release-btn {
	display: block;
	width: 270px;
	height: 128px;
	text-align: center;
	font-size: 22px;
	color: #fff;
	background-color: #34b4e0;
}
.release-btn:hover {
	text-decoration: none;
	background-color: #3BAAD1;
}
.release-btn em {
	display: block;
	padding-right: 15px;
	text-align: right;
	font-size: 56px;
	font-style: normal;
	font-weight: normal;
	color: #49bce3;
}
.release-btn i {
	display: inline-block;
	margin-right: 5px;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}
.icon-topic {
	background: url(../images/release_topic.png) no-repeat 0 0;
}

/* 用户信息 */
.user-box {
	padding: 20px 15px 15px;
	border-top: 15px solid #34b4e0;
}
.author-info dt {
	font-size: 16px;
	font-weight: bold;
}
.author-info dd {
	color: #a1a1a1;
}
.count-info {
	padding: 15px 1px 0;
}
.count-info a {
	float: left;
	width: 78px;
	border-left: 1px solid #ebebeb;
}
.count-info a:hover {
	text-decoration: none;
}
.count-info a:first-child {
	border-left-width: 0;
}
.count-info span,
.count-info em {
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}
.count-info span {
	color: #a1a1a1;
}
.count-info em {
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
}

/* 分享到 */
.shareto {
	padding: 15px;
	color: #a1a1a1;
}
.sharebox {
	margin-top: 15px;
	text-align: center;
}
.sharebox a {
	display: inline-block;
	margin: 0 10px;
	width: 35px;
	height: 35px;
	font-size: 0;
	line-height: 9;
	overflow: hidden;
}
.icon-sina {
	background: url(../images/sina.png) no-repeat 0 0;
}
.icon-weixin {
	background: url(../images/weixin.png) no-repeat 0 0;
}
.icon-renren {
	background: url(../images/renren.png) no-repeat 0 0;
}
.icon-facebook {
	background: url(../images/facebook.png) no-repeat 0 0;
}
.bt0 {
	border-top-width: 0;
}

/* 单独图片链接 */
.pic-link {
	padding: 10px;
}
.pic-link img {
	display: block;
	width: 258px;
}

/* 排行榜列表 */
.rank-list li {
	height: 35px;
	line-height: 35px;
}
.rank-list li i {
	display: inline-block;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	color: #999;
	background-color: #ebebeb;
}
.rank-list .top3 i {
	color: #fff;
	background-color: #ee784c;
}

/* 发布页提示列表 */
.dot-list {
	margin-left: 15px;
	color: #999;
	list-style-type: disc;
}
.key-list {
	margin: 10px 0 0 10px;
	color: #999;
}
.alert-info {
	padding: 8px;
    color: #3A87AD;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-color: #BCE8F1;
    border-radius: 2px;
	background-color: #D9EDF7;
}

/* 底部
------------------------------------------ */
.footer {
	margin-top: 10px;
	padding: 30px 0;
	min-width: 1000px;
	background-color: #ebebeb;
}
.other{
	padding: 0 100px;
}
.other dl{
	float:left;
	margin-right: 57px;
	width: 228px;
}
.other dt{
	background: url("../images/help_more.png") no-repeat scroll 0 0 transparent;
  float: left;
  margin-right: 18px;
  height: 57px;
  width: 57px;
}
.other .edu {
	background-position: 0 -69px;
	
}
.other .advice {
	background-position: 0 0;
}
.other .invest {
	background-position: 0 -143px;
}
.other dt a{
	display: block;
	width: 57px;
	height:  57px;
}
.other dd{
	font-size: 11px;
	line-height: 15px;
}
.other dd h3{
	font-size: 12px;
	margin-top: 6px;
}
.ft-intro{
	text-align: center;
	padding-top:20px;
	font-size: 12px;
}
/*弹出框样式*/
.detailed-content{
	width: 500px; 
	margin: 0 auto;
	padding: 20px;
}
.detailed-content h2{
	font-size: 14px;
	margin-bottom: 10px;
}
.detailed-content span{
	float:left;
	height: 80px;
}