<div class="thinkbox-content">
	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
		<div class="form-item cf">
			<label class="item-label">文档模型标识：</label>
			<div class="controls">
				<input type="text" class="text" name="name">
				<span class="check-tips">请输入文档模型标识</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">标题：</label>
			<div class="controls">
				<input type="text" class="text" name="title">
				<span class="check-tips">请输入标题</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"></label>
			<div class="controls">
				<button type="submit" class="btn ajax-post" target-form="form-horizontal" id="submit">确定</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
//ajax post submit请求
$('.ajax-post').click(function(){
    var target,query,form;
    var target_form = $(this).attr('target-form');
    if( (this.type=='submit') || (target = $(this).attr('href')) || (target = $(this).attr('url')) ){
        form = $('.'+target_form);
        if ( form.get(0).nodeName=='FORM' ){
            target = form.get(0).action;
            query = form.serialize();
        }else if( form.get(0).nodeName=='INPUT' || form.get(0).nodeName=='SELECT' || form.get(0).nodeName=='TEXTAREA') {
            query = form.serialize();
        }else{
            query = form.find('input,select,textarea').serialize();
        }
        $.post(target,query).success(function(data){
            if (data.status==1) {
                location.reload();
            }else{
                //TODO: 错误提示
            }
        });
    }
    return false;
});
</script>
