<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>新增模型</h2>
	</div>

	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
		<div class="form-item cf">
			<label class="item-label">文档模型标识<span class="check-tips">请输入文档模型标识</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="name">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">标题<span class="check-tips">请输入标题</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="title">
			</div>
		</div>
		<div class="form-item cf">
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal" id="submit">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('Model/index')}"]').closest('li').addClass('current');
</script>
</block>
