<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2>编辑模型</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">文档模型标识：</label>
			<div class="controls">
				<input type="text" class="text" name="name" value="{$name}">
				<span class="check-tips">请输入文档模型标识</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">标题：</label>
			<div class="controls">
				<input type="text" class="text" name="title" value="{$title}">
				<span class="check-tips">请输入标题</span>
			</div>
		</div>

		<div class="form-item cf">
			<label class="item-label"></label>
			<div class="controls">
				<button class="btn" id="submit"><em>确定</em> </button>
				<input type="hidden" name="id" value="{$id}"/>
			</div>
		</div>
	</form>
</block>

<block name="script">
<script type="text/javascript">
$('#submit').click(function(){
	$('#form').submit();
});
</script>
</block>