<extend name="Public/base" />

<block name="body">
<div class="main-title cf">
<h2><if condition="ACTION_NAME eq 'add'">新增<else/>编辑</if>模型</h2>
</div>
<div>
	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
		<div class="form-item cf">
			<label class="item-label">文档模型标识<span class="check-tips">（请输入文档模型标识）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$name}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">标题<span class="check-tips">（请输入标题）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="title" value="{$title}">
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label"></label>
			<div class="controls">
				<input type="hidden" name="id" value="{$id}"/>
				<button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
				<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</div>
	</form>
</div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
    $('.side-sub-menu').find('a[href="{:U('Model/index')}"]').closest('li').addClass('current');
</script>
</block>

