<script type="text/javascript" src="__PUBLIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
(function($){
	//上传URL
	var url = "{:addons_url('Attachment://AttachmentFile/upload?category='.$category['id'])}";
	
	/* 初始化上传插件 */
	$("#attachment").uploadify({
        "height"          : 30,
        "swf"             : "__PUBLIC__/uploadify/uploadify.swf",
        "fileObjName"     : "attachment",
        "uploader"        : url,
        "width"           : 120,
        "onUploadSuccess" : uploadSuccess
    });

	/* 文件上传成功回调函数 */
    function uploadSuccess(file, data){
    	var data = $.parseJSON(data);
        if(data.status){
        	$("input[name='attachment[info]']").val(data.data);
        } else {
        	alert(data.info);
        }
    }
})(jQuery);
</script>