<div class="content">
<div class="title"><present name="Think.get.model_id" >[{$Think.get.model_id|getModelById}] </present> 属性排序 <span class="normal"> [ <a href="__URL__/index/model_id/{$Think.get.model_id|default=0}">返回列表</a> ]</span></div>
<SCRIPT LANGUAGE="JavaScript">
<!--
function saveSort(){
sl.ok();
ThinkAjax.sendForm('form1','__URL__/saveSort/','result');
}
//-->
</SCRIPT>
<div id="result" class="result none"></div>
<import file="Js.Form.SortSelect" />
<FORM METHOD=POST name = 'form1' id="form1">
<div align="center">
<TABLE class="order" cellpadding=0 cellspacing=0 width="350">
<tr><td height="5" colspan="2" class="topTd" ></td></tr>
<TR>
	<Th colspan=2 align="right"><div class="fLeft"><input name="search" class="medium" type="text"></div>
<input type="button" value="查 询" onclick="sl.Search()" class="submit hMargin small " /></Th>
</TR>
<TR >
	<TD width="75%" align="right">
	<div class="solid">
	<SELECT class="multiSelect" name="sort" size="15">
<voList name="sortList" id="node" >
<option value="{$node.id}">{$i}.{$node.title}</option>
</voList>
</SELECT></div></TD>
	<TD width="20" valign="top">
	<div style="margin-top:20px">
	<input type="button" value="第 一" onclick="sl.fnFirst()" class="submit vMargin small " />
<input type="button" value="上 移" onclick="sl.sortUp()" class="submit vMargin small " />
<input type="button" value="下 移" onclick="sl.sortDown()" class="submit vMargin small " />
<input type="button" value="最 后" onclick="sl.fnEnd()" class="submit vMargin small " />
<div class="fLeft vMargin"><INPUT TYPE="text" NAME="jumpNum" size="4"></div>
<input type="button" value="跳 转" onclick="sl.jump()" class="submit vMargin small " />
</div>
</TD>
</TR>
<TR>
	<TD colspan=2 align="center">
	<div style="width:85%"><INPUT TYPE="hidden" name="seqNoList">
	<INPUT TYPE="hidden" name="ajax" VALUE="1">
		<INPUT TYPE="hidden" name="module" VALUE="{$module}">
<input type="button" value="确 定" onclick="saveSort()" class="submit hMargin small " /> 
<input type="reset" value="取 消" onclick="history.back()" class="submit hMargin small " />
</div>
</TD>
</TR>
<tr><td height="5" colspan="2" class="topTd" ></td></tr>
</TABLE>
</div>
</FORM>
<SCRIPT LANGUAGE="JavaScript">
<!--
var sl = new SortSelect('form1','sort','search','jumpNum');
//-->
</SCRIPT>
</div>