<extend name="Base/edit"/>

<block name="addons"></block>

<block name="content">
	<div class="cols">
		<div class="infolabel"><i class="must">*</i>文&#12288;&#12288;件</div>
		<div class="item">
			<input id="download-file" type="file">
			<input name="file" type="hidden" value="{$file|default=''}">
		</div>
	</div>
    <div class="cols">
        <input type="hidden" name="parse" value="0">
        <div class="infolabel"><i class="must">*</i>说&#12288;&#12288;明</div>
        <div class="item description">
            <textarea name="content" id=""></textarea>
        </div>
    </div>
</block>

<block name="style">
	<link rel="stylesheet" type="text/css" href="__COMMON__/uploadify/uploadify.css" />
</block>

<block name="script">
	<script type="text/javascript" src="__COMMON__/uploadify/jquery.uploadify.min.js"></script>>
	<script type="text/javascript">
	(function($){
		/* 初始化上传插件 */
		$("#download-file").uploadify({
	        "height"          : 30,
	        "swf"             : "__COMMON__/uploadify/uploadify.swf",
	        "fileObjName"     : "download",
	        "uploader"        : "{:U('File/upload')}",
	        "width"           : 120,
	        "onUploadSuccess" : uploadSuccess
	    });

		/* 文件上传成功回调函数 */
	    function uploadSuccess(file, data){
	    	var data = $.parseJSON(data);
	        if(data.status){
	        	$("input[name=file]").val(data.data);
	        } else {
	        	alert(data.info);
	        }
	    }
	})(jQuery);
	</script>
</block>
