<tagLib name="html" />
<include file="Public:header" />

<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function deleteRow(e){
	var event = e || event;
     var Elm  =  event.target || event.srcElement; 
        while(Elm  &&  Elm.tagName  !=  "TR")   
        {   
            Elm  =  Elm.parentElement;   
        } 
        var intThisIndex = Elm.rowIndex; 
        Elm.parentElement.deleteRow(intThisIndex);  
}

function addItem(){
	var totalRow = $('actionAtrribute').rows.length;
	var row=$('actionAtrribute').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemTitle[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="itemType[]"><option value="string">文本框</option><option value="array">密码框</option><option value="number">单选框</option><option value="bool">复选框</option><option value="array">列表框</option><option value="array">文本域</option><option value="array">编辑器</option><option value="array">隐藏域</option><option value="array">文件框</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="itemValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemSource[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="itemRead[]"><option value="0">读写</option><option value="1">只读</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="itemComment[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function clearTable(){
	$('form1').reset();
}
function createView(){
	ThinkAjax.sendForm('form1','__URL__/createView',saveComplete);
}
function saveComplete(data,status){
	if (status==1)
	{
		$('form1').reset();
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">表单设计器 [ <A HREF="__URL__">返回</A> ] 	<INPUT TYPE="button" value="保 存" onclick="createView()" class="button">
	<INPUT TYPE="button" class="button" value="重 置" onclick="clearTable()"> </div>
<FORM METHOD=POST id="form1" >
<input type="hidden" name="ajax" value="1">
<TABLE cellpadding=3 cellspacing=3 >
<!-- <TR class="row" >
	<td class="tRight" >数据表名称：</td>
	<Td class=""><SELECT NAME="tableName" id="tableName" onchange="refleshField(this.options[this.options.selectedIndex].value)" class="medium"  >
	<option value="">选择数据表</option>
<iterate name="tables" id="table" >
<option value="{$table}">{$table}</option>
</iterate>
</SELECT></Td>
	</TR> -->
	<TR  >
	<td class="tRight" style="width:100px" >所属模块：</td>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  NAME="module"></Td>
</TR>
	<TR  >
	<td class="tRight" style="width:100px" >保存文件名：</td>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  NAME="filename"> 无需添加模板后缀</Td>
</TR>
<TR  >
	<td class="tRight" style="width:100px" >表单名称：</td>
	<Td class="" ><INPUT TYPE="text" class="medium bLeft"  NAME="name"></Td>
</TR>
<TR class="row" >
	<td class="tRight" style="width:100px" >TARGET：</td>
	<Td class="" ><INPUT TYPE="text" class="small bLeft" NAME="target"></Td>
</TR>

	<TR class="row" >
	<td class="tRight" style="width:100px" >提交类型：</td>
	<Td class="" ><SELECT  name="method" class="hMargin small">
	<option value="POST">POST</option>
	<option value="GET">GET</option>
	</SELECT></Td>
</TR>
	<TR class="row" >
	<td class="tRight" style="width:100px" >ENCTYPE：</td>
	<Td class="" ><SELECT  name="method" class="hMargin small">
	<option value="0">否</option>
	<option value="1">是</option>
	</SELECT></Td>
</TR>
	<TR class="row" >
	<td class="tRight" style="width:100px" >AJAX提交：</td>
	<Td class="" ><SELECT  name="ajaxSubmit" class="hMargin small">
	<option value="1">是</option>
	<option value="0">否</option>
	</SELECT></Td>
</TR>
</TABLE>

<div class="title">表单项  <INPUT TYPE="button" value="增 加" onclick="addItem()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="actionAtrribute">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >标题</Th>
	<Th class="tCenter" >名称</Th>
	<Th class="tCenter" >类型</Th>
	<Th class="tCenter" >数据源</Th>
	<Th class="tCenter" >默认</Th>
	<Th class="tCenter" >只读</Th>
	<Th class="tCenter" >说明</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
</FORM>
</div>
</div>