<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统安装</title>
    <link rel="stylesheet" href="__CSS__/install.css">
</head>
<body>
    <div class="system-install system-step">
        <div class="sihead">
            <!--安装图标-->
            <div class="install-logo">
                <h3>discuz! 安装向导</h3>
            </div>
            <!--/安装图标-->
            <!--安装描述-->
            <div class="install-summary">
                Discuz!X2.5 简体中文 UTF8 版 20130222
            </div>
            <!--/安装描述-->
        </div>
        <div class="sibody">
            <!--安装步骤-->
            <div class="step-install">
                <div class="install-current">
                    <i class="step2">2.</i>     
                    <h3>设置运行环境</h3>
                    <p>检测服务器环境以及设置 UCenter</p>
                </div>
                <div class="install-total cf">
                    <span class="pass"><i class="ico">&nbsp;</i><b>检查安装设置</b></span>
                    <span class="current"><i class="ico">&nbsp;</i><b>设置运行环境</b></span>
                    <span><i class="ico">&nbsp;</i><b>创建数据库</b></span>
                    <span class="last"><i class="ico">&nbsp;</i><b>安装</b></span>
                </div>
            </div>
            <!--/安装步骤-->
            <!--安装环境-->
            <div class="install-milieu">
                <div class="milieu-item"><label><input class="radio" type="radio" checked="checked"/>全新安装 Discuz! X (含 UCenter Server)</label></div>
                <div class="milieu-item"><label><input class="radio" type="radio"/>仅安装 Discuz! X (手工指定已经安装的 UCenter Server)</label></div>
            </div>
            <!--/安装环境-->
            <!--安装跳转-->
            <div class="step-jump">
                <a class="widget-btn" href="{:U('step1')}">上一步</a>
                <a class="widget-btn" href="{:U('step3')}">下一步</a>
            </div>
            <!--/安装跳转-->
        </div>
        <div class="sifoot">
            <!--安装版权-->
            <div class="install-copyright">
                ©2001 - 2012 <a href="#">Comsenz</a> Inc.
            </div>
            <!--/安装版权-->
        </div>
    </div>
</body>
</html>