<!-- 管理员用户组新增和编辑页面 -->
    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST" 
            class="form-horizontal auth-form">
        <div class="form-item">
            <label for="auth-title" class="item-label">用户组：</label>
            <div class="controls">
                <input id="auth-title" type="text" name="title" class="text" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-item">
            <label for="auth-description" class="item-label">描述：</label>
            <div class="controls">
                <textarea id="auth-description" type="text" name="description" class="textarea" >{$auth_group.description}</textarea>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <input type="hidden" name="id" value="{$auth_group.id}" />
                <input type="submit" class="btn save-form" target-form="auth-form" value="保存" />
            </div>
        </div>
    </form>
    <script type="text/javascript" charset="utf-8">
    //ajax post submit请求
    $('.save-form').click(function(){
        var target,query,form;
        var target_form = $(this).attr('target-form');
        if( (this.type=='submit') || (target = $(this).attr('href')) || (target = $(this).attr('url')) ){
            form = $('.'+target_form);
            if ( form.get(0).nodeName=='FORM' ){
                target = form.get(0).action;
                query = form.serialize();
            }else if( form.get(0).nodeName=='INPUT' || form.get(0).nodeName=='SELECT' || form.get(0).nodeName=='TEXTAREA') {
                query = form.serialize();
            }else{
                query = form.find('input,select,textarea').serialize();
            }
            $.post(target,query).success(function(data){
                if (data.status==1) {
                    location.reload();
                }else{
                    //TODO: 错误提示
                }
            });
        }
        return false;
    });
    </script>
