<!-- 管理员用户组新增和编辑页面 -->
    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST" 
            class="form-horizontal auth-form">
        <div class="form-item">
            <label for="auth-title" class="item-label">管理员用户组：</label>
            <div class="controls">
                <input id="auth-title" type="text" name="title" class="text" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-item">
            <label for="auth-description" class="item-label">用户组描述：</label>
            <div class="controls">
                <textarea id="auth-description" type="text" name="description" class="textarea" >{$auth_group.description}</textarea>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <input type="hidden" name="id" value="{$auth_group.id}" />
                <input type="submit" class="btn" value="保存" />
            </div>
        </div>
    </form>
