<extend name="Public/base" />
<!-- 管理员用户组新增和编辑页面 -->
<block name="body">
	<div class="main-title">
		<h2>编辑用户组</h2>
	</div>

    <form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST" 
            class="form-horizontal">
        <div class="form-item">
            <label for="auth-title" class="item-label">用户组：</label>
            <div class="controls">
                <input id="auth-title" type="text" name="title" class="text input-4x" value="{$auth_group.title}"/>
            </div>
        </div>
        <div class="form-item">
            <label for="auth-description" class="item-label">描述：</label>
            <div class="controls">
                <textarea id="auth-description" type="text" name="description" class="textarea input-4x" >{$auth_group.description}</textarea>
            </div>
        </div>
        
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <input type="hidden" name="id" value="{$auth_group.id}" />
                <input type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal" value="保存" />
            </div>
        </div>
    </form>
<block>
<block name="script">
<script type="text/javascript" charset="utf-8">
    //导航高亮
$('.side-sub-menu').find('a[href="{:U('AuthManager/index')}"]').closest('li').addClass('current');
</script>
</block>
