<div id="auth_groups">
    <form class="auth-form" action="{:U('addToGroup')}" method="post" enctype="application/x-www-form-urlencoded" >
        <volist name="auth_groups" id="vo">
            <label class="checkbox controls">
                <input class="auth_groups" type="checkbox" name="group_id[]" value="{$vo.id}">{$vo.title}
            </label>
        </volist>
        <input type="hidden" name="uid" value="{:I('uid')}">
        <input type="hidden" name="batch" value="true">
        <div style="text-align: right; margin-top: 10px;">
            <input class="btn save-form" target-form="auth-form" type="submit" value="保存">
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        var group = [{$user_groups}];
        $('.auth_groups').each(function(){
            if( $.inArray( parseInt(this.value,10),group )>-1 ){
                $(this).prop('checked',true);
            }
        });
    })
//ajax post submit请求
$('.save-form').click(function(){
    var target,query,form;
    var target_form = $(this).attr('target-form');
    if( (this.type=='submit') || (target = $(this).attr('href')) || (target = $(this).attr('url')) ){
        form = $('.'+target_form);
        if ( form.get(0).nodeName=='FORM' ){
            target = form.get(0).action;
            query = form.serialize();
        }else if( form.get(0).nodeName=='INPUT' || form.get(0).nodeName=='SELECT' || form.get(0).nodeName=='TEXTAREA') {
            query = form.serialize();
        }else{
            query = form.find('input,select,textarea').serialize();
        }
        $.post(target,query).success(function(data){
            if (data.status==1) {
                location.reload();
            }else{
                //TODO: 错误提示
            }
        });
    }
    return false;
});
</script>
