<div id="auth_groups">
    <form class="form-item" action="{:U('addToGroup')}" method="post" enctype="application/x-www-form-urlencoded" >
        <ul>
            <volist name="auth_groups" id="vo">
            <li>
                <label class="checkbox">
                    <input class="auth_groups" type="checkbox" name="group_id[]" value="{$vo.id}">{$vo.title}
                </label>
            </li>
            </volist>
            <input type="hidden" name="uid" value="{:I('uid')}">
            <input class="btn" type="submit" value="保存">
        </ul>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        var group = [{$user_groups}];
        $('.auth_groups').each(function(){
            if( $.inArray( parseInt(this.value,10),group )>-1 ){
                $(this).prop('checked',true);
            }
        });
    })
</script>
