<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户组管理</h2>
		<div class="tools auth-botton">
            <a id="add-group" class="btn edit-group" href="{:U('createGroup')}">新建</a>
            <a url="{:U('changestatus',array('method'=>'resumeGroup'))}" id="enable-group" class="btn" href="javascript:;">启用</a>
            <a url="{:U('changestatus',array('method'=>'forbidGroup'))}" id="disable-group" class="btn" href="javascript:;">禁用</a>
            <a url="{:U('changestatus',array('method'=>'deleteGroup'))}" id="delete-group" class="btn auth-button" href="javascript:;">删除</a>
		</div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
        <?php
            $thead = array(
                '_html'=>array(
                    'th'=>'<input class="check-all" type="checkbox"/>',
                    'td'=>'<input class="ids" type="checkbox" name="id[]" value="$id" />',
                ),
                'title'=>array(
                    'title'  =>'用户组',
                    'tag'    =>'a',
                    'class'  =>'edit-group',
                    'data-id'=>'$id',
                    'href'   =>'AuthManager/editgroup?id=$id',
                ),
                'description'=>array(
                    'title' =>'描述',
                    'tag'   =>'span',
                    'tip'   =>'$description',
                    'func'  => 'mb_strimwidth($description,0,30,"...","utf-8")',
                ),
                'status_text'=>'状态',
                '操作'=>array(
                    '禁用'=>array( 'href' => 'AuthManager/changeStatus?method=forbidGroup&id=$id', 'condition'=>'$status==1',), 
                    '启用'=>array( 'href' => 'AuthManager/changeStatus?method=resumeGroup&id=$id', 'condition'=>'$status==0',), 
                    '删除'=>array( 'href' => 'AuthManager/changeStatus?method=deleteGroup&id=$id', 'class'=>'confirm' ),
                ),
                '授权'=>array(
                    '访问授权'=>'AuthManager/access?group_name=$title&group_id=$id',
                    '成员授权'=>'AuthManager/user?group_name=$title&group_id=$id',
                    '分类授权'=>'AuthManager/category?group_name=$title&group_id=$id',
                ),
            );
            echo $_table_list = $__controller__->tableList($_list,$thead);
        ?>
	</div>
    <div class="page_nav">
        {$_page}
    </div>
</block>

<block name="script">
<script type="text/javascript">
    +function($){
        $('.confirm').on('click',function(){
            if(!confirm('确认要删除吗?')){
                return false;
            }
        });
        $('.auth-button').on('click',function(){
            if( this.id=='delete-group' && !confirm('确认要删除吗?')){
                return false;
            }
            var url = $(this).attr('url');
            var ids = $('.ids').serialize();
            if (!ids) {
                //TODO: 错误提示
               	return false;
            }
            $.post(url,ids).success(function(data){
                location.reload();
            }).error(function(data){
                //TODO: 错误提示
                return false;
            });
        });
        //全选节点
    }(jQuery)
</script>
<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
<script type="text/javascript">
	$(function(){
		$(".edit-group").click(function(){
            var id = $(this).attr('data-id');
            var title =id?'编辑用户组':'新建用户组'; 
			var thinkboxOption = {
				title:title,
				actions:['close'],
				drag:true,
				tools:true
			}
			var authorUrl = "{:U('AuthManager/editGroup')}"+'?id='+id;
			$.thinkbox.load(authorUrl,thinkboxOption);
            return false;
		});
	})
</script>
</block>
