<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户组管理</h2>
		<div class="tools auth-botton">
            <a id="add-group" class="btn edit-group" href="{:U('createGroup')}">新建</a>
            <a url="{:U('changestatus',array('method'=>'resumeGroup'))}" id="enable-group" class="btn" href="javascript:;">启用</a>
            <a url="{:U('changestatus',array('method'=>'forbidGroup'))}" id="disable-group" class="btn" href="javascript:;">禁用</a>
            <a url="{:U('changestatus',array('method'=>'deleteGroup'))}" id="delete-group" class="btn auth-button" href="javascript:;">删除</a>
		</div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
        {$_table_list}
	</div>
    <div>
        {$_page}
    </div>
</block>

<block name="script">
<script type="text/javascript">
    +function($){
        $('.confirm').on('click',function(){
            if(!confirm('确认要删除吗?')){
                return false;
            }
        });
        $('.auth-button').on('click',function(){
            if( this.id=='delete-group' && !confirm('确认要删除吗?')){
                return false;
            }
            var url = $(this).attr('url');
            var ids = $('.ids').serialize();
            if (!ids) {
                //TODO: 错误提示
               	return false;
                // console.warn('没有选择内容')
            }
            $.post(url,ids).success(function(data){
                location.reload();
            }).error(function(data){
                //TODO: 错误提示
                return false;
                // console.error(data);
            });
        });
        //全选节点
    }(jQuery)
</script>
<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
<script type="text/javascript">
	$(function(){
		$(".edit-group").click(function(){
            var id = $(this).attr('data-id');
            var title =id?'编辑用户组':'新建用户组'; 
			var thinkboxOption = {
				title:title,
				actions:['close'],
				drag:true,
				tools:true
			}
			var authorUrl = "{:U('AuthManager/editGroup')}"+'?id='+id;
			$.thinkbox.load(authorUrl,thinkboxOption);
            return false;
		});
	})
</script>
</block>
