<!-- 管理员用户组新增和编辑页面 -->
<extend name="Public/base" />
<block name="body">
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li class="current"><a href="javascript:;">访问授权</a></li>
			<li><a href="javascript:;">成员授权</a></li>
			<li><a href="javascript:;">分类授权</a></li>
		</ul>
		<div class="tab-content">
			<!-- 访问授权 -->
			<div class="tab-pane in">
				<div class="main-title">
					<h2>授权编辑</h2>
				</div>
				<form action="{:U('AuthManager/writeGroup')}" enctype="application/x-www-form-urlencoded" method="POST"
		            class="form-horizontal auth-form">
					<volist name="node_list" id="node" >
						<dl class="checkmod">
							<dt class="hd">
								<label class="checkbox"><input class="auth_rules" type="checkbox" name="rules[]" value="<?php echo $main_rules[$node['url']] ?>">{$node.title}管理</label>
							</dt>
							<dd class="bd">
								<volist name="node['child']" id="child" >
                                <div>
									<label class="checkbox" <notempty name="child['tip']">title='{$child.tip}'</notempty>>
			                           <input class="auth_rules" type="checkbox" name="rules[]" 
			                           value="<?php echo $auth_rules[$child['url']] ?>"/>{$child.title}
			                       </label>
			                       <notempty name="child['operator']">
				                       <span class="divsion">-</span>
				                       <span>
				                           <volist name="child['operator']" id="op">
					                           <label class="checkbox" <notempty name="op['tip']">title='{$op.tip}'</notempty>>
					                               <input class="auth_rules" type="checkbox" name="rules[]" 
					                               value="<?php echo $auth_rules[$op['url']] ?>"/>{$op.title}
					                           </label>
				                           </volist>
				                       </span>
			                       </notempty>
                               </div>
								</volist>
							</dd>
						</dl>
					</volist>

			        <input type="hidden" name="id" value="{$auth_group.id}" />
			        <input type="submit" class="btn" value="保存" />
			    </form>
			</div>

			<!-- 成员授权 -->
			<div class="tab-pane">
				<include file="user" />
			</div>

			<!-- 分类 -->
			<div class="tab-pane"></div>
		</div>
	</div>
    
</block>
<block name="script">
<script type="text/javascript" src="__STATIC__/qtip/jquery.qtip.min.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/qtip/jquery.qtip.min.css" media="all">
<script type="text/javascript" charset="utf-8">
    +function($){
        var rules = [{$auth_group.rules}];
        $('.auth_rules').each(function(){
            if( $.inArray( parseInt(this.value,10),rules )>-1 ){
                $(this).prop('checked',true);
            }
            if(this.value==''){
                $(this).closest('span').remove();
            }
        });

        //全选节点
        $('.rules_all').on('change',function(){
            $(this).parents('.rules_row').find('input').prop('checked',this.checked);
        });

        $('.checkbox').each(function(){
            $(this).qtip({
                content: {
                    text: $(this).attr('title'),
                    title: $(this).text()
                },
                position: {
                    my: 'bottom center',
                    at: 'top center',
                    target: $(this)
                },
                style: {
                    classes: 'qtip-blue',
                    tip: {
                        corner: true,
                        mimic: false,
                        width: 10,
                        height: 10
                    }
                }
            });
        })
    }(jQuery);
</script>
</block>
