<extend name="Public/base" />
<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
        <h2>{:I('group_name')}列表</h2>
        <div id="add-to-group" class="tools ">
            <form action="{:U('addToGroup')}" method="post" enctype="application/x-www-form-urlencoded" >
                <input class="text input-small" type="text" name="uid" placeholder="请输入uid">
                <input type="hidden" name="group_id" value="{:I('group_id')}">
                <input class="btn" type="submit" value="添加">
            </form>
        </div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
        {$authed_user}
	</div>
    <div>
        {$_page}
    </div>
</block>
<block name="script">
<script src="__STATIC__/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" charset="utf-8">
    //导航高亮
    var cookie_prefix = '{:C("COOKIE_PREFIX")}';
	var auth_index = $.cookies.get(cookie_prefix+'auth_index');
    $('.side-sub-menu').find('a[href*="'+ auth_index+'"]').closest('li').addClass('current');
</script>
</block>
