<import  file="Js.Util.DatePicker.WdatePicker" />
<import  file="Js.Form.MultiSelect" />
<import  file="Js.KindEditor.kindeditor" />
<notempty name="model.js_path">
<script type="text/javascript" src="{$model.js_path}"></script>
</notempty>
<div class="content">
<div class="title"><empty name="preview">新增{$model.title|default='文档'} <span class="normal">[ <a href="{$Think.cookie.__forward1__}">返回列表</a> ]<else/>[{$model.title|default='文档'}]表单预览<span class="normal"> [ <a href="javascript:history.back()">返回</a> ]</empty></span></div>
<div class="fLeft" style="width:65%;">
<form method=post id="form1" name="form1" action="__URL__/insert" enctype="multipart/form-data">
<table cellpadding=3 cellspacing=3 width="100%">
<volist name="attr_list" id="vo">
<tr>
	<td class="tRight tTop" >{$vo.title}</td>
	<td class="tLeft" ><attr var="vo" complex="1" /> {$vo.remark}</td>
</tr>
</volist>
<eq name="model.name" value="attachment">
<tr>
	<td class="tRight">上传附件</td>
	<td class="tLeft" ><input type="file" name="{$model.name}" class="file large" /></td>
</tr>
</eq>
<tr>
	<td ></td>
	<td class="center"><div style="width:85%;margin:5px">
	<volist name="hidden_list" id="hide">
	<input type="hidden" name="{$hide.name}" value="{$hide.value}">
	</volist>
	<input type="hidden" name="status" value="1">
	<input type="hidden" name="_module" value="{$model.name}">
	<notempty name="model.support_cate">
	<input type="hidden" name="cate_id" value="{$Think.get.cate_id}">
	</notempty>
	<notempty name="model.support_level">
	<input type="hidden" name="level" value="{$level}">
	<input type="hidden" name="pid" value="{$pid}">
	</notempty>
	<notempty name="foreign_key">
	<input type="hidden" name="{$foreign_key}" value="{$_GET[$foreign_key]}">
	</notempty>
	<input type="submit" value="保 存"  <notempty name="preview">disabled</notempty> class="button medium">
	<present name="curFlowId"><input type="button" value="发 送" onclick="sendNextFlow()" class="button medium"></present>
	</div>
	</td>
</tr>
</table>
</form>
</div>
<div class="fLeft">
<eq name="model.support_attach" value="1">
<div id="result" class="result none"></div>
<table cellpadding=3 cellspacing=3 width="100%">
<tr>
	<td colspan="2" class="tLeft">附件：<span style="font-weight:bold;color:red">在保存之前请首先上传附件</span><hr style="width:95%"></td>
</tr>
<tr>
	<td class="tLeft tTop" colspan="2">
	<form id="upload" METHOD=POST action="__URL__/upload/" onsubmit="return CheckForm(this);" enctype="multipart/form-data" target="iframeUpload">
	<INPUT TYPE="hidden" name="ajax" value="1">
	<iframe name="iframeUpload" src="" width="350" height="35" frameborder=0  SCROLLING="no" style="display:none"></iframe>
	<INPUT TYPE="hidden" name="_uploadFileResult" value="result">
	<INPUT TYPE="hidden" name="_uploadFormId" value="upload">
	<INPUT TYPE="hidden" name="_uploadFileSize" value="-1">
	<INPUT TYPE="hidden" name="_uploadResponse" value="uploadComplete">
	<INPUT TYPE="hidden" name="_uploadFileVerify" value="{$verify}">
	<INPUT TYPE="hidden" name="_uploadFileTable" value="{$model.name}">
	<INPUT TYPE="button" value="增 加" onclick="addRow();" class="button small">
	<INPUT TYPE="submit" value="上 传" <notempty name="preview">disabled</notempty> onclick="uploading();" class="small button ">
	<table id='tbl' style="clear:both"></table>
	</form>
	</td>
</tr>
<tr>
    <td colspan="2" >
        <fieldset  style="float:left;width:75%">
        <legend >附件列表</legend>
            <table cellpadding=3 cellspacing=3 width="100%"  >
                <div id="attachs" style="float:left"></div>
            </table>
        </fieldset>
    </td>
</tr>
</table>

<SCRIPT LANGUAGE="JavaScript">
<!--
function addRow(){
	curFileNum++;
	rowsnum++;
    var row=tbl.insertRow(-1);
	//var td = arow.insertCell();
	var cell = document.createElement("td");
	cell.innerHTML='<div class="impBtn  fLeft" ><INPUT TYPE="file" id="file'+curFileNum+'" name="file'+ curFileNum +'" class="file  large"></div><div class="fLeft hMargin"><IMG SRC="../Public/images/del.gif"  style="cursor:hand" onfocus="javascript:getObject(this)" onclick="deleteRow();" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle"></div> ';
	cell.align="center"
	row.appendChild(cell);
	//addFileForm.num.value=rowsnum;
}
function deleteRow(){
	if(tbl.rows.length>0){
		tbl.deleteRow(rindex); //删除当前行
		rowsnum--;
	}else{
		return;
	}
	rindex="";
}
function getObject(obj){
	rindex=obj.parentElement.parentElement.rowIndex;/*当前行对象*/
}

function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<IMG SRC="../Public/images/ajaxloading.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="" align="absmiddle"> 文件上传中～';
	return true;
}
function uploadComplete(id,name,savename){
    var _strId = new Array();
    var _strName = new Array();
    var _strSaveName= new Array();
    _strId = id.split(",");
    _strName= name.split(",");
    _strSaveName= savename.split(",");
    for(var i =0 ; i <_strId.length  ; i++)
    {
         $('attachs').innerHTML+='<tr><td><div id="id_'+_strId[i]+'" style="float:left;padding:5px;">'
                               +'<img src="'+_strSaveName[i].substr(1,100)+'" class="pic" width="100px">'
                               +'&nbsp;&nbsp;<IMG SRC="../Public/images/del.gif" WIDTH="20" HEIGHT="20"style="cursor:hand; 1px solid red" align="absmiddle"  BORDER="0" ALT="删除附件" onfocus="javascript:getObject(this)" onclick="delPic('+_strId[i]+')"></div></td></tr>';

    }
}
function delPic(id)
{
   ThinkAjax.send('__URL__/delAttach/id/'+id,'ajax=1',delPicComplete);
}
function delPicComplete (data,status)
{
    if(status==1)
    {
        $('id_'+data).outerHTML = '';
    }
}
<present name="curFlowId">
function sendNextFlow(flowId){
	window.location.href = '__URL__/sendFlow/flow_id/{$nextFlowId}&record_id={$record_id}';
}
</present>
var curFileNum = 0;
var rowsnum=0;  //记录行数
var rindex="";       //列索引
var tbl	=	document.getElementById('tbl');
addRow();
//-->
</SCRIPT>
</eq>

