<extend name="Public/base" />

<block name="body">
	<!-- 表单 -->
	<form id="form" action="{:U('update')}" method="post" class="form-horizontal">
		<div class="form-item cf">
			<label class="item-label">文档标识：</label>
			<div class="controls">
				<input type="text" class="text" name="name" value="{$name}">
				<span class="check-tips">请输入文档标识</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">标题：</label>
			<div class="controls">
				<input type="text" class="text" name="title" value="{$title}">
				<span class="check-tips">请输入标题</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">发布者：</label>
			<div class="controls">
				<input type="text" class="text" value="{$uid|get_username}" disabled="disabled">
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">分类：</label>
			<div class="controls">
				<input type="text" class="text" name="category_id" value="{$category_id|get_category_title}" disabled="disabled">
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">模型：</label>
			<div class="controls">
				<input type="text" class="text" name="model_id" value="{$model_id|get_document_model='title'}" disabled="disabled">
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">文档类型：</label>
			<div class="controls">
				<input type="text" class="text" name="type" value="{$type|get_document_type}" disabled="disabled">
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">简介：</label>
			<div class="controls">
				<label class="textarea"><textarea name="description">{$description}</textarea></label>
				<span class="check-tips">请输入简介</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">推荐位：</label>
			<div class="controls">
				<label class="checkbox"><input type="checkbox" name="position[]" value="1" <if condition="check_document_position($position,1)">checked="checked"</if>>列表推荐</label>
				<label class="checkbox"><input type="checkbox" name="position[]" value="2" <if condition="check_document_position($position,2)">checked="checked"</if>>频道页推荐</label>
				<label class="checkbox"><input type="checkbox" name="position[]" value="4" <if condition="check_document_position($position,4)">checked="checked"</if>>首页推荐</label>
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">外链：</label>
			<div class="controls">
				<input type="text" class="text" name="link_id" value="{$link_id}">
				<span class="check-tips"></span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">可见性：</label>
			<div class="controls">
				<label class="radio"><input type="radio" name="display" value="0" <eq name="display" value="0">checked="checked"</eq>>不可见</label>
				<label class="radio"><input type="radio" name="display" value="1" <eq name="display" value="1">checked="checked"</eq>>所有人可见</label>
				<span class="check-tips">可见性必选</span>
			</div>
		</div>
		<div class="form-item cf">
			<label class="item-label">截止时间：</label>
			<div class="controls">
				<input type="text" class="text" name="dateline" value="{$dateline}">
				<span class="check-tips"></span>
			</div>
		</div>

		<!-- 引入扩展文档模型 -->
		<include file="$template"/>

		<div class="btn-toolbar">
			<button class="btn" id="submit"><em>确定</em> </button>
		</div>
		<input type="hidden" name="id" value="{$id}"/>
		<input type="hidden" name="model_id" value="{$model_id}"/>
	</form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
$('#submit').click(function(){
	$('#form').submit();
});

(function($){
	/* 初始化上传插件 */
	$("#download-file").uploadify({
        "height"          : 30,
        "swf"             : "__STATIC__/uploadify/uploadify.swf",
        "fileObjName"     : "download",
        "uploader"        : "{:U('File/upload')}",
        "width"           : 120,
        "onUploadSuccess" : uploadSuccess
    });

	/* 文件上传成功回调函数 */
    function uploadSuccess(file, data){
    	var data = $.parseJSON(data);
        if(data.status){
        	$("input[name=file]").val(data.data);
        	$("input[name=file]").parent().find('.check-tips').text(data.info);
        } else {
        	alert(data.info);
        }
    }
})(jQuery);
</script>
</block>