<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>


<block name="body">
	<!-- 标题 -->
	<div class="main-title">
		<h2>
		文档列表 [
		<volist name="rightNav" id="nav">
		<a href="{:U('article/index','cate_id='.$nav['id'])}">{$nav.title}</a><if condition="count($rightNav) gt $i"> > </if>
		</volist>
		] 
		</h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<notempty name="child_cates">
		<ul class="tab-nav nav">
			<volist name="child_cates" id="child_cate">
				<li <eq name="child_cate['id']" value="$cate_id">class="current"</eq>><a data-tab="tab" href="{$child_cate.url|U}">{$child_cate.title}</a></li>
			</volist>
		</ul>
		</notempty>
		<div class="tab-content">
			<!-- 标签一内容 -->
			<div id="tag1" class="tab-pane in">
				<!-- 操作按钮区 -->
				<div class="cf">
					<div class="fl">
						<button class="btn" id="document_add" url="{:U('article/add',array('cate_id'=>$cate_id,'model_id'=>$model[0]))}">新 增</button>
						<button class="btn" name="document_operate" status="-1">删 除</button>
						<button class="btn" name="document_operate" status="1">启 用</button>
						<button class="btn" name="document_operate" status="0">禁 用</button>
					</div>

					<div class="tools fr">
						<div class="search-form cf">
							<div class="drop-down">
								<span id="sch-sort-txt" class="sort-txt" data="{$status}"><if condition="get_status_title($status) eq ''">所有<else/>{:get_status_title($status)}</if></span>
								<i class="arrow arrow-down"></i>
								<ul id="sub-sch-menu" class="nav-list hidden">
									<li><a href="javascript:;" value="">所有</a></li>
									<li><a href="javascript:;" value="1">正常</a></li>
									<li><a href="javascript:;" value="0">禁用</a></li>
									<li><a href="javascript:;" value="2">待审核</a></li>
								</ul>
							</div>
							<input type="text" name="search" value="{$search}">
							<a class="sch-btn" href="javascript:;" id="search" url="{:U('article/index','cate_id='.$cate_id,false)}">高级搜索</a>
						</div>
					</div>
				</div>

				<!-- 数据列表 -->
				<div class="data-table">
					<table>
						<thead>
							<tr>
								<th class="row-selected"><input type="checkbox" class="check-all"/></th>
								<th>标题</th>
								<th>创建者</th>
								<th>创建时间</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
							<tr>
								<td><input type="checkbox" value="{$vo.id}" class="ids"/></td>
								<td><a href="{:U('edit',array('id'=>$vo['id'],'cate_id'=>$cate_id))}">{$vo.title}</a></td>
								<td>{$vo.uid|get_username}</td>
								<td>{$vo.create_time|time_format}</td>
								<td>{$vo.status|get_status_title}</td>
								<td>
									<a href="{:U('edit',array('id'=>$vo['id'],'cate_id'=>$cate_id))}">编辑</a>
									<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>-1))}">删除</a>
									<eq name="vo['status']" value="0">
										<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>1))}">启用</a>
									</eq>
									<eq name="vo['status']" value="1">
										<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>0))}">禁用</a>
									</eq>
									<eq name="vo['status']" value="2">
										<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>1))}">审核</a>
									</eq>
								</td>
							</tr>
							</volist>
						</tbody>
					</table>
				</div>

				<!-- 分页 -->
				<div class="page">{$page}</div>
			</div>
		</div>
	</div>



</block>
<block name="script">
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var status = $("#sch-sort-txt").attr("data");
		var search = $('input[name=search]').val();
		if(status != ''){
			url += '/status/' + status;
		}
		if(search != ''){
			url += '/search/' + encodeURIComponent(search);
		}
		window.location.href = url;
	});
	//新增功能
	$("#document_add").click(function(){
		window.location.href = $(this).attr('url');
	})
	//批量操作
	$("button[name=document_operate]").click(function(){
		var status = $(this).attr('status');
		//获取选中的数据
		var checked = $('input:checked');
		var ids = new Array();
		checked.each(function(i){
			var id = $(this).val();
			if(id != 'on'){
				ids[ids.length] = id;
			}
		});
		if(ids.length == 0){
			alert('请选择要操作的数据！');
			return false;
		}
		//进行ajax操作
		$.post(
			"{:U('setStatus')}",
			{
				'ids' : ids,
				'status' : status
			},
			function(data){
				if(data.status == 1){
					alert('设置成功！');
					setTimeout(function(){window.location.reload()},1500);
				}else{
					alert('操作失败！');
				}
			},
			'json'
		);
	});

	/* 高级搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$("#sub-sch-menu").removeClass("hidden");
	},function(){
		$("#sub-sch-menu").addClass("hidden");
	});
	$("#sub-sch-menu li").find("a").each(function(){
		$(this).click(function(){
			var text = $(this).text();
			$("#sch-sort-txt").text(text).attr("data",$(this).attr("value"));
			$("#sub-sch-menu").addClass("hidden");
		})
	});
})
</script>
</block>