<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>文档列表</h2>
		<div class="tools">
			<form action="#" method="post" class="search-form">
				<input type="text" name="" class="text" placeholder="请输入关键字">
				<select name="">
					<option value="">所有状态</option>
					<option value="">启用</option>
					<option value="">禁用</option>
					<option value="">待审核</option>
				</select>
				<input type="submit" value="查询" class="btn">
			</form>	
		</div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table">
		<table>
			<thead>
				<tr>
					<th></th>
					<th>标题</th>
					<th>创建者</th>
					<th>创建时间</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr>
					<td><input type="checkbox" value="{$vo.id}" name="select"/></td>
					<td>{$vo.title}</td>
					<td>{$vo.uid|get_username}</td>
					<td>{$vo.create_time|time_format}</td>
					<td>{$vo.status|get_status_title}</td>
					<td>
						<a href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>
						<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>-1))}">删除</a>
						<eq name="vo['status']" value="0">
							<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>1))}">启用</a>
						</eq>
						<eq name="vo['status']" value="1">
							<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>0))}">禁用</a>
						</eq>
						<eq name="vo['status']" value="2">
							<a href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>1))}">审核</a>
						</eq>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<input type="button" class="btn" value="新增" id="document_add"/>
	<input type="button" class="btn" value="删除" name="document_operate" status="-1"/>
	<input type="button" class="btn" value="启用" name="document_operate" status="1"/>
	<input type="button" class="btn" value="禁用" name="document_operate" status="0"/>
</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("input[name=document_operate]").click(function(){
		var status = $(this).attr('status');
		//获取选中的数据
		var checked = $('input:checked');
		var ids = new Array();
		checked.each(function(i){
			var id = $(this).val();
			if(id != 'on'){
				ids[ids.length] = id;
			}
		});
		if(ids.length == 0){
			alert('请选择要操作的数据！');
			return false;
		}
		//进行ajax操作
		$.post(
			"{:U('setStatus')}",
			{
				'ids' : ids,
				'status' : status
			},
			function(data){
				if(data.status == 1){
					alert('设置成功！');
					setTimeout(function(){window.location.reload()},1500);
				}else{
					alert('操作失败！');
				}
			},
			'json'
		);
	});
})
</script>
</block>