<extend name="Public/base" />

<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>回收站({:count($list)})</h2>
	</div>

    <div class="tools auth-botton">
        <button url="{:U('article/clear')}" class="btn ajax-get">清 空</button>
        <button url="{:U('article/permit')}" class="btn ajax-post" target-form="ids">还 原</button>
    </div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
        <?php
            $thead = array(
                '_html'=>array(
                    'th'=>'<input class="check-all" type="checkbox"/>',
                    'td'=>'<input class="ids" type="checkbox" name="ids[]" value="$id" />',
                ),
                'id'=>'编号',
                'title'=>'标题',
                'category_id'  =>array(
                    '_title'=>'分类',
                    'tag' =>'span',
                    'func'  =>'get_cate($category_id)',
                ),
				'type'=>array(
					'_title'=>'类型',
					'tag'   =>'span',
					'func'	=>	'get_document_type($type)',
				),
                'username'=>'创建者',
                'update_time'=>array(
                    '_title'=>'删除日期',
                    'tag'   =>'span',
                    'func'  => 'date("m-d H:i",$update_time)',
                ),
                '操作'=>array(
                    '还原'=>array(
                        'href' =>'article/permit?ids=$id',
                        'class'=>'ajax-get',
                    ),
                ),
            );
            echo $_table_list = $__controller__->tableList($list,$thead);
        ?>
	</div>
    <div class="page">
        {$_page}
    </div>
</block>
