<extend name="Base/article"/>

<block name="category"></block>

<block name="body">
	<taglib name="article"/>
	<div class="box contentbox mb0">
		<div class="detail-hd">
			<div class="t-header cf">
				<h1>{$info.title}</h1>
				<div class="turn">
					<article:prev name="prev" info="info">
						<a class="prev" title="上一篇：{$prev.title}" href="{:U('?id='.$prev['id'])}"></a>
					</article:prev>
					<a class="dir" title="返回目录" href="{:U('lists?category='.get_category_name($info['category_id']))}"></a>
					<article:next name="next" info="info">
						<a class="next" title="下一篇：{$next.title}" href="{:U('?id='.$next['id'])}"></a>
					</article:next>
				</div>
			</div>
			<div class="t-footer cf">
				<span class="fr">楼主</span>
				<a href="#">{$info.uid|get_username}</a>
				<span>发表于：{$info.create_time|date='Y/m/d',###}</span>
				<span>分类：{$info.category_id|get_category_title}</span>
			</div>
		</div>
		<div class="detail-bd">
			{:hooks('document_detail_before', 'widget', $info)}
			<div class="content">{$info.content}</div>
			{:hooks('document_detail_after', 'widget', $info)}
		</div>
	</div>

	<article:partlist id="$info['id']" name="list">
		<div class="reply-box">
			<div class="detail-hd">
				<div class="t-footer dotborder cf">
					<span class="fr">{$i*$page}楼</span>
					<a href="#">{$list.uid|get_username}</a>
					<span>发表于：{$list.create_time|date='Y/m/d',###}</span>
				</div>
			</div>
			<div class="detail-bd">
				<div class="content">{$list.content}</div>
				<div class="b-footer cf">
					<a class="icon-btn" href="javascript:;"><i class="icon-reply"></i>回复</a>
					<a class="icon-btn" href="javascript:;"><i class="icon-edit"></i>编辑</a>

					<!-- 管理员功能 -->
					<if condition="is_administrator()">
						<a class="icon-btn" href="javascript:;"><i class="icon-del"></i>删除</a>
						<a class="icon-btn" href="javascript:;"><i class="icon-top"></i>置顶</a>
						<a class="icon-btn" href="javascript:;"><i class="icon-recommend"></i>推荐</a>
					</if>
					<!-- /管理员功能 -->
				</div>
			</div>
		</div>
	</article:partlist>

	<div class="page mt">
		<article:partpage id="$info['id']" listrow="10" />
	</div>

	<form action="{:U('save')}" method="post" class="postform cf">
		<div class="avatar"><img src="__IMG__/temp/36_36.png" alt=""></div>
		<div class="bd">
			<div class="area">
				<input type="hidden" name="model_id" value="1">
				<input type="hidden" name="category_id" value="0">
				<input type="hidden" name="pid" value="{$info.id}">
				<input type="hidden" name="type" value="3">
				<input type="hidden" name="parse" value="0">
				<textarea name="content" class="atxt"></textarea>
			</div>
			<div>
				<input type="submit" class="submit" value="回复">
				<label class="checkbox"><input type="checkbox" name="">回帖后跳转到最后一页</label>
			</div>
		</div>
	</form>
</block>