<extend name="Base/common"/>

<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h2>发表话题</h2>
			<p class="lead"></p>
		</div>
	</header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
  <!-- <div class="span3 bs-docs-sidebar"> -->
  <!-- </div> -->
</block>
<block name="body">
      <div class="span12">
        <!-- Contents
        ================================================== -->
        <section id="contents" class="onethink add-topic">
            <form class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="topic-title">标题</label>
                <div class="controls">
                  <input type="text" id="topic-title" placeholder="请输入标题" class="span3">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="topic-content">标题</label>
                <div class="controls">
                    <textarea type="text" id="topic-content" class="span8" rows="10"></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn">发 表</button>
                </div>
              </div>
            </form>
        </section>
      </div>
    </div>
</block>
