<extend name="Base/common"/>

<block name="header">
	<header class="jumbotron subhead" id="overview">
		<div class="container">
			<h1>源自相同起点，演绎不同精彩！</h1>
			<p class="lead"></p>
		</div>
	</header>
</block>

<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">

		<volist name="list" id="data">
			<div>
				<h3><a href="{:U('Article/detail?id='.$data['id'])}">{$data.title}</a></h3>
			</div>
			<div>
				<span>
					<span class="author">{$data.uid|get_username}</span>
					<span>于 {$data.create_time|date='Y-m-d H:i:s',###}</span> 发表在 
					<span><a href="">{$data.category_id|get_category_title}</a></span> </span>
			</div>
			<hr/>
        </volist>

            <div class="pagination pagination-right pagination-large">
                          <ul>
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                         </ul>
            </div>
        </section>
      </div>
    </div>
</block>
