{volist name="tree" id="list"}
<dl class="cate-item">
    <dt class="cf">
    <div class="fold"><i></i></div>
    <label>
        <div class="order"> <input class="cate_id" type="checkbox" name="cid[]" value="{$list.id}"></div>
        <div class="name">
            <span class="tab-sign"></span>
            {$list.title}
            <span class="help-inline msg"></span>
        </div>
    </label>
    </dt>
    {notempty name="list['_child']"}
    <dd>
        {$list['_child']|tree_view='admin@AuthManager/tree'}
    </dd>
    {/notempty}
</dl>
{/volist}