<extend name="Base/common"/>
<block name="header">
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h2>文档标题</h2>
    <p><span><span  class="pull-left"><span class="author">admin</span> <span> 发表于 2013-9-12 15:00</span></span> <span class="pull-right"> <a href="">上一篇</a> <a href="">下一篇</a></span> </p>
  </div>
</header>
</block>
<block name="body">
      <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">

                <p>默克尔建议，安理会可通过国际刑事法院对叙政府是否使用化学武器进行裁定。她强调，叙利亚问题必须通过政治途径解决。 </p>
                <p>默克尔重申，德国不会参与可能对叙利亚采取的军事行动。 </p>
                <p>默克尔说，国际社会必须确保不再发生使用大规模杀伤性武器事件。她希望联合国调查叙利亚化学武器问题真相小组尽快提交调查报告，并表示德国将为调查小组检验样本提供帮助。 </p>
                <p>默克尔说，德国承诺接收5000名叙利亚难民。自2011年起，德国已接收超过1．7万名叙利亚政治避难人员，并向叙提供超过3亿欧元（3．9亿美元）援助资金，用于人道主义救助。 </p>
                <p>默克尔曾多次强调，希望政治解决叙利亚问题，德国政府对参与可能对叙利亚采取的军事行动持最大克制态度。在6日结束的二十国集团领导人第八次峰会上，默克尔表示应由国际刑事法院对叙危机进行评估。 </p>
                <p>(原标题：德国主张叙利亚危机交由联合国安理会解决)</p>

        </section>
        <hr/>

        <!-- 评论列表 -->
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href=""><img class="media-object" src="__IMG__/64x64.gif" alt=""></a>
                <div class="media-body">
                    <h4 class="media-heading">administrator</h4>
                    <p>美利坚人类的希望!</p>
                    <div class="media">
                        <a class="pull-left" href=""><img class="media-object" src="__IMG__/64x64.gif" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">dddd</h4>
                            <p>什么啊</p>
                            <div class="media">
                                <a class="pull-left" href=""><img class="media-object" src="__IMG__/64x64.gif" alt=""></a>
                                <div class="media-body">
                                    <h4 class="media-heading">小李</h4>
                                    <p>没什么</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <!-- 评论表单 -->
        <div class="control-group">
            <textarea name="" rows="5" class="span9"> </textarea>
            <div> 
                <button class="btn">发表评论</button>
            </div>
        </div>


    </div>
</block>
