<load  type="js" file="Js.Util.JTree" /> 
<!-- 主体内容  -->
<div class="content" >
<div class="title"> 菜单授权  [ <a href="__URL__">返 回</a> ] <span class="normal">[ <A href="__URL__/app/groupId/{$Think.get.groupId}">应用授权</A> <A href="__URL__/url/groupId/{$Think.get.groupId}">访问授权</A> <A href="__URL__/menu/groupId/{$Think.get.groupId}">菜单授权</A> <A href="__URL__/model/groupId/{$Think.get.groupId}">模型授权</A> <A href="__URL__/cate/groupId/{$Think.get.groupId}">分类授权</A> ] </span></div>
<!--  功能组区域  -->
<script language="JavaScript">
<!--
function saveAccess(){
ThinkAjax.sendForm('form1','__URL__/setMenu/');
}
//-->
</script>
<div id="result" class="result none"></div>
<import  file="Js.Form.MultiSelect" />
<form method=post id="form1">
<table class="select" style="width:265px" align="center">
<tr><td height="5" class="topTd" ></td></tr>
<tr><th class="tCenter">当前组：<html:select name="groupId" style="medium" change="location.href = '?groupId='+this.options[this.selectedIndex].value;" first="选择组" options="groupList" selected="selectGroupId" />
</th></tr>
<tr><td >
<html:select id="groupMenuId" name="groupMenuId[]" options="menuList" selected="groupMenuList"  multiple="true" style="multiSelect" size="15" />
</td>
</tr>
<tr>
<th  class="row tCenter" >
<input type="button" onclick="allSelect()" value="全 选" class="submit  ">
<input type="button" onclick="InverSelect()" value="反 选" class="submit  ">
<input type="button" onclick="allUnSelect()" value="全 否" class="submit ">
<input type="hidden" name="ajax" VALUE="1">
</th>
</tr>
<tr>
<td height="5" class="bottomTd" >
</td>
</tr>
</table>
<input type="button" onclick="saveAccess()" value="保 存" class="button medium  ">
</form>

</div>
<!-- 主体内容结束 -->
