<import  file="Js.Form.MultiSelect" />
<!-- 主体内容  -->
<div class="content" >
<div class="title">组用户列表 [ <a href="__URL__">返 回</a> ]</div>
<!--  功能组区域  -->
<script language="JavaScript">
<!--
function saveAccess(){
ThinkAjax.sendForm('form1','__URL__/setUser/');
}
function goType(type){
	window.location = '?type='+type;
}
//-->
</script>
<div id="result" class="result none"></div>
<form method=post id="form1">
<table class="select" style="width:265px" ALIGN='center'><tr><td height="5" class="topTd" ></td></tr><tr><th class="tRight">当前组：<html:select name="groupId" change="location.href = '__URL__/user/id/'+this.options[this.selectedIndex].value;" first="选择组" style="medium" options="groupList" selected="selectGroupId" />
</th></tr>
<tr><td >
<html:select name="groupUserId[]" id="sourceS" options="userList" selected="groupUserList"  multiple="true" style="multiSelect" size="15" />
</td>
</tr> 
<tr>
<td  class="row tCenter" >
<input type="button" onclick="allSelect()" value="全 选" class="submit  ">
<input type="button" onclick="InverSelect()" value="反 选" class="submit  ">
<input type="button" onclick="allUnSelect()" value="全 否" class="submit ">
<input type="hidden" name="groupId" VALUE="{$Think.get.id}" >
<input type="hidden" name="ajax" VALUE="1">
</td>
</tr>
<tr>
<td height="5" class="bottomTd" >
</td>
</tr>
</table>
<input type="button" onclick="saveAccess()" value="保 存" class="button medium  ">
</form>
</div>
<!-- 主体内容结束 -->
