<!doctype html>
<html>
<head>
	<include file="Public/head"/>
</head>
<body>
	<!-- 头部 -->
	<include file="Public/header"/>
	<!-- /头部 -->

	<!-- 主体 -->
	<div class="wrapper">
		<!-- 分类 -->
		<block name="category">
			<div class="sort-box mod">
				<div class="sort-hidden">
					<a class="fl" href="{:U('index?category='.get_category_name($category['pid']))}">全部</a>
					<div class="sub-sort">
						{:W('Category/lists', array($category['id']))}
					</div>
				</div>
				<a href="javascript:;" class="slide-arrow">
					<b class="pillar"></b><i class="icon-arrow"></i>
				</a>
			</div>
		</block>

		<!-- 内容区 -->
		<div class="cf">
			<!-- 左边 -->
			<div class="cont-container">
				<block name="body"></block>
			</div>

			<!-- 右边 -->
			<include file="Public/side"/>
		</div>
	</div>

	<!-- 底部 -->
	<include file="Public/footer"/>
	<!-- /底部 -->

	<block name="script">
		<script type="text/javascript">
			$(function(){
				$(".slide-arrow").click(function(){
					var sortBox = $(this).prev();
					$(this).toggleClass("sa-up");
				});
			})
		</script>
	</block>
</body>
</html>