<extend name="Public/base" />

<block name="body">
	<div class="main-title cf">
		<h2><if condition="ACTION_NAME eq 'add'">新增<else/>编辑</if> [{:get_model_by_id($info['model_id'])}] 属性 : <a href="{:U('index','model_id='.$info['model_id'])}">返回列表</a></h2>
	</div>

	<!-- 标签页导航 -->
	<div class="tab-wrap">
		<div class="tab-content">
			<!-- 表单 -->
			<form id="form" action="{:U('update')}" method="post" class="form-horizontal doc-modal-form">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item cf">
						<label class="item-label">字段名<span class="check-tips">（请输入字段名）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="name" value="{$info.name}">
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">字段标题<span class="check-tips">（请输入字段标题）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="title" value="{$info.title}">
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">字段类型<span class="check-tips">（控制字段在表单中的展示方式，目前支持一部分通用的类型）</span></label>
						<div class="controls">
							<select name="type" id="data-type">
								<option value="">----请选择----</option>
								<volist name=":get_attribute_type()" id="type">
								<option value="{$key}" rule="{$type[1]}">{$type[0]}</option>
								</volist>
							</select>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">字段定义<span class="check-tips">（字段属性的sql表示）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="field" value="{$info.field}" id="data-field">
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">参数<span class="check-tips">（提供字段展示时的额外数据）</span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="extra">{$info.extra}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">默认值<span class="check-tips">（字段的默认值,空字符串请输入''）</span></label>
						<div class="controls">
							<input type="text" class="text input-large" name="value" value="{$info.value}">
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">字段备注<span class="check-tips"></span></label>
						<div class="controls">
							<label class="textarea input-large">
								<textarea name="remark">{$info.remark}</textarea>
							</label>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">是否显示<span class="check-tips">（控制其在表单中是否显示）</span></label>
						<div class="controls">
							<select name="is_show">
								<option value="1">始终显示</option>
								<option value="2">新增显示</option>
								<option value="3">编辑显示</option>
								<option value="0">不显示</option>
							</select>
						</div>
					</div>
					<div class="form-item cf">
						<label class="item-label">是否必填<span class="check-tips">（用于自动验证）</span></label>
						<div class="controls">
							<select name="is_must">
								<option value="0">否</option>
								<option value="1">是</option>
							</select>
						</div>
					</div>
				</div>

				<!-- 按钮 -->
				<div class="form-item cf">
					<label class="item-label"></label>
					<div class="controls edit_sort_btn">
						<input type="hidden" name="id" value="{$info['id']}"/>
						<input type="hidden" name="model_id" value="{$info['model_id']}"/>
						<button class="btn submit-btn ajax-post no-refresh" type="submit" target-form="form-horizontal">确 定</button>
						<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
Think.setValue('type', "{$info.type|default=''}");
<eq name="ACTION_NAME" value="add">
$(function(){
	$('#data-type').change(function(){
		$('#data-field').val($(this).find('option:selected').attr('rule'));
	});
})
</eq>
</script>
</block>

