/**
  * 描    述：公共模块样式
  * 涉及区域：头部，底部，返回顶部，分页，（登陆，注册，发布）表单，
  * 		  评论，表单编辑器，图片链接区块
  * 通用颜色：black 		#323232
  * 		  blue 			#3490d4
  * 		  green 		#009933
  * 		  gray 			#777777
  * 		  link 			#444444
  * 		  border-color  #d4d4d4
  * 		  
  * 一级模块搜索标记：=
  */
 
 /* =头部 
 --------------------------------------------*/
 .header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	margin-bottom: 20px;
	width: 100%;
	height: 60px;
	background-color: #000;
}
.header .hd-main {
	margin: 0 auto;
	width: 1000px;
}
.header .logo {
	float: left;
	margin-right: 10px;
}
.header .logo a {
	display: block;
	width: 60px;
	height: 60px;
	background: url(../images/header_logo.png) no-repeat center center;
}
.header .logo a:hover {
	text-decoration: none;
}

/* 头部-主导航 */
.header .main-nav,
.header .main-nav li {
	float: left;
}
.header .main-nav a {
	display: inline-block;
	padding: 0 16px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	vertical-align: middle;
}
.header .main-nav a:hover {
	color: #FFF;
	text-decoration: none;
	background-color: #444;
}
.header .current a,
.header .current a:hover {
	text-decoration: none;
	background-color: #656565;
}
.header .header-bar {
	float: right;
	width: 326px;
	margin-top: 16px;
}

/* 头部-搜索 */
.header .search {
	float: left;
	border: 1px solid #CCC;
}
.header .search-sort {
	float: left;
	position: relative;
	padding: 0 5px;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
	background-color: #FFF;
}
.header .search-sort-txt {
	display: inline-block;
	margin-right: 5px;
	color: #5B5B5B;
	vertical-align: middle;
}
.header .search-sort em {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	border: 5px solid #FFF;
	border-bottom-width: 0; 
	border-top-color: #5B5B5B;
}
.header .search-sort:hover em {
	border: 5px solid #FFF;
	border-top-width: 0;
	border-bottom-color: #5B5B5B;
}
.header .search-sort-list {
	display: none;
	position: absolute;
	top: 25px;
	left: -1px;
	z-index: 10;
	width: 50px;
	background-color: #FFF;
	border: 1px solid #72B939;
}
.header .search-sort-list li {
	padding-left: 7px;
	color: #5B5B5B;
}
.header .search-sort-list .current,
.header .search-sort-list li:hover {
	background-color: #E0E0E0;
}
.header .search-input {
	float: left;
	padding: 0 3px;
	width: 120px;
	height: 25px;
	line-height: 25px;
	border: 0;
}
.header .search-btn {
	float: left;
	width: 50px;
	height: 25px;
	line-height: 24px;
	cursor: pointer;
	text-align: center;
	border-left: 1px solid #CCC;
	background-color: #F5F5F5;
}
.header .search-btn:hover {
	text-decoration: none;
	color: #444;
}

/* 头部-用户入口 */
.header .unlogin {
	display: block;
	margin-top: 6px;
}
.header .unlogin-ic {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background: url(../images/icon_bg.png) no-repeat -100px -50px;
}
.header .entrance {
	position: relative;
	float: left;
	margin-left: 15px;
	color: #FFF;
	height: 45px;
}
.header .entrance a {
	text-decoration: none;
}
.header .entrance img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.header .entrance .entr-icon {
	display: inline-block;
	margin-left: 2px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border: 4px solid #000;
	border-top-color: #FFF;
}
.header .entrance .set-ic {
	display: block;
	margin-top: 5px;
}
.header .entrance .msg-ic {
	display: block;
	margin-top: 7px;
	width: 25px;
	height: 18px;
	background: url(../images/icon_bg.png) no-repeat -125px -125px;
}
.header .entrance .msg-ic em {
	position: absolute;
	width: 19px;
	height: 18px;
	line-height: 17px;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	color: #FFF;
	top: -2px;
	right: -6px;
	background: url(../images/icon_bg.png) no-repeat -150px -125px;

}
.header .entrance .set-m {
	width: 100px;
}
.header .entrance .set-l {
	width: 100px;
	text-align: center;
}
.header .entrance .set-l a {
	padding: 0;
}
/* 隐藏菜单 */
.header .user-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 44px;
	z-index: 99;
	width: 128px;
	border: 1px solid #D9D9D9;
	background-color: #FFF;
}
.header .user-menu a {
	display: block;
	padding-left: 30px;
	line-height: 32px;
}
.header .user-menu a:hover {
	color: #444;
}
.header .user-menu a:hover {
	text-decoration: none;
	background-color: #E0E0E0;
}
.header .user-menu .unread {
	font-weight: bold;
}
.header .user-menu a {
	padding-left: 20px;
}

/* =表单（登陆，注册，发布） 
---------------------------------------------------------*/
.think-form {
	padding: 15px;
	font-size: 16px;
	border: 1px solid #D4D4D4;
	background-color: #FFF;
}

/* 头部用户信息栏 */
.think-form .hd {
	position: relative;
	margin: 0 0 20px 12px;
}
.think-form .hd .time {
	margin-left: 20px;
	color: #C0C0C0;
}
.think-form .hd .title {
	margin-top: 5px;
	color: #C0C0C0;
}

/* 表单项 */
.think-form .cols:before, 
.think-form .cols:after {
	display: table;
	line-height: 0;
	content: "";
}
.think-form .cols:after {
	clear: both;
}
.think-form .cols {
	margin-bottom: 15px;
	zoom: 1;
}
.think-form .infolabel {
	float: left;
	margin-right: 15px;
	width: 80px;
	height: 32px;
	line-height: 32px;
}
.think-form .must {
	margin-right: 5px;
	font-style: normal;
	color: #00A651;
	vertical-align: -3px;
}
.think-form .item {
	margin-left: 95px;
}
.think-form .text {
	padding: 3px;
    width: 340px;
    height: 24px;
    line-height: 24px;
	border: 1px solid #D4D4D4;
}
.think-form .cols-select {
	float: left;
	margin-right: 30px;
}
.think-form select {
	padding: 3px;
	border: 1px solid #CCCCCC;
}
.think-form .description {
	padding: 3px;
    border: 1px solid #CCCCCC;
}
.think-form .description textarea {
    width: 100%;
    height: 80px;
    border: 0 none;
}
.think-form .verify {
	margin-right: 5px;
    padding: 3px;
    width: 100px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
	border: 1px solid #CCCCCC;
}
.think-form .verifyimg {
    margin-top: 9px;
}
.submit {
    padding: 0 24px;
    height: 30px;
    line-height: 21px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border: 0 none;
	background-color: #348FD4;
}
.submit:hover {
	background-color: #2F81BF;
}
.verify-error {
	border: 1px solid #f00;
}

/* 登陆注册 */
.login {
	float: left;
	margin: 20px 0;
    padding-right: 20px;
    width: 590px;
	border-right: 1px solid #DDDDDD;
}
.login .hd {
	padding-left: 60px;
	height: 36px;
	line-height: 36px;
}
.login .hd strong {
	font-size: 30px;
    font-weight: normal;
    color: #000;
}
.login .hd span {
    margin-left: 24px;
    font-size: 16px;
	color: #999999;
}
.login .hd a {
    margin-left: 6px;
	color: #007DDB;
	vertical-align: -1px;
}
.login .bd {
	margin: 10px 0 30px;
}

/* 其他登陆 */
.login-other {
    display: inline;
    float: left;
    margin: 20px 0 20px -1px;
    padding-left: 60px;
	border-left: 1px solid #DDDDDD;
}
.login-other .hd {
	padding-left: 0;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.login-other .hd strong {
    font-size: 16px;
    font-weight: normal;
	color: #999999;
}
.other-account li {
    margin: 6px 0;
}
.other-account li a {
    display: inline-block;
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    color: #007DDB;
    background: none repeat scroll 0 0 #EEEEEE;
}


/* =表单-编辑器 
---------------------------------------------------------*/
.think-editor, .add-remark {
    border: 1px solid #CCCCCC;
}
.think-editor .tool {
    position: relative;
    padding: 3px 12px;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #CCCCCC;
}
.think-editor .tool a {
    display: inline-block;
    margin-right: 6px;
    width: 24px;
    height: 24px;
    line-height: 9;
    overflow: hidden;
    vertical-align: top;
    background: url(../images/tool.png) no-repeat scroll;
}
.think-editor .tool a:hover {
    background-color: #EAEAEA;
}
.think-editor .tool .fullscreen {
    background-position: 3px -198px;
}
.think-editor .tool .bold {
    background-position: 8px 5px;
}
.think-editor .tool .link {
    background-position: 4px -162px;
}
.think-editor .tool .code {
    background-position: 0 -96px;
}
.think-editor .tool .upload {
    background-position: 2px -130px;
}
.think-editor .enter {
    margin: 3px;
}
.think-editor .enter textarea {
    border: 0 none;
    height: 180px;
    padding: 0;
    resize: none;
    width: 100%;
}
#editor_img .uploadify-button-text {
	font-size: 0;
	line-height: 0;
}

/* =评论 
-----------------------------------------------------*/
.cmtlist .cmt-item {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d4d4d4;
}
.cmt-item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0 none;
}
.cmt-item .hd {
	margin-bottom: 6px;
}
.cmt-item .bd {
	margin-bottom: 5px;
	line-height: 1.5;
	font-size: 16px;
}
.cmt-item .bd:last-child {
	margin-bottom: 0;
}
.cmt-item .reply-btn {
	float: right;
	color: #72B939;
}
.cmt-item .reply-btn i {
	display: inline-block;
	margin-left: 3px;
	width: 0;
	height: 0;
	vertical-align: middle;
	border: 5px solid #FFF;
	border-top-color: #72B939;
	border-bottom-width: 0;
}
.cmt-item .username {
	margin-right: 10px;
	color: #04489D;
}
.cmt-item .time {
	color: #777;
}

/* =图片链接区块 
-----------------------------------------------------*/
.a3-wrap {
	margin: 0 -9px 10px 0;
	overflow: hidden;
}
.a3 {
	float: left;
	margin-right: 10px;
	width: 231px;
	height: 78px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #D4D4D4;
}
.a3 img {
	width: 231px;
	height: 78px;
}
.a4,.a5 {
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #D4D4D4;
}
.a4 {
	width: 718px;
	height: 78px;
}
.a4 img {
	width: 718px;
	height: 78px;
}
.a5 {
	width: 268px;
	height: 98px;
}
.a5 img {
	width: 268px;
	height: 98px;
}
.a7-wrap {
	margin-bottom: 10px;
	padding: 10px;
	width: 248px;
	overflow: hidden;
	border: 1px solid #D4D4D4;
	background-color: #FFF; 
}
.a7-wrap a {
	display: block;
	margin-bottom: 10px;
}
.a7-wrap a:last-child {
	margin-bottom: 0;
}
.a7-wrap img {
	width: 248px;
	height: 40px;
}

/* =分页 
--------------------------------------------------*/
.page a,.page a:hover,
.page .current {
	display: inline-block;
	margin-right: 2px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}
.page a {
	color: #404548;
	border: 1px solid #D7DBDC;
	background-color: #F6FFFF;
}
.page a:hover,
.page .current {
	text-decoration: none;
	color: #FFF;
	background-color: #72B939;
	vertical-align: middle;
}
.page .next,.page .prev {
	font-family: "宋体";
}

/* =底部 
-----------------------------------------------*/
.footer {
	margin-top: 20px;
	min-width: 1000px;
	border-top: 8px solid #000;
	background-color: #34393C;
}
.footer .ft-main {
	margin-left: auto;
	margin-right: auto;
	padding: 15px 0;
	width: 1000px;
	line-height: 1.8;
}
.footer .ft-main h3 {
	color: #7E8283;
}
.footer .ft-main a {
	color: #7E8283;
}
.footer .ft-main a:hover {
	color: #BABCBD;
}
.footer .ft-col {
	float: left;
	padding-right: 20px;
	margin-right: 25px;
	height: 196px;
	background: url(../images/bottom_solid.png) no-repeat right center;
}
.footer .ft-intro {
	float: left;
	padding-right: 20px;
	width: 574px;
	color: #7E8283;
	background: url(../images/bottom_solid.png) no-repeat right center;
}
.footer .ft-intro .btm-logo {
	background: url(../images/bottom_logo.png) no-repeat 480px 105px;
}
.footer .copyright {
	margin-top: 20px;
	font-weight: bold;
}

/* =返回顶部样式 
-------------------------------------------------------*/
#gotoTop{
	display:none;
	position:fixed;
	top:75%;
	left:50%;
	cursor:pointer;
	margin-top:-50px;
	margin-left:520px;
	width: 64px;
	height:64px;
	line-height: 100;
	overflow: hidden;
	background: url(../images/gTopa.png) no-repeat;
}
#gotoTop{
	_position:absolute;
	_top:expression_r(documentElement.scrollTop + documentElement.clientHeight * 3/4 + "px");
}