<block name="header"></block>
<div class="container">
    <div class="row">
        <block name="side">
        <!-- 左侧 nav
        ================================================== -->
          <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav">
              <li><a href=""><i class="icon-chevron-right"></i> 产 品</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> 应 用</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> 社 区</a></li>
              <li><a href=""><i class="icon-chevron-right"></i> 资 讯</a></li>
            </ul>
          </div>
        </block>
        <block name="body"> </block>
    </div>
</div>
