<block name="header"></block>
<div class="container">
    <div class="row">
        <block name="side">
        <!-- 左侧 nav
        ================================================== -->
            <div class="span3 bs-docs-sidebar">
                <block name="publish"></block>
                <ul class="nav nav-list bs-docs-sidenav">
                    {:W('Category/lists', array($category['id'], ACTION_NAME == 'index'))}
                </ul>
            </div>
        </block>
        <block name="body"></block>
    </div>
</div>
