/** 
 * 描述：定义按钮样式
 * 作用范围: 公共，按钮组，单独按钮
 */

.btn {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: #444;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #FDFDFE;
    background-image: -moz-linear-gradient(top, #FFF, #FBFBFB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#FBFBFB));
    background-image: -webkit-linear-gradient(top, #FFF, #FBFBFB);
    background-image: -o-linear-gradient(top, #FFF, #FBFBFB);
    background-image: linear-gradient(to bottom, #FFF, #FBFBFB);
    background-repeat: repeat-x;
    border: 1px solid #CCC;
    border-bottom-color: #B3B3B3;
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFBFBFB', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
       -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
}
.btn:hover {
	color: #333;
    text-decoration: none;
    background-color: #fefefe;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.btn:active,
.active,
.active:hover {
	background-image: none;
    outline: 0 none;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset;
}
.btn:hover, 
.btn:focus, 
.btn:active, 
.btn.active, 
.btn.disabled, 
.btn[disabled] {
    background-color: #EEEEEF;
    color: #444444;
}
.btn:focus {
	outline: 0;
}
.btn em {
	font-style: normal;
	vertical-align: middle;
}

/* 按钮组 */
.btn-toolbar .btn {
	float: left;
	margin-left: -1px;
	border-radius: 0;
}
.btn-toolbar .btn:first-child {
	border-radius: 3px 0 0 3px;
}
.btn-toolbar .btn:last-of-type {
	border-radius: 0 3px 3px 0;
}

/* 带下拉框的按钮组 */
.btn-group {
	display: inline-block;
	position: relative;
}
.btn-group .drop-pannel {
	position: absolute;
	top: 30px;
	right: 0;
	padding: 15px;
	min-width: 200px;
	min-height: 50px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}
