/** 
 * 描述：定义按钮样式
 * 作用范围: 公共，按钮组，单独按钮
 */

.btn {
    display: inline-block;
    padding: 4px 14px;
    font-size: 14px;
    line-height: 18px;
    color: #efefef;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0 none;
    border-radius: 2px;
    background-color: #2980b9;
}
.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3498db;
}
.submit-btn {
    color: #fff;
    border-color: transparent;
    background-color: #0080FF;
}
.submit-btn:hover {
    color: #fff;
    background-color: #347ec7;
}

/* 按钮组 */
.btn-toolbar .btn {
	float: left;
	margin-left: -1px;
	border-radius: 0;
}
.btn-toolbar .btn:first-child {
	border-radius: 3px 0 0 3px;
}
.btn-toolbar .btn:last-of-type {
	border-radius: 0 3px 3px 0;
}

/* 带下拉框的按钮组 */
.btn-group {
	display: inline-block;
	position: relative;
}
.btn-group .drop-pannel {
	position: absolute;
	top: 30px;
	right: 0;
	padding: 15px;
	min-width: 200px;
	min-height: 50px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
}
