/** 
 * 描述：定义按钮样式
 * 作用范围: 公共，按钮组，单独按钮
 */
.btn {
    display: inline-block;
    margin-right: 10px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 18px;
    color: #edffd1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0 none;
	background-color: #4bbd00;
}
.btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #4cdb00;
    border-bottom: 0 none;
}
.submit-btn,
.btn-return {
    padding: 10px 50px;
    color: #fff;
    font-weight: bold;
    border-color: transparent;
}
.submit-btn {
    background-color: #CC3900;
}
.submit-btn:hover {
    color: #fff;
    background-color: #ff2610;
}
.btn-mini {
    padding: 4px 10px;
}
.btn-xlarge {
    padding: 10px 30px;
}
.btn.disabled {
    backgruond-color: #8d8d8d;
}

/* 按钮组 */
.btn-toolbar .btn {
	float: left;
	margin-left: -1px;
	border-radius: 0;
}
.btn-toolbar .btn:first-child {
	border-radius: 3px 0 0 3px;
}
.btn-toolbar .btn:last-of-type {
	border-radius: 0 3px 3px 0;
}

/* 带下拉框的按钮组 */
.btn-group {
	display: inline-block;
    *display: inline;
	position: relative;
    vertical-align: middle;
}
.btn-group .icon-arrowdown {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 5px;
    vertical-align: middle;
    background: url(../images/angle-down.png) no-repeat 0 0;
}
.btn-group .dropdown {
    display: none;
	position: absolute;
	top: 30px;
	left: 0;
    margin-top: 3px;
	min-width: 82px;
	border: 1px solid #ccc;
	background-color: #fff;
}
.btn-group .dropdown a {
    padding: 6px 16px;
    height: 18px;
    line-height: 18px;
    white-space: nowrap;
}
.btn-group .dropdown a:hover {
    background-color: #eee;
}
