/** 
 * 描述：定义公共类名
 * 作用范围: 公共，独立样式
 */

/* 实心小三角 */
.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	vertical-align: middle;
	border: 4px dashed transparent;
}
.arrow-down {
	border-top-style: solid;
	border-top-color: #000;
	border-bottom-width: 0;
}
.arrow-up {
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-width: 0;
}
.arrow-left {
	border-right-style: solid;
	border-right-color: #000;
	border-left-width: 0;
}
.arrow-right {
	border-left-style: solid;
	border-left-color: #000;
	border-right-width: 0;
}

/* 空心小三角（要兼容IE,字体大小和宽高需一致） */
.tips-arrow {
	position: absolute;
	margin-bottom: 10px;
	width: 16px;
	height: 16px;
}
.tips-arrow .outer,
.tips-arrow .inner {
	position: absolute;
	width: 16px;
	height: 16px;
	line-height: 16px;	/* 去掉字体上下的空白高度 */
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
.tips-arrow .outer {
	color: red;
}
.tips-arrow .inner {
	color: #fff;
}
.tips-up .inner {
	top: 1px;
}
.tips-down .inner {
	bottom: 1px;
}
.tips-left .inner {
	left: 1px;
}
.tips-right .inner {
	right: 1px;
}

/* 单个元素在容器内垂直居中的支撑点，兼容IE6+ */
.pillar {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

/* 半透明蒙板 */
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/mask.png) repeat 0 0;
}

/* 提醒框 */
.alert {
	color: #c09853;
	font-weight: bold;
	border: 1px solid #fbeed5;
	background-color: #fcf8e3;
}
.alert .close {
    float: right;
    position: relative;
    top: -2px;
    right: -21px;
    font: bold 20px/20px arial; 
	color: #c09853;
    opacity: 0.4;
}
.alert .close:hover {
	opacity: 0.6;
}
button.close {
    padding: 0;
    cursor: pointer;
    border: 0 none;
	background: none;
}
.alert-info {
	background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.alert-error {
	color: #b94a48;
	border-color: #eed3d7;
	background-color: #f2dede;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
