/** 
 * 描述：定义公共类名
 * 作用范围: 公共，独立样式
 */

/* 实心小三角 */
.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	vertical-align: middle;
	border: 4px dashed transparent;
}
.arrow-down {
	border-top-style: solid;
	border-top-color: #000;
	border-bottom-width: 0;
}
.arrow-up {
	border-bottom-style: solid;
	border-bottom-color: #000;
	border-top-width: 0;
}
.arrow-left {
	border-right-style: solid;
	border-right-color: #000;
	border-left-width: 0;
}
.arrow-right {
	border-left-style: solid;
	border-left-color: #000;
	border-right-width: 0;
}

/* 提醒框 */
.alert {
	color: #c09853;
	font-weight: bold;
	border: 1px solid #fbeed5;
	background-color: #fcf8e3;
}
.alert .close {
    float: right;
    position: relative;
    top: -2px;
    right: -21px;
    font: bold 20px/20px arial; 
	color: #c09853;
    opacity: 0.4;
}
.alert .close:hover {
	opacity: 0.6;
}
button.close {
    padding: 0;
    cursor: pointer;
    border: 0 none;
	background: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.alert-info {
	background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
.alert-error {
	color: #da3a3a;
	border-color: #eed3d7;
	background-color: #f1ff1f;
}
.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
#top-alert {
    display: block;
    top: 50px;
    left: 220px;
    right: 20px;
    z-index: 3000;
	margin-top: 20px;
	padding-top: 12px;
	padding-bottom: 12px;
    overflow: hidden;
    font-size: 16px;
}
#top-alert .close{
    right:35px;
    position: fixed;
    top:75px;
}
.alert-content{
	margin-left: 14px;
    max-width:600px;
    word-wrap: break-word;
    word-break: break-word;
}
