/** 
 * 描述：定义表单样式
 * 作用范围: 公共，表单模块，表单布局
 */

/* 表单组件
------------------------------------------ */
.text,.textarea {
	padding: 4px;
	border: 1px solid #eeeeee;
	background-color: #fff;
	transition: all .3s linear;
}
.text {
	width: 220px;
	height: 20px;
	vertical-align: middle;
}
.textarea {
	display: block;
}
.textarea textarea {
	width: 100%;
	height: 140px;
	border: 0 none;
}
.checkbox + .checkbox,
.radio + .radio {
	margin-left: 15px;
}
.checkbox, .radio {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
.checkbox input,
.radio input {
	margin-right: 5px;
	*margin-right: 1px;
	vertical-align: -1px;
}
select {
	padding: 2px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.input-large {
	width: 390px;
}
.input-mid {
	width: 150px;
}
.input-small {
	width: 100px;
}
.input-mini {
	width: 50px;
}
.input-8x {
	width: 400px;
}
.input-7x {
	width: 350px;
}
.input-6x {
	width: 300px;
}
.input-5x {
	width: 250px;
}
.input-4x {
	width: 200px;
}
.input-3x {
	width: 150px;
}
.input-2x {
	width: 100px;
}
.input-x {
	width: 50px;
}
.must {
	margin: 3px;
	color: #f00;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
}

/* 多行两列表单
------------------------------------------ */
.form-horizontal .form-item {
	margin-bottom: 5px;
}
.form-horizontal .item-label {
	display: block;
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}
.form-horizontal .item-label .check-tips {
	margin-left: 20px;
	color: #aaa;
	font-weight: normal;
}
.form-horizontal .controls {
	overflow: hidden;
	padding: 5px 5px 5px 0;
}
.form-horizontal .controls label + label {
	margin-left: 15px;
}
.form-horizontal .controls .check-tips {
	margin-left: 20px;
	color: #999;
}
label.textarea ~ .check-tips {
	margin-left: 0;
}
.form-horizontal .controls .block.check-tips,
.form-horizontal .controls .block.textarea {
	display: block;
	margin-left: 0;
	margin-bottom: 10px;
}

/* 搜索表单
------------------------------------------ */
.search-form .sleft {
	margin-right: 10px;
	float: left;
	border: 1px solid #ebebeb;
	background-color: #fff;
}
.search-form .drop-down {
	float: left;
	width: 81px;
	height: 30px;
	line-height: 30px;
}
.search-form .sort-txt {
	display: inline-block;
	margin: 0 2px 0 4px;
	padding-left: 6px;
	width: 45px;
	cursor: pointer;
}
.search-form .drop-down ul {
	position: absolute;
	margin-left: -1px;
	background-color: #fff;
	border: 1px solid #ebebeb;
}
.search-form .drop-down ul li {
	border-top: 1px solid #ebebeb;
}
.search-form .drop-down ul li:first-child {
	border-top-width: 0;
}
.search-form .drop-down ul a {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	width:60px;
}
.search-form .drop-down ul a:hover {
	background-color: #f0f0f0;
	border:none;
}
.search-form .search-input {
	float: left;
	padding: 2px 4px;
	width: 180px;
	height: 26px;
	line-height: 26px;
	border: 0 none;
}
.search-form .sch-btn {
	float: left;
	margin: 2px 2px 0 0;
	padding: 0 10px;
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}
.search-form .sch-btn:hover {
	color: #fff;
	text-decoration: none;
}
.icon-search {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/icon_search.png) no-repeat 0 0;
}
.search-form .adv-sch-pannel .dropdown {
	right: 0;
	left: auto;
	padding: 15px;
	width: 320px;
}
