/** 
 * 描述：定义表单样式
 * 作用范围: 公共，表单模块，表单布局
 */

/* 表单组件
------------------------------------------ */
.text,.textarea {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset;
	transition: all .3s linear;
}
.text {
	width: 220px;
	height: 16px;
}
/*.text:focus,.focus {
	outline: 0;
	border-color: rgba(0,160,255,1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1) inset, 0 0 4px rgba(0,160,255,.6);
}*/
.textarea {
	display: block;
}
.textarea textarea {
	width: 100%;
	border: 0 none;
}
.checkbox + .checkbox,
.radio + .radio {
	margin-left: 15px;
}
.checkbox, .radio {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}
.checkbox input,
.radio input {
	margin-right: 5px;
	*margin-right: 1px;
	vertical-align: -1px;
}
select {
	padding: 2px;
	height: 27px;
	line-height: 27px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.input-mid {
	width: 150px
}

/* 多行两列表单
------------------------------------------ */
.form-horizontal .form-item {
	margin-bottom: 5px;
}
.form-horizontal .item-label {
	float: left;
	margin-right: 5px;
	width: 90px;
	line-height: 30px;
	text-align: right;
}
.form-horizontal .controls {
	overflow: hidden;
	padding: 5px;
	*zoom: 1;
}
.form-horizontal .check-tips {
	margin-left: 20px;
	color: #999;
}
label.textarea + .check-tips {
	margin-left: 0;
}
