/** 
 * 描述：定义常用组件样式
 * 作用范围: 公共，组件模块
 */

/* 标签导航
------------------------------------------ */
.tab-wrap {
	margin-top: 10px;
}
.tab-nav {
	margin-bottom: 15px;
	padding-left: 1px;
	border-bottom: 1px solid #e0e0e0;
}
.tab-nav li {
	margin-bottom: -1px;
	margin-left: -1px;
}
.tab-nav li a {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	border: 1px solid transparent;
	border-top-width: 2px;
}


.tab-nav .current a {
	border-color: #34b4e0 #e0e0e0 #f6f6f6;
}
.tab-content .tab-pane {
	display: none;
}
.tab-content .in {
	display: block;
}


/* 面包屑导航
------------------------------------------ */
/* 常规面包屑 */
.breadcrumb {
	color: #999;
}
.breadcrumb .home {
	display: inline-block;
	text-align: center;
	line-height: 21px;
}
.breadcrumb .division {
	margin: 0 5px;
}

/* 标签式面包屑 */
.tags-crumb {
	width: 340px;
	overflow: hidden;
	position: relative; /* 解决IE7及以下overflow:hidden失效的bug */
}
.tags-crumb li {
	position: relative;
	padding-left: 20px;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #e0e0e0;
}
.tags-crumb li:first-child {
	padding-left: 0;
}
.tags-crumb .current {
	background-color: #f60;
}
.tags-crumb .current a {
	color: #fff;
}
.tags-crumb li i,
.tags-crumb li b {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border-style: dashed dashed dashed solid;
	border-color: transparent;
}
.tags-crumb li i {
	top: -4px;
	right: -20px;
	border-width: 20px 0 20px 20px;
	border-left-color: #fff
}
.tags-crumb li b {
	top: 0;
	right: -16px;
	border-width: 16px 0 16px 16px;
	border-left-color: #e0e0e0
}
.tags-crumb .current b {
	border-left-color: #f60;
}	

/* 图片轮播（幻灯片）
------------------------------------------ */
.slide-container {
	position: relative;
	width: 800px;
}

/* 大图展示区 */
.slide-pic-wrap {
	width: 800px;	/* 宽高比 100:35 */
	height: 280px;
	overflow: hidden;
}
.slide-pic-wrap ul img {
	vertical-align: top;

}

/* 缩略图 */
.slide-thumb {
	margin-top: 6px;
	width: 800px;
}
.slide-thumb .prev,
.slide-thumb .next {
	float: left;
	padding: 5px;
	width: 6px;
	height: 55px;
	vertical-align: middle;
	border: 1px solid #ccc;
}
.slide-thumb .prev i,
.slide-thumb .next i {
	display: inline-block;
	width: 0;
	height: 0;
	line-height: 0;
	vertical-align: middle;
	border: 6px dashed transparent;
}
.slide-thumb .prev i {
	border-left-width: 0;
	border-right-style: solid;
	border-right-color: #ccc;
}
.slide-thumb .next i {
	border-right-width: 0;
	border-left-style: solid;
	border-left-color: #ccc;
}
.slide-thumb ul {
	position: relative;		/* 解决IE7以下overflow：hidden失效 */
	float: left;
	margin-left: 4px;
	width: 760px;
	height: 67px;
	overflow: hidden;
}
.slide-thumb ul li {
	position: relative;		/* 用来支持半透明蒙板 */
	margin-right: 5px;
	padding: 1px;
	width: 181px;		/* 宽高比与大图相同 100:35 */
	height: 63px;
	border: 1px solid #ccc;	
}
.slide-thumb li img {
	vertical-align: top;
}

/* 幻灯数字或圆点列表 */
.slide-numlist {
	position: absolute;
	right: 7px;
	bottom: 15px;
}
.slide-numlist li a {
	margin-right: 8px;
	width: 12px;
	height: 12px;
	line-height: 0;
	font-size: 0;
	border-radius: 6px;
	background-color: #fed;
	background-color: rgba(255,255,255,.5);
}
.slide-numlist li a:hover,
.slide-numlist .current a {
	background-color: #fff;
	background-color: rgba(255,255,255,.9);
}

/* 分类管理树形菜单（目前只支持3级）
------------------------------------------ */
.category {
	margin: 10px 0;
	/*border: 1px solid #d4d4d4;*/
	border-bottom-width: 0; 
}
.category .hd {
	font-weight: bold;
	border-bottom: 1px solid #d4d4d4;
	/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F3F3F3));*/
	/*background-image: -moz-linear-gradient(top, #FAFAFA, #F3F3F3);*/
	/*background-image: -o-linear-gradient(top, #FAFAFA, #F3F3F3);*/
	/*background-image: linear-gradient(top, #FAFAFA, #F3F3F3);*/
	color:#fff;
	background-color: #353535;
}
.category .cate-item dt {
	border-bottom: 1px solid #E7E7E7;
}
.category dl,
.category dd,
.category input {
	margin: 0;
}
.category .check,
.category .fold,
.category .order,
.category .name {
	float: left;
	height: 35px;
	line-height: 35px;
}
.category .opt {
	float: right;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.opt-btn {
	float: right;
	margin: 5px 10px 0 0;
}
.category .check {
	width: 40px;
	text-align: center;
}
.category .fold {
	width: 50px;
	text-align: center;
}
.category .fold i {
	vertical-align: middle;
	cursor: pointer;
	background: url(../images/fold_icon.png) no-repeat;
}
.category .fold .icon-fold {
	background-position: 0 0;
}
.category .fold .icon-unfold {
	background-position: -16px 0;
}
.category .order,
.category .order input {
	text-align: center;
}
.category .order {
	width: 90px;
}
.category .order input {
	margin-bottom: 2px;
	width: 40px;
}
.category .name input {
	margin-bottom: 2px;
}
.category .btn-mod {
	margin-left: 15px;
}
.category .root {
	font-weight: bold;
}
.category .tab-sign {
	display: inline-block;
	margin-left: 15px;
	height: 21px;
	vertical-align: middle;
	background-image: url(../images/tab_sign.png);
	background-repeat: no-repeat;
}
.category .name .msg {
	vertical-align: top;
	font-weight: normal;
}
.category .name .error {
	color: #B94A48;
}
.category .name .success {
	color: #468847;
}
/* 顶级分类 */
.category > dl > dt .tab-sign {
	display: none;
}

/* 二级分类 */
.category > dl > dd > dl > dt .tab-sign {
	width: 55px;
	background-position: 0 0;
}
.category > dl > dd > dl:last-child > dt .tab-sign {
	background-position: -55px 0;
}

/* 三级分类 */
.category > dl > dd > dl > dd > dl > dt  .tab-sign {
	width: 110px;
	background-position: 0 -30px;
}
.category > dl > dd > dl > dd > dl:last-child > dt .tab-sign {
	background-position: 0 -60px;
}

.category > dl > dd > dl:last-child > dd > dl > dt .tab-sign {
	background-position: 0 -90px;
}
.category > dl > dd > dl:last-child > dd > dl:last-child > dt .tab-sign {
	background-position: 0 -120px;
}

.category input{
	height: 16px;
}

.auth-category >dl>dt{
	background: #eee;
}
