/** 
 * 描述：定义常用组件样式
 * 作用范围: 公共，组件模块
 */

/* 标签导航
------------------------------------------ */
.tab-wrap {
	margin-top: 10px;
}
.tab-nav {
	margin-bottom: 15px;
	padding-left: 1px;
	border-bottom: 1px solid #e0e0e0;
}
.tab-nav li {
	margin-bottom: -1px;
	margin-left: -1px;
}
.tab-nav li a,
.tab-nav li a:hover {
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	border: 1px solid transparent;
	border-top-width: 2px;
}
.tab-nav .current a,
.tab-nav .current a:hover {
	border-color: #34b4e0 #e0e0e0 #f6f6f6;
}
.tab-content .tab-pane {
	display: none;
}
.tab-content .in {
	display: block;
}


/* 面包屑导航
------------------------------------------ */
/* 常规面包屑 */
.breadcrumb {
	color: #999;
}
.breadcrumb .home {
	display: inline-block;
	text-align: center;
	line-height: 21px;
}
.breadcrumb .division {
	margin: 0 5px;
}

/* 标签式面包屑 */
.tags-crumb {
	width: 340px;
	overflow: hidden;
	position: relative; /* 解决IE7及以下overflow:hidden失效的bug */
}
.tags-crumb li {
	position: relative;
	padding-left: 20px;
	width: 100px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background-color: #e0e0e0;
}
.tags-crumb li:first-child {
	padding-left: 0;
}
.tags-crumb .current {
	background-color: #f60;
}
.tags-crumb .current a {
	color: #fff;
}
.tags-crumb li i,
.tags-crumb li b {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border-style: dashed dashed dashed solid;
	border-color: transparent;
}
.tags-crumb li i {
	top: -4px;
	right: -20px;
	border-width: 20px 0 20px 20px;
	border-left-color: #fff
}
.tags-crumb li b {
	top: 0;
	right: -16px;
	border-width: 16px 0 16px 16px;
	border-left-color: #e0e0e0
}
.tags-crumb .current b {
	border-left-color: #f60;
}	

/* 分页 */
.page {
    margin: 10px 0;
    *zoom: 1;
}
.page:before,
.page:after {
    display: table;
    content: "";
}
.page:after {
    clear:both;
}
.page a,
.page span {
    float: left;
    margin-right: 3px;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    background-color: #696969;
}
.page a:hover,
.page .current {
    text-decoration: none;
    border-bottom: 0 none;
    background-color: #a0a0a0;
}
.page .next,
.page .prev {
    font-family: "宋体";
}

/* 分类管理树形菜单（目前只支持3级）
------------------------------------------ */
.category {
	margin: 10px 0;
	/*border: 1px solid #d4d4d4;*/
	border-bottom-width: 0; 
}
.category .hd {
	font-weight: bold;
	border-bottom: 1px solid #d4d4d4;
	/*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F3F3F3));*/
	/*background-image: -moz-linear-gradient(top, #FAFAFA, #F3F3F3);*/
	/*background-image: -o-linear-gradient(top, #FAFAFA, #F3F3F3);*/
	/*background-image: linear-gradient(top, #FAFAFA, #F3F3F3);*/
	color:#fff;
	background-color: #353535;
}
.category .cate-item dt {
	border-bottom: 1px solid #E7E7E7;
}
.category dl,
.category dd,
.category input {
	margin: 0;
}
.category .check,
.category .fold,
.category .order,
.category .name {
	float: left;
	height: 35px;
	line-height: 35px;
}
.category .opt {
	float: right;
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.opt-btn {
	float: right;
	margin: 5px 10px 0 0;
}
.category .check {
	width: 40px;
	text-align: center;
}
.category .fold {
	width: 50px;
	text-align: center;
}
.category .fold i {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background-repeat: no-repeat;
}
.category .fold .icon-fold {
	background-position: 0 0;
	background-image: url(../images/fold_icon.png);
}
.category .fold .icon-unfold {
	background-position: -16px 0;
	background-image: url(../images/fold_icon.png);
}
.category .order,
.category .order input {
	text-align: center;
}
.category .order {
	width: 90px;
}
.category .order input {
	margin-bottom: 2px;
	width: 40px;
}
.category .name input {
	margin-bottom: 2px;
}
.category .add-sub-cate {
	margin-left: 10px;
}
.category .add-sub-cate:hover {
	text-decoration: none;
	border-bottom: 0 none;
}
.category .btn-mod {
	margin-left: 15px;
}
.category .root {
	font-weight: bold;
}
.category .tab-sign {
	display: inline-block;
	margin-left: 15px;
	height: 21px;
	vertical-align: middle;
	background-image: url(../images/tab_sign.png);
	background-repeat: no-repeat;
}
.category .name .msg {
	vertical-align: top;
	font-weight: normal;
}
.category .name .error {
	color: #B94A48;
}
.category .name .success {
	color: #468847;
}
/* 顶级分类 */
.category > dl > dt .tab-sign {
	display: none;
}

/* 二级分类 */
.category > dl > dd > dl > dt .tab-sign {
	width: 55px;
	background-position: 0 0;
}
.category > dl > dd > dl:last-child > dt .tab-sign {
	background-position: -55px 0;
}

/* 三级分类 */
.category > dl > dd > dl > dd > dl > dt  .tab-sign {
	width: 110px;
	background-position: 0 -30px;
}
.category > dl > dd > dl > dd > dl:last-child > dt .tab-sign {
	background-position: 0 -60px;
}

.category > dl > dd > dl:last-child > dd > dl > dt .tab-sign {
	background-position: 0 -90px;
}
.category > dl > dd > dl:last-child > dd > dl:last-child > dt .tab-sign {
	background-position: 0 -120px;
}
.category input{
	height: 16px;
}
.icon-add {
	display: inline-block;
	width: 12px;
	height: 12px;
	vertical-align: middle;
	background: url(../images/add.png) no-repeat 0 0;
}

#top-alert {
	margin-top: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
    top: 50px;
    z-index: 3000;
    display: block;
    overflow: hidden;
    left: 220px;
    right: 20px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

#top-alert .close{
    right:35px;
    position: fixed;
    top:75px;
}

.alert-content{
	margin-left: 14px;
    max-width:600px;
    word-wrap: break-word;
    word-break: break-word;
}

.adv-sch-pannel label{
    width:70px;
    display:inline-block;
}

.adv-sch-pannel .row{
    margin-bottom:6px;
}
