/**
 * 描述 : 后台主体框架
 */

/* 头部Logo,主导航
--------------------------------------*/
body{
    padding: 50px 0 0 200px;
    background: url(../images/overview_bg.png) repeat-y;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #2078c7;
    background-color: #3E94E1;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    background: -webkit-gradient(linear, 0 0, 0 20%, from(#3d96ea), to(#3e94e1));
}
.header .logo {
    float: left;
    margin-left: 15px;
    width: 184px;
    height: 49px;
    background: url(../images/logo.png) no-repeat;
}

/* 主导航 */
.main-nav {
    float: left;
}
.main-nav li {
    float: left;
    width: 90px;
    border-left: 1px solid #2078c7;
}
.main-nav a {
    display: block;
    height: 49px;
    line-height: 49px;
    color: #FFF;
    text-align: center;
}
.main-nav a:hover {
    text-decoration: none;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(34,126,210,0.5)), to(rgba(53,144,227,0.5)));
    background: -moz-linear-gradient(top,rgba(34,126,210,0.5),rgba(53,144,227,0.5));
    background: -ms-linear-gradient(top,rgba(34,126,210,0.5),rgba(53,144,227,0.5));
    *background:#348dde;
}
.main-nav .current{
    background: #1667ca;
}
.main-nav .current a {
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(rgba(34,126,210,0.5)), to(rgba(53,144,227,0.5)));
    background: -moz-linear-gradient(top,rgba(34,126,210,0.5),rgba(53,144,227,0.5));
    background: -ms-linear-gradient(top,rgba(34,126,210,0.5),rgba(53,144,227,0.5));
    box-shadow: inset 0px -4px 10px rgba(0, 49, 115, 0.2);
    background: #2076d2 9;
}


/* 边栏导航样式
------------------------------------------ */
.sidebar {
    position: fixed;
    left: 0;
    z-index: 0;
    padding-top: 30px;
    width: 200px;
}
.subnav {
    padding: 0 0 66px 15px;
}

/* 子导航标题栏 */
.subnav h3 {
    margin-right: 15px;
    padding-left: 20px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    background: url(../images/overview_nav_bg.png) no-repeat 0 34px;
}
.subnav h3 .icon-s1,
.subnav h3 .icon-s2 {
    display: inline-block;
    margin-right: 12px;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    background: url(../images/i_overview.png) no-repeat 0 0;
}

/* 子导航 */
.subnav ul {
    margin: 5px 0;
}
.subnav li {
    margin: 2px 0;
}
.subnav a {
    padding:6px 0;
    line-height:20px;
    width:140px;
    padding-left: 45px;
    display:inline-block;
}
.subnav a:link, .subnav a:visited {
    color: #2a72c5;
    text-decoration: none;
}
.subnav a:hover, .subnav a:active, .subnav .current a {
    color: #666666;
    text-decoration: none;
    background:#ffffff;
    border-radius: 3px 0 0 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
    border-left:1px solid #dbdcdc\9;
    border-bottom:1px solid #dbdcdc\9;
    *border-left:1px solid #dbdcdc;
    *border-bottom:1px solid #dbdcdc;
    *height:19px;
}
.subnav .current a{
    background: url(../images/subnav_current.png) no-repeat 150px 12px #FFF;
}


/* 后台内页模块样式
 * 涉及范围 : 消息栏，数据表格，分页，编辑表单
------------------------------------------------- */
.main .title{
    padding: 11px 18px;
}
.main .title h2 {
    float: left;
    font-size: 24px;
    font-weight: 400;
    color: #445566;   
}
.main .tools{
    float: right;
    margin-top: 3px;
    font-size: 0;
    line-height: 0;
}
.main .tools button{
    display: inline-block;
    padding: 4px 10px 4px;
    _height: 21px;
    margin-bottom: 0;
    margin-left: 6px;
    font-size: 12px;
    font-family: "微软雅黑","宋体";
    line-height: 17px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e1e1e1 #e1e1e1 #e1e1e1;
    border-bottom-color: #b3b3b3;
    border-radius: 2px;
    background-color: #fefefe;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f5f5f5));
    background-image: -moz-linear-gradient(top, #fefefe, #f5f5f5);
    background-image: -ms-linear-gradient(top, #fefefe, #f5f5f5);
    background-image: -o-linear-gradient(top, #fefefe, #f5f5f5);
    background-image: linear-gradient(top, #fefefe, #f5f5f5);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    outline:0;
}
.main .tools button:hover{
    color: #333333;
    text-decoration: none;
    background-color: #fefefe;
    /* Buttons in IE7 don't get borders, so darken on hover */
    background-image:none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.main .tools button i{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 3px;
    background: url(../images/icon_data.png) 0 0 no-repeat;
    vertical-align: middle;
    font-size: 0;
}
.main .tools button:hover i{
    background-position:0 -16px;
}
.main tfoot .tools{
    float: none;
}
.main tfoot .tools button{
    margin: 0 6px 0 0;
}

/* 消息栏 */
.tips-bar {
    margin: 10px 18px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 0 rgba(0,0,255,.05);
}
.tips-bar .i-tips {
    float: left;
    width: 27px;
    height: 25px;
    background: url(../images/i_tips.png) no-repeat;
}
.tips-bar .tips-cnt {
    float: left;
    margin-left: 5px;
    font-size: 12px;
}
.tips-bar .close {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #d5d5d5;
    text-shadow: 0 1px 0 #FFF;
}
.tips-bar .close:hover {
    color: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}

/* 数据表格 */
.data-table {
    margin: 0 18px;
}

/* 分页 */
.data-table .page {
    margin: 10px 0;
}
.data-table .page .show-page {
    float: left;
    color: #999;
}
.data-table .page .page-box {
    float: right;
    font-size: 0;
    height: 35px;
}
.data-table img{
    vertical-align: bottom;
}
.page-box div{
    border: 1px solid #d7d7d7;
}
.page-box a, .page-box span {
    padding: 7px 12px 0;
    height: 26px;
    font-size: 12px;
    font-family: "Tahoma";
    display: inline-block;
}
.page-box a:link, .page-box a:visited {
    color: #686868;
    text-decoration: none;
}
.page-box a:active, .page-box a:hover {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    text-decoration: none;
    background-color: #fefefe;
    padding:9px 11px 0;
    height:26px;
    background-image: -ms-linear-gradient(top, #fafafa, #ececec);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ececec));
    background-image: -moz-linear-gradient(top, #fafafa, #ececec);
    background-image: -o-linear-gradient(top, #fafafa, #ececec);
    background-image: linear-gradient(top, #fafafa, #ececec);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#ececec', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    background:#fafafa\9;
 
}
.page-box .current{
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    color:#333333;
    font-weight:700;
    border-top:2px solid #37adf0;
    margin-top:-1px;
    padding:8px 11px 0;
    height:26px;
    *padding:9px 11px 0;
}
.member-form{
    display: none;
    width: 360px;
    padding: 12px 60px;
}
.member-form i{
    color: red;
}
.admin-form .item{
    margin: 12px 0;
    line-height: 30px;
}
.admin-form .item .text{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: #555;
    padding: 10px 4px;
    border: 1px solid #ccc;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.admin-form .item .text:focus{
    outline: 0;
    outline: thin dotted \9;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
}
.admin-form label{
    color: #666;
    padding-right: 6px;
}
