/**
 * 描述 : 后台主体框架
 */

/* 头部Logo,主导航
--------------------------------------*/
html {
    height: 100%;
    overflow-y: scroll;
}
body{
    padding: 50px 0 0 200px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #383838;
}
.header .logo {
    float: left;
    margin-left: 16px;
    width: 184px;
    height: 49px;
    background: url(../images/logo.png) no-repeat 10px center;
}

/* 主导航 */
.main-nav {
    float: left;
    overflow: hidden;
}
.main-nav li {
    float: left;
    width: 82px;
}
.main-nav a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #FFF;
    text-align: center; font-weight: bold;
}
.main-nav a:hover {
    text-decoration: none;
    background-color:#656565;
}
.main-nav .current{
    background-color: #656565;
}
.main-nav .current a {
    background-color: #86db00;
}

/* 用户 */
/*.header .user-bar {
    float: right;
    margin-right: 15px;
    color: #efefef;
}
.header .user-bar a {
    margin: 0 5px;
    color: #fff;
}*/
.header .user-bar {
    position: relative;
    float: right;
    margin-right: 20px;
}
.header .user-bar .user-entrance {
    display: block;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    background: url(../images/user.png) no-repeat 0 0;
}
.header .user-bar .user-entrance:hover {
    border-bottom: 0 none;
    text-decoration: none;
}
.header .user-menu {
    position: absolute;
    top: 50px;
    right: -8px;
    width: 140px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.header .user-menu li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}
.header .user-menu a {
    padding: 0 15px;
}
.header .user-menu a:hover {
    color: #424242;
    background-color: #f5f5f5;
}
.header .user-menu .manager {
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 边栏导航样式
------------------------------------------ */
.sidebar {
    position: fixed;
    left: 0;
    z-index: 0;
    padding-top: 30px;
    width: 200px;
    height: 100%;
	background: #6b6b6b url("/Public/Admin/images/bg/bg.png");
}
.subnav {
    padding: 0 0 66px 15px;
}

/* 子导航标题栏 */
.subnav h3 {
    margin-right: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    /*font-weight: 400;*/
    color: #ffffff;
    cursor: pointer;
}
.subnav h3 a {
	color:#fff;
	text-decoration: none;
}
.subnav h3 a:hover {
    text-decoration: none;
}
.subnav h3 .icon,
.subnav h3 .icon-fold,
.subnav h3 .icon-recycle {
    display: inline-block;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.subnav h3 .icon {
    background: url(../images/minus.png) no-repeat center center;
}
.subnav h3 .icon-fold {
    background: url(../images/plus.png) no-repeat center center;
}
.icon-recycle {
    background: url(../images/recycle.png) no-repeat center center;
}

/* 子导航 */
.side-sub-menu {
    margin: 5px 0;
}
.side-sub-menu > li {
    position: relative;
    margin: 2px -1px 2px 0;
}
.side-sub-menu > li > .item {
    padding:6px 0;
    line-height:20px;
    padding-left: 26px;
    display:block;
    color: #f1f1f1;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.side-sub-menu > li > .item:hover{
	color: #ffffff;
	text-decoration: none;
	background: #7c7c7c;
	margin-right:1px;
	/*border-radius: 3px 0 0 3px;*/
}
.side-sub-menu > .current > .item,
.side-sub-menu > .hover > .item {
    color: #414141;
    text-decoration: none;
    /*background:#ffffff;*/
	/*border-radius: 3px 0 0 3px;*/
}
.side-sub-menu > .current > .item,
.side-sub-menu > .current > .item:hover {
	color: #414141;
    background: url(../images/subnav_current.png) no-repeat 165px 12px #f6f6f6;
}

/* windows开始菜单式子菜单 */
.side-sub-menu li .subitem {
    display: none;
    position: absolute;
    top: 0;
    left: 185px;
    width: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.side-sub-menu .hover > .subitem {
    display:  block;
}
.side-sub-menu .subitem .subitem {
    margin-top: -1px;
    left: 150px;
}
.side-sub-menu .subitem .item {
    display: block;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
.side-sub-menu .subitem .item:hover {
    text-decoration: none;
    background: url(../images/subnav_current.png) no-repeat 130px 12px #f5f5f5;
}
.side-sub-menu .subitem > .item {
    border-radius: 0;
    border: 0 none;
    width: auto;
}


/* 内容模块边栏子菜单 */
.subnav-off {
    display: none;
}


/* 后台内页模块样式
------------------------------------------------- */
.main {
    padding:20px;
	background-color: #f6f6f6;
}
.main-title {
    padding-bottom: 20px;
    *zoom: 1;
}
.main-title:before,
.main-title:after {
    display: table;
    content: "";
}
.main-title:after {
    clear: both;
}
.main-title h2 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #445566;   
}
.main-title .tools {
    float: right;
    margin-top: 5px;
}
.main-title .ca {
    display: inline-block;
    margin: 0 10px;
    width: 5px;
    height: 10px;
    background: url(../images/subnav_current.png) no-repeat center center;
}

/* 消息栏 */
.tips-bar {
    margin: 10px 18px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 1px 0 rgba(0,0,255,.05);
}
.tips-bar .i-tips {
    float: left;
    width: 27px;
    height: 25px;
    background: url(../images/i_tips.png) no-repeat;
}
.tips-bar .tips-cnt {
    float: left;
    margin-left: 5px;
    font-size: 12px;
}
.tips-bar .close {
    float: right;
    margin-right: 10px;
    font-size: 20px;
    color: #d5d5d5;
    text-shadow: 0 1px 0 #FFF;
}
.tips-bar .close:hover {
    color: #000;
    opacity: .4;
    filter: alpha(opacity=40);
}

/* 后台首页 */
.columns {
    margin-bottom: 30px;
}
.columns .hd {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #0f62b5;
    background-color: #f5f5f5;
}
.columns .manager-list {
    margin: 10px 4px 0 0;
}
.columns .manager-list li {
    margin-right: 20px;
    float: left;
    color: #4169e1;
}
.columns .sys-info {
    width: 100%;
}
.columns .sys-info li {
    line-height: 35px;
    border-bottom: 1px solid #f0f0f0;
}
.columns .sys-info .labs {
    float: left;
    padding-left: 5px;
    width: 195px;
    height: 35px;  
}
.columns .sys-info .des {
    overflow: hidden;
    *zoom: 1;
}


.member-form {
    display: none;
    width: 360px;
    padding: 12px 60px;
}
.member-form i{
    color: red;
}
.admin-form .item{
    margin: 12px 0;
    line-height: 30px;
}
.admin-form .item .text{
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: #555;
    padding: 10px 4px;
    border: 1px solid #ccc;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
.admin-form .item .text:focus{
    outline: 0;
    outline: thin dotted \9;
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.8);
}
.admin-form label{
    color: #666;
    padding-right: 6px;
}


/* 插件配置表单 */
.config-form fieldset {
    margin-bottom: 20px;
}
/* 授权表单 */
.auth-form {
    padding: 15px;
    min-width: 100px;
}

/* 插件钩子弹出层 */
.hooktpl {
    padding: 10px;
    width: 500px;
}
.hooktpl .textarea {
    max-width: 500px;
}
.add-pop-form {
    width: 500px;
}

/* 授权编辑页 */
.checkmod {
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
}
.checkmod dt {
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    background-color: #ECECEC;
}
.checkmod dd {
    padding-left: 10px;
    line-height: 30px;
}
.checkmod dd .checkbox {
    margin: 0 10px 0 0;
}
.checkmod dd .divsion {
    margin-right: 20px;
}

.thinkbox-content{
    padding: 15px;
    min-width: 100px;
}
.thinkbox-default .thinkbox-tools {
    border:none!important; 
    background-color: #fff!important;
}
.thinkbox-default .thinkbox-top-left {
    border-radius: 0!important;
}
.thinkbox-default .thinkbox-top-right {
    border-radius: 0!important;
}
.thinkbox-default .thinkbox-bottom-left {
    border-radius: 0!important;
}
.thinkbox-default .thinkbox-bottom-right {
    border-radius: 0!important;
}
.thinkbox-default .thinkbox-window-actions button {
    margin-right: 6px!important;
    /* background-image:none!important; */
    /* background-color:#dd0000!important; */
}

/* 版权信息 */
.cont-ft {
    padding: 0 15px;
    background-color: #f6f6f6;
}
.copyright {
    height: 39px;
    line-height: 39px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.copyright a {
    margin: 0 4px;
}
