/** 
 * 描述：定义数据表格样式
 * 作用范围: 公共，表格模块
 */

.row-selected {
    width: 15px;
}
/* 数据表格
------------------------------------------------- */
.data-table {
	margin: 10px 0;
}
.data-table table {
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid #000000;*/
}
.data-table tbody tr {
	background-color: #ffffff;
	color: #686868;
}
.data-table caption {
    height: 30px;
    line-height: 30px;
    font-weight: 700;   
}
.data-table thead th,
.data-table tbody td {
	padding:8px;
    height: 19px;
    line-height: 19px;
    font-weight: 400;
    overfow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}
.data-table thead th {
    text-align: left;
	color:#fff;
    /*-webkit-box-shadow: 0px 1px 0 rgba(255, 255, 255, 1.0) inset;*/
    /*-moz-box-shadow: 0px 1px 0 rgba(255, 255, 255, 1.0) inset;*/
    /*box-shadow: 0px 1px 0 rgba(255, 255, 255, 1.0) inset;*/
    background-color: #000000;
	opacity: 0.9;
}
/* 隔行变色 */
.table-striped tbody tr {
	background-color: #fefefe;
	color: #686868;
}
/* 隔行变色 */
.table-striped tbody tr:nth-child(even) {
	/*color: #444444;*/
	background-color: #f4f4f4;
}

.table-striped tbody td {
	border-bottom: none;
}

/* 数据表格
------------------------------------------------- 