<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function selectCategory(){
 var result= PopModalWindow('__APP__/Category/treeSelect/',268,360);
 if(typeof(result) == "undefined") return;
	$('categoryName').value=result[0][0];
	$('categoryId').value=result[0][1];
}

function SaveComplete(data,status){
	if (status==1)
	{
	$('form1').reset();
	resetEditor();
	}
}

function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<IMG SRC="../Public/images/ajaxloading.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="" align="absmiddle"> 文件上传中～';
	return true;
}
function save(){
	if ($('file1').value)
	{
		uploading();
		$('upload').submit();
	}
	sendForm('form1','__URL__/insert/','SaveComplete');

}
function doComplete(data,status){
	if (status==1)
	{
	window.location.href= '__URL__';
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">重命名<eq name="type" value="dir">目录</eq><eq name="type" value="file">文件</eq> [ <A HREF="__URL__">返回列表</A> ]</div>
<div id="result" class="result none"></div>
<FORM METHOD=POST  onsubmit="return CheckForm(this)" action="" id="form1" >
<TABLE cellpadding=3 cellspacing=3 >
<TR>
	<TD class="tRight" >名称：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire"  check='Require' warning="目录名称不能为空" NAME="name" value="{$filename|basename}"></TD>
</TR>
<TR>
	<TD ></TD>
	<TD class="center"><div style="width:85%;margin:5px">
		<INPUT TYPE="hidden" name="ajax" value="1">
		<INPUT TYPE="hidden" NAME="home" value="{$home}">
		<INPUT TYPE="hidden" NAME="oldname" value="{$filename|basename}">
	<div class="impBtn fLeft"><INPUT TYPE="button" value="保存" onclick="sendForm('form1','__URL__/update',doComplete)" class="save imgButton"></div>
	<div class="impBtn fRig"><INPUT TYPE="reset" class="reset imgButton" value="重置" ></div>
	</div></TD>
</TR>
</TABLE>
</FORM>
</div>
</div>
