<extend name="Public/base" />

<block name="body">
    <div class="main-title cf">
        <h2>
            <if condition="ACTION_NAME eq 'add'">新增<else/>编辑</if>
        </h2>
    </div>
    <!-- 标签页导航 -->
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
        <li data-tab="tab2"><a href="javascript:void(0);">高 级</a></li>
    </ul>
    <div class="tab-content">
    <!-- 表单 -->
    <form id="form" action="{:U('add?model='.$model)}" method="post" class="form-horizontal">
        <!-- 基础文档模型 -->
        <div id="tab1" class="tab-pane in tab1">
            <volist name="fields" id="field">
                <if condition="$field['is_show'] == 1 || $field['is_show'] == 2">
                <div class="form-item cf">
                    <label class="item-label">{$field['title']}<span class="check-tips">（{$field['remark']}）</span></label>
                    <div class="controls">
                        <switch name="field.type">
                            <case value="num">
                                <input type="text" class="text input-large" name="{$field.name}" value="">
                            </case>
                            <case value="string">
                                <input type="text" class="text input-large" name="{$field.name}" value="">
                            </case>
                            <case value="textarea">
                                <label class="textarea input-large">
                                <textarea name="{$field.name}"></textarea>
                                </label>
                            </case>
                            <case value="bool">
                                <select name="{$field.name}">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <case value="select">
                                <select name="{$field.name}">
                                    <volist name=":parse_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <default/>
                            <input type="text" class="text input-large" name="{$field.name}" value="">
                        </switch>
                    </div>
                </div>
                </if>
            </volist>
        </div>

        <div id="tab2" class="tab-pane tab2">

        </div>


        <div class="form-item cf">
            <button class="btn submit-btn hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <a class="btn btn-return" href="javascript:;">返 回</a>
        </div>
    </form>
    </div>
</div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">


$('#submit').click(function(){
    $('#form').submit();
});

$(function(){
    $('#dateline').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('#create_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</block>
