/* 锁屏层样式 */ 
.thinkbox-modal-blackout-win7{
    background-color: #fff;
    opacity: .2;
    filter:alpha(opacity=20);
}
/*弹出层样式*/
.thinkbox-win7{
	
}
/*弹出层边框*/
.thinkbox-win7 .thinkbox-top-left,.thinkbox-win7 .thinkbox-top-right,
.thinkbox-win7 .thinkbox-left,.thinkbox-win7 .thinkbox-right,
.thinkbox-win7 .thinkbox-bottom-left,.thinkbox-win7 .thinkbox-bottom-right{
	width: 9px;
}
.thinkbox-win7 .thinkbox-top-left,.thinkbox-win7 .thinkbox-top,.thinkbox-win7 .thinkbox-top-right,
.thinkbox-win7 .thinkbox-bottom-left,.thinkbox-win7 .thinkbox-bottom,.thinkbox-win7 .thinkbox-bottom-right{
	height: 9px;
}
.thinkbox-win7 .thinkbox-top-left,.thinkbox-win7 .thinkbox-top-right,
.thinkbox-win7 .thinkbox-bottom-left,.thinkbox-win7 .thinkbox-bottom-right{
	background: url(./img3.png) no-repeat;
}
.thinkbox-win7 .thinkbox-left,.thinkbox-win7 .thinkbox-right{
	background: url(./img1.png) repeat-y;
}
.thinkbox-win7 .thinkbox-top,.thinkbox-win7 .thinkbox-bottom{
	background: url(./img2.png) repeat-x;
}
.thinkbox-win7 .thinkbox-top-left{
	background-position: 0 0;
}
.thinkbox-win7 .thinkbox-top-right{
	background-position: 100% 0;
}
.thinkbox-win7 .thinkbox-bottom-left{
	background-position: 0 100%;
}
.thinkbox-win7 .thinkbox-bottom-right{
	background-position: 100% 100%;
}
.thinkbox-win7 .thinkbox-left{
	background-position: 0 0;
}
.thinkbox-win7 .thinkbox-right{
	background-position: 100% 100%;
}
.thinkbox-win7 .thinkbox-top{
	background-position: 0 0;
}
.thinkbox-win7 .thinkbox-bottom{
	background-position: 100% 100%;
}
/*弹出层内部*/
.thinkbox-win7 .thinkbox-inner{
	background: url(./img4.png) repeat 0 0;
}
/*弹出层头部*/
.thinkbox-win7 .thinkbox-title{
	height: 36px;
	line-height: 36px;
	position: relative;
}
/*弹出层内容*/
.thinkbox-win7 .thinkbox-body{
	border: 1px solid #5D6C7A;
	box-shadow: 0 0 1px #fff;
	background-color: #fff;
}
/*弹出层工具*/
.thinkbox-win7 .thinkbox-tools{
	border: 1px solid #5D6C7A;
	border-top: 0;
	box-shadow: 0 0 1px #fff;
	background-color: #F0F0F0;
	margin-top: -2px;
	padding: 12px 6px;
	text-align: right;
}
.thinkbox-win7 .thinkbox-tools button{
	margin: 0 6px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	width: auto!important;
	width: 48px;
	min-width: 48px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	padding: 0 12px;
}
/*关闭按钮*/
.thinkbox-win7 .thinkbox-close{
	width: 46px;
	height: 17px;
	cursor: pointer;
	background: url(./img5.png) no-repeat -79px -19px;
	position: absolute;
	line-height: 9;
	top: 3px;
	right: 9px;
	overflow: hidden;
	border: 1px solid #68844E;
	border-top: 0;
	box-shadow: 0 0 1px rgba(255,255,255,.8);
}
.thinkbox-win7 .thinkbox-close:hover{
	background-position: -79px -38px;
}
.thinkbox-win7 .thinkbox-title .thinkbox-close{
	top: -6px;
	right: 0;
}
/*最大化按钮*/

/*复位按钮*/

/*最小化按钮*/
/*弹出层拖拽*/
.thinkbox-win7 .thinkbox-draging{ 
	cursor: default;
}
/*工具确定按钮*/
.thinkbox-win7 .thinkbox-button-ok{
	border: 1px solid #3C7FB1;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px #54DBFD inset;
	background: #f1f5f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f5f8 0%, #e8eff3 50%, #d9e6ed 50%, #c4d7e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f8), color-stop(50%,#e8eff3), color-stop(50%,#d9e6ed), color-stop(100%,#c4d7e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f8', endColorstr='#c4d7e2',GradientType=0 ); /* IE6-9 */
}
.thinkbox-win7 .thinkbox-button-ok:hover{
	border-color: #3C7FB1;
	background: #eaf6fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf6fd), color-stop(50%,#d9f0fc), color-stop(51%,#bee6fd), color-stop(100%,#a7d9f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6fd', endColorstr='#a7d9f5',GradientType=0 ); /* IE6-9 */
}
/*工具取消按钮*/
.thinkbox-win7 .thinkbox-button-cancel{
	border: 1px solid #707070;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px #fff inset;
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f2f2 0%, #ebebeb 51%, #e1e1e1 51%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(51%,#ebebeb), color-stop(51%,#e1e1e1), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f2f2 0%,#ebebeb 51%,#e1e1e1 51%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f2f2 0%,#ebebeb 51%,#e1e1e1 51%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f2f2 0%,#ebebeb 51%,#e1e1e1 51%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f2f2f2 0%,#ebebeb 51%,#e1e1e1 51%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.thinkbox-win7 .thinkbox-button-cancel:hover{
	border-color: #3C7FB1;
	background: #eaf6fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf6fd), color-stop(50%,#d9f0fc), color-stop(51%,#bee6fd), color-stop(100%,#a7d9f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6fd', endColorstr='#a7d9f5',GradientType=0 ); /* IE6-9 */
}
/*工具提交按钮*/
.thinkbox-win7 .thinkbox-button-submit{
	border: 1px solid #3C7FB1;
	border-radius: 3px;
	text-shadow: 0 1px 1px rgba(255,255,255,.5);
	box-shadow: 0 0 1px #54DBFD inset;
	background: #f1f5f8; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1f5f8 0%, #e8eff3 50%, #d9e6ed 50%, #c4d7e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f5f8), color-stop(50%,#e8eff3), color-stop(50%,#d9e6ed), color-stop(100%,#c4d7e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f1f5f8 0%,#e8eff3 50%,#d9e6ed 50%,#c4d7e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f5f8', endColorstr='#c4d7e2',GradientType=0 ); /* IE6-9 */
}
.thinkbox-win7 .thinkbox-button-submit:hover{
	border-color: #3C7FB1;
	background: #eaf6fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaf6fd 0%, #d9f0fc 50%, #bee6fd 51%, #a7d9f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf6fd), color-stop(50%,#d9f0fc), color-stop(51%,#bee6fd), color-stop(100%,#a7d9f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaf6fd 0%,#d9f0fc 50%,#bee6fd 51%,#a7d9f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf6fd', endColorstr='#a7d9f5',GradientType=0 ); /* IE6-9 */
}

/**********************************************
 ************** thinkbox 插件样式 **************
 **********************************************/
/* 加载外部内容loading样式 */
.thinkbox-win7 .thinkbox-load-loading{
    line-height: 30px;
    padding: 20px 10px;
    text-align: center;
    width: 220px;
    border-radius: 5px;
}
/* 提示框样式 */
.thinkbox-win7 .thinkbox-tips{
    height: 62px;
    background-image: url(tips-bg.gif);
    padding: 0 20px 0 70px;;
    background-repeat: no-repeat;
    line-height: 62px;
    font-size: 14px;
    font-weight: 700;
    width: auto;
    border-radius: 5px;
}
/* 弹出成功框样式 */
.thinkbox-win7 .thinkbox-tips-success{
    color: green;
}
/* 弹出错误框样式 */
.thinkbox-win7 .thinkbox-tips-error{
    color: red;
    background-position: 0 -62px;
}
/* 弹出加载框样式 */
.thinkbox-win7 .thinkbox-tips-loading{
    color: black;
    background-image: url(tips_loading.gif);
    background-position: 20px 15px;
}
/*警告提示信息*/
/*确认提示信息*/
.thinkbox-win7 .thinkbox-alert,
.thinkbox-win7 .thinkbox-confirm{
    width: 200px; 
    padding: 10px;
    line-height: 20px;
    height: auto!important;
    height: 40px;
}