{__NOLAYOUT__}<tagLib name="html" />
<include file="Public:header" />
<script language="JavaScript">
<!--
function fleshVerify(){
//重载验证码
var timenow = new Date().getTime();
$('verifyImg').src= '__URL__/verify/'+timenow;
}	
//-->
</script>
</head>

<body onload="document.login.oldpassword.focus()" >
<form method=post name="login" action="__URL__/changePwd/">
<div class="tCenter hMargin">
<table id="checkList" class="login" cellpadding=0 cellspacing=0 >
<tr><td height="3" colspan="2" class="topTd" ></td></tr>
<tr class="row" ><th colspan="2" class="tCenter space">  修改密码</th></tr>
<tr><td height="3" colspan="2" class="topTd" ></td></tr>
<tr class="row" ><td class="tRight">旧密码：</td><td><input type="password" class="medium bLeftRequire" name="oldpassword"></td></tr>
<tr class="row" ><td class="tRight">新密码：</td><td><input type="password" class="medium bLeftRequire" name="password"></td></tr>
<tr class="row" ><td class="tRight">确认新密码：</td><td><input type="password" class="medium bLeftRequire" name="repassword"></td></tr>
<tr class="row" ><td class="tRight">验证码：</td><td><input type="text" class="small bLeftRequire" name="verify"> <img src="__URL__/verify/" border="0" alt="点击刷新验证码" id="verifyImg" onclick="fleshVerify()" style="cursor:pointer" align="absmiddle"></td></tr>
<tr class="row" ><td class="tCenter" align="justify" colspan="2">
<input  type="submit" class="hMargin submit small" value="确 认" alt="确认" />
<input  type="button" onclick="history.back()" class="hMargin submit small" value="取 消" alt="取消" />
</td></tr>
<tr><td height="3" colspan="2" class="bottomTd" ></td></tr>
</table>
</div>
</form>
</body>
</html>