{__NOLAYOUT__}<tagLib name="html" />
<include file="Public:header" />
<script language="JavaScript">
<!--
var curFileNum = 0;
var rowsnum=0;  //记录行数
var rindex="";       //列索引
function addRow(){   
	curFileNum++;
	rowsnum++;
    var arow=tbl.insertRow();
	var td = arow.insertCell();
	td.innerHTML='<div class="impBtn  fLeft" ><input type="file"  name="file'+ curFileNum +'" class="file bgcolor1 large"> </div><img src="../Public/images/limit.gif" width="20" height="20" onclick="javascript:deleteRow()" align="absmiddle" onfocus="javascript:getObject(this)" style="cursor:hand" border="0" alt="删除"> ';
	td.align="center"
	//addFileForm.num.value=rowsnum;
}
function deleteRow(){
	if(tbl.rows.length>0){
		tbl.deleteRow(rindex); //删除当前行
		rowsnum--;    
	}else{
		return;
	}
	rindex="";
}
function getObject(obj){ 
	rindex=obj.parentElement.parentElement.rowIndex;/*当前行对象*/
}

function uploadComplete(id,name){
	$('photo').innerHTML	=	'<img src="__PUBLIC__/Images/girl/'+name+'" class="shadow" style="border:1pt solid gray" border="0" width="130" height="179" alt="" align="absmiddle">';
}
function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<img src="../Public/images/ajaxloading.gif" width="16" height="16" border="0" alt="" align="absmiddle"> 文件上传中～';
	return true;
}
//-->
</script>
<div id="main" class="main" >
<div class="content">
<div id="result" class="result none"></div>
<div class="title">编辑资料</div>
<div class="fLeft" style="width:90%;float:left">
<form method=POST  id="form1" >
<table cellpadding=3 cellspacing=3>
<tr>
	<td class="tRight" >昵称：</td>
	<td class="tLeft" ><input type="text" class="medium bLeft"  name="nickname" value="{$vo.nickname}"></td>
</tr>
<tr>
	<td class="tRight" >验证码：</td>
	<td class="tLeft" ><input type="text" class="medium bLeft"  name="verify" check='Number' warning="验证码为数字" value="{$vo.verify}"></td>
</tr>
<!-- <tr>
	<td class="tRight" >绑定帐号：</td>
	<td class="tLeft" ><input type="text" class="medium bLeft"  name="bind_account" value="{$vo.bind_account}"></td>
</tr> -->
<tr>
	<td class="tRight">Email：</td>
	<td class="tLeft"><input type="text" class="large bLeft"  name="email" value="{$vo.email}"></td>
</tr>
<tr>
	<td class="tRight tTop">备  注：</td>
	<td class="tLeft"><textarea class="large bLeft"  name="remark" rows="5" cols="57">{$vo.remark}</textarea></td>
</tr>
<tr>
	<td ></td>
	<td class="center">
	<input type="hidden" name="id" value="{$vo.id}">
	<input type="hidden" name="ajax" value="1">
	<input type="button" value="保 存" onclick="sendForm('form1','__URL__/change/')" class="submit small">
	<input type="reset" class="small submit hMargin" value="清 空" >
	</td>
</tr>
</table>
</form>
</div>
</div>
</div>
