@charset "utf-8";

/*============================================================
 * 格式化标签
/===========================================================*/
*{margin:0;padding:0}
body{background:#fff;font:400 12px/2em 'Microsoft Yahei','黑体',Tahoma,sans-serif;}
button,select{font-size:12px;}
button,label,.submit,.button,.btn,.verify_img{cursor:pointer;}
img,input,select{vertical-align:middle;}
img{border:0;}
ul,ol{list-style-type:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;}
dt,strong{font-weight:700;}
em,cite,i{font-style:normal;}
del{text-decoration:line-through;}
a{color:#000;text-decoration:none;outline:none;}
a:hover{color:#91bc49;text-decoration:underline;}
a:focus{outline:0;}

/* 快捷样式 */
.l{float:left;}
.r{float:right;}
.c{clear:both;}
.n{display:none;}

/* 共用背景 */
.admin_header,
.admin_footer,
.admin_nav,
.uibox_top_left,
.uibox_top_content,
.uibox_top_right,
.uibox_btm_left,
.uibox_btm_content,
.uibox_btm_right,
.admin_nav h2 a:hover span,
.admin_nav h2 a:hover strong,
.admin_nav h2.on a span,
.admin_nav h2.on a strong,
.admin_nav h2 a span.r i,
.menu_default li h3,
.menu_default li h3 a,
.menu_default_link a{background:transparent url(../Images/bg_admin1.png) no-repeat 0 0;}

.uibox_body_left,.uibox_body_right,
.admin_nav_menu ul,.admin_nav_menu div{background:transparent url(../Images/bg_admin2.png) repeat-y 0 0}

/*============================================================
 * 布局
/===========================================================*/

.admin_wrap{
    position:relative;
    width:100%;
    height:100%;
    background:#000 url(../Images/bg.jpg);
}

/*  暂时弃用 */
.admin_overbg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#ccc;
}


.admin_header{
    position:relative;
    width:100%;
    height:50px;
    background-repeat:repeat-x;
    background-position:0 -600px;
    z-index:90;
}

.admin_footer{
    position:relative;
    height:28px;
    overflow:hidden;
    background-repeat:repeat-x;
    background-position:0 -650px;
}

.admin_content{
    position:relative;
    height:100%;
    width:100%;
    overflow:hidden;
}

.admin_footer p{
    text-align:center;
    color:#999;
    font:400 12px/28px 'Microsoft Yahei',Tahoma,sans-serif;
}

.admin_footer p a{
    color:#999;
    border-bottom:1px dashed #ccc;
}

.admin_footer p a:hover{
    text-decoration:none;
    color:#91bc49;
    border-color:#91bc49;
}

/*============================================================
 * Topthink UI
/===========================================================*/
.admin_uibox{
    height:100%;
    overflow:hidden;
}

#admin_side{
    float:left;
    display:inline-block;
    margin-top:20px;
    margin-left:20px;
    width:202px;
    background:transparent;
}

#admin_main{
    float:left;
    display:inline-block;
    margin-top:20px;
    margin-left:20px;
    width:auto;
    background:transparent;
}

/* ------------------------
 * uibox_top and uibox_btm
/ -------------------------*/

/* top */
.uibox_top{
    width:100%;
    height:32px;
    overflow:hidden;
}


.uibox_top_left{
    display:inline-block;
    float:left;
    width:12px;
    height:32px;
    overflow:hidden;
    background-position:0 0;
}

.uibox_top_content{
    display:inline-block;
    float:left;
    width:auto;
    height:32px;
    overflow:hidden;
    background-repeat:repeat-x;
    background-position:0 -32px;
}

.uibox_top_right{
    display:inline-block;
    float:left;
    width:12px;
    height:32px;
    overflow:hidden;
    background-position:-12px 0;
}

/* bottom */
.uibox_btm_left{
    display:inline-block;
    float:left;
    width:24px;
    height:12px;
    overflow:hidden;
    background-position:0 -76px;
}

.uibox_btm_content{
    display:inline-block;
    float:left;
    width:auto;
    height:12px;
    overflow:hidden;
    background-repeat:repeat-x;
    background-position:0 -64px;
}

.uibox_btm_right{
    display:inline-block;
    float:left;
    width:24px;
    height:12px;
    overflow:hidden;
    background-position:0 -88px;
}

/* uibox_body */
.uibox_body{
    width:100%;
    height:auto;
}

.uibox_body_content{
    display:inline-block;
    float:left;
    width:auto;
    height:100%;
    background-color:#fff;
}

.uibox_body_left,.uibox_body_right{
    display:inline-block;
    float:left;
    width:12px;
    height:100%;
    background-position:-240px 0;
}

.uibox_body_right{
    background-position:-252px 0;
}

/* 区块独设 */
#admin_side .uibox_top_content,
#admin_side .uibox_body_content{width:178px;}
#admin_side .uibox_btm_content{width:154px}

/*============================================================
 * Topthink UI 细节
/===========================================================*/

/* 标题 */
.uibox_top_content h2{
    height:32px;
    line-height:32px;
    font-size:12px;
    color:#fff;
}

.admin_logo,.admin_nav,.admin_userinfo{
    display:inline-block;
    height:50px;
    float:left;
}

.admin_logo{
    width:242px;
    font:700 14px/50px Tahoma,sans-serif;
    text-align:center;
    color:#fff;
    overflow:hidden;
}

/* 菜单 */
.admin_nav{
    border:1px solid #000;
    border-width:0 1px;
    width:60%;
    background-repeat:repeat-x;
    background-position:0 -678px;
}

.admin_nav h2{
    display:inline-block;
    float:left;
    margin-right:30px;
    height:50px;
}

.admin_nav h2 a{
    display:block;
    width:auto;
    height:50px;
    color:#fff;
    font:700 13px/50px Tahoma,sans-serif;
    overflow:hidden;
}

.admin_nav h2 a:hover{ text-decoration:none;}

.admin_nav h2 a span,.admin_nav h2 a strong{
    display:inline-block;
    float:left;
    width:auto;
    height:50px;
    line-height:50px;
    overflow:hidden;
    cursor:pointer;
}
.admin_nav h2 a span.r i{
    display:block;
    width:12px;
    height:50px;
    background-position:0 -400px;
}

/* oh! my god */
.admin_nav h2 a span{width:24px;}
.admin_nav h2 a strong{padding:0 3px;}
.admin_nav h2.on a span,.admin_nav h2.on a strong,
.admin_nav h2 a:hover span,.admin_nav h2 a:hover strong{color:#fff;}
.admin_nav h2.on a span,.admin_nav h2.on a:hover span{background-position:0 -100px;}
.admin_nav h2.on a span.r,.admin_nav h2.on a:hover span.r{background-position:0 -200px;}
.admin_nav h2 a:hover span{background-position:0 -250px;}
.admin_nav h2 a:hover span.r{background-position:0 -350px;}
.admin_nav h2.on a strong,.admin_nav h2 a:hover strong,
.admin_nav h2.on a:hover strong{background-repeat:repeat-x;background-position:0 -150px;}
.admin_nav h2 a:hover strong{background-position:0 -300px;}
.admin_nav h2 a:hover span.r i{background-position:0 -450px;}


/* 下拉菜单*/
#nav_menu{
    position:relative;
    z-index:9999;
}

.admin_nav_menu{
    position:absolute;
    top:50px;
    left:50%;
    margin-left:-60px;
    width:120px;
    height:100%;
    display:none;
}

.admin_nav_menu ul{
    width:106px;
    padding:5px 7px;
    overflow:hidden;
}

.admin_nav_menu li{
    width:106px;
    height:28px;
    padding:10px 0;
    border-top:1px solid #ccc;
    overflow:hidden;
}

.admin_nav_menu li a{
    float:none;
    width:106px;
    height:28px;
    line-height:28px;
    text-align:center;
    color:#333;
    background:none;
}

.admin_nav_menu li a:hover{
    background-color:#f1f1f1;
}

.admin_nav_menu li.on a{
    background-color:#f1f1f1;
    color:#c30;
}

.admin_nav_menu div{
    width:120px;
    height:20px;
    background-position:-120px 0;
    background-repeat:no-repeat;
    overflow:hidden;
}

/* 用户信息 */
.admin_userinfo{
    width:180px;
    height:50px;
    padding-left:20px;
    color:#ccc;
    overflow:hidden;
}

.admin_userinfo a{
    display:inline-block;
    float:left;
    height:20px;
    line-height:20px;
    margin-right:10px;
    color:#ccc;
    border-bottom:1px dashed #ccc;
}

.admin_userinfo a:hover{
    text-decoration:none;
    color:#91bc49;
    border-color:#91bc49;
}

/* iframe */

.admin_iframe{
    width:100%;
    height:100%;
    background:transparent;
    overflow:auto;
}

#admin_sidemenu{
    width:178px;
}

/* 管理菜单 默认 */
.menu_default{
    padding:3px;
    width:172px;
    overflow:auto;
}

/* 默认菜单UI */
.menu_default ul{
    width:170px;
    border:1px solid #b7babc;
    overflow:auto;
}

.menu_default li{
    line-height:20px;
    overflow:hidden;
}

.menu_default li h3{
    width:100%;
    height:21px;
    overflow:hidden;
    background-repeat:repeat-x;
    background-position:0 -558px;
    border-bottom:1px solid #b7babc;
}

.menu_default li h3 a{
    display:block;
    width:100%;
    height:21px;
    text-indent:22px;
    color:#333;
    font:700 12px/21px Tahoma,sans-serif;
    background-position:0 -503px;
    overflow:hidden;
}

.menu_default li h3 a:hover{
    color:#096;
    text-decoration:none;
    background-position:0 -525px;
}

.menu_default_link{
    padding:10px 5px 10px 15px;
    overflow:auto;
    display:none;
    border-bottom:1px solid #b7babc;
}

.menu_default li.last h3,.menu_default li.last .menu_default_link{
    border-bottom:0;
}

.menu_default li.on h3{
    border-bottom:1px solid #b7babc;
    background-position:0 -579px;
}

.menu_default li.on h3 a{
    background-position:0 -525px;
    color:#168168;
}

.menu_default li.on .menu_default_link{
    display:block;
}

.menu_default_link a{
    display:block;
    height:21px;
    line-height:21px;
    margin-bottom:10px;
    overflow:hidden;
    text-indent:20px;
    color:#333;
    background-position:0 -503px;
}

.menu_default_link a:hover{
    color:#000;
    text-decoration:underline;
}
.menu_default_link a.on{color:#690;font-weight:700;}


/* 登录页 */
#login_wrap{
    overflow:hidden;
    background:#000 url(../Images/bg03.jpg);
}

.login_title,
.login_tips,
.login_top,
.login_content,
.login_btm,
.login_btn,
.login_text,
.login_item label{background:transparent url(../Images/bg_login.png) no-repeat;}

.login_box{
    position:relative;
    top:50%;
    left:50%;
    margin-top:-138px;
    margin-left:-268px;
    width:536px;
    height:276px;
}

.login_tips{
    position:absolute;
    left:528px;
    top:100px;
    width:auto;
    padding:13px 5px 15px 0;
    height:25px;
    line-height:25px;
    color:#f00;
    text-align:center;
    background-position:100% -218px;
    display:none;
    cursor:pointer;
}

.login_top{
    position:relative;
    height:52px;
    overflow:hidden;
    background-position:-536px 0;
}

.login_content{
    position:relative;
    width:500px;
    padding:10px 11px 10px 25px;
    min-height:126px;
    overflow:hidden;
}

.login_logo{
    display:inline-block;
    float:left;
    width:200px;
    height:146px;
    background:url(../Images/bg_logo.png) no-repeat;
}

.login_item{
    display:inline-block;
    float:left;
    width:290px;
    padding-left:10px;
    overflow:hidden;
}

.login_item p{
    height:31px;
    overflow:hidden;
    margin:10px 0;
}

.login_item label{
    display:inline-block;
    float:left;
    width:62px;
    padding:0 8px 0 0;
    height:31px;
    text-align:right;
    color:#fff;
    font:700 13px/31px 'Microsoft Yahei',Tahoma,sans-serif;
    background-position:-649px -124px;
}

.login_text{
    display:inline-block;
    float:left;
    border:none;
    width:190px;
    height:21px;
    line-height:21px;
    font-size:13px;
    margin:0;
    padding:5px;
    background-position:100% -124px;
}
#login_verify{width:110px;}

.login_item p.focus label{background-position:-649px -186px;}
.login_item p.focus .login_text{background-position:100% -186px;}
.login_item p.error label{background-position:-649px -155px;}
.login_item p.error .login_text{background-position:100% -155px;}

.verify_img{
    vertical-align:middle;
    margin:3px 0 0 10px;
}

.login_btm{
    position:relative;
    height:72px;
    overflow:hidden;
    background-position:-536px -52px;
}

.login_btn{
    position:absolute;
    top:6px;
    left:365px;
    display:block;
    width:102px;
    height:38px;
    overflow:hidden;
    text-indent:-9999999px;
    background-position:-540px -125px;
}

.login_btn:hover{background-position:-540px -178px;}