{// 引入标签库 }
<tagLib name="html" />
{// 加载头部公共文件 }
<include file="../Public/header" />
<!-- 菜单区域  -->
<SCRIPT LANGUAGE="JavaScript">
<!--
	function saveAccess(){
		ThinkAjax.sendForm('form1','__URL__/saveAccess');
	}
//-->
</SCRIPT>
<!-- 主页面开始 -->
<div id="main" class="main" >
    <!-- 主体内容  -->
<div class="content" >
<div class="title"> 文档授权 [ <A HREF="__URL__/">返回列表</A> ]</div>
<!--  功能组区域  -->
<div id="result" class="result none"></div> 
<div class="fLeft"><html:acl id="form1" module="File"  submitMethod="saveAccess"  accessList="fileList" selectAccessList="selectList" name="saveId" title="文档访问授权" /> </div>  
</div>
<!-- 主体内容结束 -->
</div>
<!-- 主页面结束 -->

  