<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function selectCategory(){
 var result= PopModalWindow('__APP__/Category/treeSelect/',268,360);
 if(typeof(result) == "undefined") return;
	$('categoryName').value=result[0][0];
	$('categoryId').value=result[0][1];
}

function SaveComplete(data,status){
	if (status==1)
	{
	$('form1').reset();
	resetEditor();
	}
}

function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<IMG SRC="../Public/images/ajaxloading.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="" align="absmiddle"> 文件上传中～';
	return true;
}
function save(){
	if ($('file1').value)
	{
		uploading();
		$('upload').submit();
	}
	sendForm('form1','__URL__/insert/','SaveComplete');

}
function doComplete(data,status){
	if (status==1)
	{
	window.location.href= '__URL__';
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">文档版本查看 [ <A HREF="javascript:history.back()">返回列表</A> ]</div>
<switch name="vo.extension" >
<case value="dir">
<div id="result" class="result"><IMG SRC="../Public/images/use.gif" WIDTH="20" HEIGHT="20" BORDER="0" ALT="" align="absmiddle"> 无法查看目录的版本历史 [ <A HREF="javascript:history.back()">返回前页</A> ]</div>
</case>
<default />
<TABLE cellpadding=3 cellspacing=3 width="90%">
<TR>
	<TD class="tRight tTop"></TD>
	<TD class="tLeft tTop">
	<fieldset  style="float:left;width:75%">
	<legend style="font-weight:bold;color:red">当前版本</legend>
	<div>
	<TABLE id="attachs" >
	<TR>
		<TD>
		<div style="padding:3px">{$vo.extension|showExt}  [<eq name="vo.update_time" value="">{$vo.update_time|toDate='y-m-d H:i:s'}</eq><neq name="vo.update_time" value="">{$vo.create_time|toDate='y-m-d H:i:s'}</neq>] <A HREF="__URL__/download/id/{$vo.id}">{$vo.name}</A> {$vo.size|byte_format} </div>
		</TD>
	</TR>
	</TABLE>
	</div>
	</fieldset>
</TD>
</TR>
<TR>
	<TD class="tRight tTop"></TD>
	<TD class="tLeft tTop">
	<fieldset  style="float:left;width:75%">
	<legend >历史版本列表</legend>
	<div>
	<TABLE id="attachs" >
	<TR>
		<TD>
		<volist name="history" id="attach" empty="还没有历史版本">
		<div style="padding:3px">{$attach|extension|showExt} [{$attach|filectime|toDate='y-m-d H:i:s' }] <A HREF="/Thinkcenter/Admin/{$attach}">{$attach|basename}</A> {$attach|filesize|byte_format} </div>
		</volist></TD>
	</TR>
	</TABLE>
	</div>
	</fieldset>
</TD>
</TR>
</TABLE>
</switch>
</div>
</div>
