<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--

function SaveComplete(data,status){
	if (status==1)
	{
	$('form1').reset();
	}
}
function addRow(){   
	curFileNum++;
	rowsnum++;
    var row=tbl.insertRow(-1);
	//var td = arow.insertCell();
	var cell = document.createElement("td");
	cell.innerHTML='<div class="fLeft hMargin"><IMG SRC="../Public/images/del.gif"  style="cursor:hand" onfocus="javascript:getObject(this)" onclick="deleteRow();" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle"></div> <div class="impBtn  fLeft" ><INPUT TYPE="file" id="file'+curFileNum+'" name="file'+ curFileNum +'" class="file  huge"></div><div class="fLeft hMargin"><INPUT TYPE="text" class="large" NAME="remark[]" value=" 描述信息'+curFileNum+'"></div>';
	cell.align="center"
	row.appendChild(cell); 
	//addFileForm.num.value=rowsnum;
}
function deleteRow(){
	if(tbl.rows.length>0){
		tbl.deleteRow(rindex); //删除当前行
		rowsnum--;    
	}else{
		return;
	}
	rindex="";
}
function getObject(obj){ 
	rindex=obj.parentElement.parentElement.rowIndex;/*当前行对象*/
}

function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<IMG SRC="../Public/images/ajaxloading.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="" align="absmiddle"> 文件上传中～';
	return true;
}
function save(){
	if ($('file1').value)
	{
		uploading();
		$('upload').submit();
	}
	sendForm('form1','__URL__/addFile/','SaveComplete');
}
function uploadComplete(){
	window.location.href	=	'__URL__/index/pid/'+$F('pid');
}
//-->
</SCRIPT>
<div class="content">
<div class="title">上传文档 [ <A HREF="__URL__">返回列表</A> ]</div>
<div id="result" class="result none"></div>
<TABLE cellpadding=3 cellspacing=3 width="100%">
<form id="upload" METHOD=POST action="__URL__/upload/" onsubmit="return CheckForm(this);" enctype="multipart/form-data" target="iframeUpload">
<TR>
	<TD colspan="2" class="tLeft"><INPUT TYPE="button" value="增 加" onclick="addRow();" class="button small"> <INPUT TYPE="submit" value="上 传" onclick="uploading();" class="small button "></TD>
</TR>
<TR>
	<TD class="tRight tTop"></TD>
	<TD class="tLeft tTop"><INPUT TYPE="hidden" name="ajax" value="1">
	<iframe name="iframeUpload" src="" width="350" height="35" frameborder=0  SCROLLING="no" style="display:none"></iframe>
	<INPUT TYPE="hidden" name="_uploadFileResult" value="result">
	<INPUT TYPE="hidden" name="_uploadFormId" value="upload">
	<INPUT TYPE="hidden" name="_uploadFileSize" value="-1">
	<INPUT TYPE="hidden" name="_uploadFileTable" value="Document">
	<INPUT TYPE="hidden" name="_uploadRecordId" value="{$id|time}">
	<INPUT TYPE="hidden" name="_uploadResponse" value="uploadComplete">
	<INPUT TYPE="hidden" name="_uploadUserId" value="{$Think.session.userId}">
	<INPUT TYPE="hidden" name="_uploadSavePath" value="{$Think.session.currPath|base64_encode}" >
	<INPUT TYPE="hidden" NAME="pid" value="{$pid}">
	<TABLE id='tbl' style="clear:both"></TABLE>
</TD>
</TR>
</form>
</TABLE>
</div>
</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
var curFileNum = 0;
var rowsnum=0;  //记录行数
var rindex="";       //列索引
var tbl	=	$('tbl');
addRow();
//-->
</SCRIPT>
