<extend name="Base/control"/>

<block name="body">
	<h3 class="cnt-title">待审核文章</h3>

	<!-- 表格列表 -->
	<div class="tb-unit posr">
		<div class="tb-unit-bar">
			<label class="checkbox inline"><input type="checkbox">全选</label>
			<a class="btn btn-small" href="#"><i class="icon-ok-sign"></i> 通过</a>
			<a class="btn btn-small" data-toggle="modal" data-target="#myModal" title="删除" href="#">
				<i class="icon-remove"></i>删除
			</a>
		</div>
		<table class="tblist">
			<thead>
				<tr>
					<th class="check"></th>
					<th>标题</th>
					<th class="author">作者</th>
					<th class="time">发布时间</th>
					<th class="opt">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="check"> <input type="checkbox" name="" id=""> </td>
					<td class="title"><a href="javascript:;">TP如何连接ACCESS？</a></td>
					<td class="author">ruby熊</td>
					<td class="time">2013-6-17</td>
					<td class="opt">
						<div class="btn-toolbar">
							<div class="btn-group">
								<a class="btn" title="点击查看" href="#">
									<i class="icon-eye-open"></i>
								</a>
								<a class="btn active" title="已通过" href="#">
									<i class="icon-ok-sign"></i>
								</a>
								<a class="btn" data-toggle="modal" data-target="#myModal" title="删除" href="#">
									<i class="icon-remove"></i>
								</a>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="tb-unit-bar">
			<label class="checkbox inline"><input type="checkbox">全选</label>
			<a class="btn btn-small" href="#"> <i class="icon-ok-sign"></i>通过 </a>
			<a class="btn btn-small" data-toggle="modal" data-target="#myModal" title="删除" href="#">
				<i class="icon-remove"></i>删除
			</a>
		</div>

		<!-- 删除弹框 -->
		<div id="myModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>删除</h3>
			</div>
			<div class="modal-body"> 删除后不能恢复，确定删除吗？ </div>
			<div class="modal-footer">
				<input type="submit" value="确定" class="btn btn-primary">
				<input type="reset" value="取消" data-dismiss="modal" aria-hidden="true" class="btn">
			</div>
		</div>
		<!-- /删除弹框 -->
	</div>
	<!-- /表格列表 -->
</block>