<extend name="Base/control"/>

<block name="body">
	<h3 class="cnt-title">管理面板首页</h3>
	
	<h4 class="cnt-sub-title">代办事宜</h4>
	<div class="hero-unit unit-box">
		<table class="show-info">
			<tr>
				<th>待审核文章：</th>
				<td class="unit-num">5篇</td>
			</tr>
			<tr>
				<th>待审核评论：</th>
				<td class="unit-num">12篇</td>
			</tr>
		</table>
	</div>
	
	<h4 class="cnt-sub-title">系统信息</h4>
	<div class="hero-unit unit-box">
		<table class="show-info">
			<tr>
				<th>程序版本：</th>
				<td>1.2.3</td>
			</tr>
			<tr>
				<th>服务器系统：</th>
				<td>Linux</td>
			</tr>
			<tr>
				<th>服务器PHP版本：</th>
				<td>5.3.8</td>
			</tr>
			<tr>
				<th>服务器软件：</th>
				<td>Apache v2.2.21</td>
			</tr>
			<tr>
				<th>服务器MySQL版本：</th>
				<td>5.5.16</td>
			</tr>
			<tr>
				<th>当前数据库尺寸：</th>
				<td>2035MB</td>
			</tr>
		</table>
	</div>
</block>