<extend name="Public/base" />

<block name="body">
	<div class="main-title">
		<h2>TopThink 管理中心</h2>
	</div>
	<div class="columns">
		<div class="hd">在线成员</div>
		<ul class="bd manager-list cf">
			<li>admin</li>
			<li>manager 1</li>
			<li>manager 2</li>
			<li>manager 3</li>
		</ul>
	</div>

	<div class="columns">
		<div class="hd">系统信息</div>
		<div class="bd">
			<table class="sys-info">
				<tr>
					<th>系统程序版本</th>
					<td>Topthink v1.0 beta</td>
				</tr>
				<tr>
					<th>服务器系统及PHP版本</th>
					<td>Linux/PHP v5.3.8</td>
				</tr>
				<tr>
					<th>ThinkPHP版本</th>
					<td>ThinkPHP 3.1.3</td>
				</tr>
				<tr>
					<th>服务器软件</th>
					<td>apache v2.2.1</td>
				</tr>
				<tr>
					<th>服务器MySql版本</th>
					<td>MySql v5.5.16</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="columns">
		<div class="hd">Topthink 开发团队</div>
		<div class="bd">
			<table class="sys-info">
				<tr>
					<th>版权所有</th>
					<td>上海顶想信息科技有限公司</td>
				</tr>
			</table>
		</div>
	</div>
</block>