<extend name="Base/control"/>

<block name="body">
	<h3 class="cnt-title">频道管理</h3>
		
	<!-- 表格列表 -->
	<div class="tb-unit posr">
		<div class="tb-unit-bar">
			<label class="checkbox inline"><input type="checkbox">全选</label>
			<a class="btn btn-small" data-toggle="modal" data-target="#delModal" href="#">
				<i class="icon-remove"></i>删除频道
			</a>
			<a class="btn btn-small" data-toggle="modal" data-target="#editModal" href="#">
				<i class="icon-plus"></i>添加频道
			</a>
		</div>
		<table class="tblist">
			<thead>
				<tr>
					<th class="check"></th>
					<th class="id-num">ID</th>
					<th class="chl-name">频道名称</th>
					<th class="chl-type">频道类型</th>
					<th class="chl-url">频道地址</th>
					<th class="opt">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="channel">
					<tr>
						<td class="check"> <input type="checkbox" name="" id=""> </td>
						<td>1</td>
						<td><a href="javascript:;">{$channel.title}</a></td>
						<td>系统频道</td>
						<td><a href="#">{$channel.url}</a></td>
						<td>
							<div class="btn-toolbar">
								<div class="btn-group">
									<a class="btn" data-toggle="modal" data-target="#editModal" title="编辑" href="#">
										<i class="icon-edit"></i>
									</a>
									<a class="btn" data-toggle="modal" data-target="#delModal" title="删除"  href="#">
										<i class="icon-remove"></i>
									</a>
								</div>
							</div>
						</td>
					</tr>
				</volist>
			</tbody>
		</table>
		<div class="tb-unit-bar">
			<label class="checkbox inline"><input type="checkbox">全选</label>
			<a class="btn btn-small" data-toggle="modal" data-target="#delModal" href="#">
				<i class="icon-remove"></i>删除频道
			</a>
			<a class="btn btn-small" data-toggle="modal" data-target="#editModal" href="#">
				<i class="icon-plus"></i>添加频道
			</a>
		</div>
		<!-- 编辑及新建频道弹出框 -->
		<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelleby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>编辑频道</h3>
			</div>
			<div class="modal-body">
				<form action="javascript:;" method="post" class="form-horizontal">
					<div class="control-group">
						<label class="control-label">频道ID：</label>
						<div class="controls">
							<input type="text" class="input-large" value="1" disabled>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">频道名称：</label>
						<div class="controls">
							<input type="text" name="" class="input-large" value="">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">频道类型：</label>
						<div class="controls">
							<select>
								<option value="">文档</option>
								<option value="">视频</option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">频道地址：</label>
						<div class="controls">
							<input type="text" name="" class="input-large" value="wwww.thinkphp.cn">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" value="确定">
				<input type="reset" class="btn" data-dismiss="modal" aria-hidden="true" value="取消">
			</div>
		</div>
		<!-- /编辑及新建频道弹出框 -->
		
		<!-- 删除弹框 -->
		<div id="delModal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>删除</h3>
			</div>
			<div class="modal-body"> 删除后不能恢复，确定删除吗？ </div>
			<div class="modal-footer">
				<input type="submit" value="确定" class="btn btn-primary">
				<input type="reset" value="取消" data-dismiss="modal" aria-hidden="true" class="btn">
			</div>
		</div>
		<!-- /删除弹框 -->
	</div>
	<!-- /表格列表 -->
</block>