<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>管理面板 - 首页</title>
	<include file="Public/var"/>
	<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" href="__CSS__/bootstrap-responsive.min.css">
	<link rel="stylesheet" href="__CSS__/reset.css">
	<link rel="stylesheet" href="__CSS__/control-pannel.css">
</head>
<body>
	<!-- 头部 -->
	<div class="container">
		<div class="top-banner"></div>

		<div class="navbar">
			<div class="navbar-inner">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<a href="javascript:;" class="brand">ThinkPHP</a>

				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="javascript:;">首页</a></li>
						<li><a href="javascript:;">下载</a></li>
						<li><a href="javascript:;">扩展</a></li>
						<li><a href="javascript:;">资讯</a></li>
						<li><a href="javascript:;">讨论</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /头部 -->

	<div class="container">
		<div class="row">
			<!-- 侧栏 -->
			<div class="span2">
				<ul id="sub-nav" class="nav nav-list ctr-pal-sidenav">
					<li class="act-index"><a href="{:U('index')}">控制面板首页</a></li>
					<li class="act-setting"><a href="{:U('setting')}">站点设置</a></li>
					<li class="act-channel"><a href="{:U('channel')}">频道管理</a></li>
					<li class="act-category act-categoryedit"><a href="{:U('category')}">分类管理</a></li>
				</ul>
			</div>
			<!-- /侧栏 -->
			
			<div class="span10">
				<block name="body"></block>
			</div>
		</div>
	</div>

<script type="text/javascript" src="__PUBLIC__/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/think.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<block name="script"></block> <!-- 用于加载js文件 -->
<block name="js"></block> <!-- 用于加载js代码 -->
<script type="text/javascript">
	$("#sub-nav .act-{$Think.ACTION_NAME}").addClass("active");
</script>
</body>
</html>