<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>行为列表</h2>
		<div class="tools">
			<button class="btn" id="action_add" url="{:U('user/addaction')}">新增</button>
            <button class="btn ajax-post confirm" target-form="ids" url="{:U('setStatus',array('status'=>-1))}">删除</button>
			<button class="btn ajax-post" target-form="ids" url="{:u('setstatus',array('status'=>1))}" >启用</button>
			<button class="btn ajax-post" target-form="ids" url="{:u('setstatus',array('status'=>0))}">禁用</button>
		</div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table">
		<table>
			<thead>
				<tr>
					<th class="row-selected"><input class="check-all" type="checkbox" id="selectall"/></th>
					<th>编号</th>
					<th>行为标识</th>
					<th>标题</th>
					<th>日志规则</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr>
					<td><input type="checkbox" name="ids[]" value="{$vo.id}" class="ids child_checkbox"/></td>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td><a href="{:U('editAction',array('id'=>$vo['id']))}">{$vo.title}</a></td>
					<td>{$vo.remark}</td>
					<td>{$vo.status|get_status_title}</td>
					<td>
						<eq name="vo['status']" value="0">
							<a class="ajax-get" href="{:U('setStatus',array('status'=>1,'ids'=>$vo['id']))}">启用</a>
						</eq>
						<eq name="vo['status']" value="1">
							<a class="ajax-get" href="{:U('setStatus',array('status'=>0,'ids'=>$vo['id']))}">禁用</a>
						</eq>
                        <a class="ajax-get confirm" href="{:U('setStatus',array('ids'=>$vo['id'],'status'=>-1))}">删除</a>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<!-- 分页 -->
	<div class="page">{$page}</div>
	<!-- /分页 -->

</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("#action_add").click(function(){
		window.location.href = $(this).attr('url');
	})
})
</script>
</block>
