<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>行为列表</h2>
	</div>

	<!-- 数据列表 -->
	<div class="data-table">
		<table>
			<thead>
				<tr>
					<th class="row-selected"></th>
					<th>编号</th>
					<th>行为标识</th>
					<th>标题</th>
					<th>日志规则</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="vo">
				<tr>
					<td><input type="checkbox" value="{$vo.id}" name="select"/></td>
					<td>{$vo.id}</td>
					<td>{$vo.name}</td>
					<td><a href="{:U('editAction',array('id'=>$vo['id']))}">{$vo.title}</a></td>
					<td>{$vo.remark}</td>
					<td>{$vo.status|get_status_title}</td>
					<td>
						<a href="{:U('editAction',array('id'=>$vo['id']))}">编辑</a>
						<eq name="vo['status']" value="0">
							<a href="{:U('setStatus',array('status'=>1,'ids'=>$vo['id']))}">启用</a>
						</eq>
						<eq name="vo['status']" value="1">
							<a href="{:U('setStatus',array('status'=>0,'ids'=>$vo['id']))}">禁用</a>
						</eq>
					</td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<!-- 分页 -->
	<div class="page">{$page}</div>
	<!-- /分页 -->
	<button class="btn" id="action_add" url="{:U('user/addaction')}">
		<i class="icon-add"></i><em>新增</em>
	</button>
	<button class="btn" name="action_operate" status="-1">
		<i class="icon-delete"></i><em>删除</em>
	</button>
	<button class="btn" name="action_operate" status="1">
		<i class="icon-right"></i><em>启用</em>
	</button>
	<button class="btn" name="action_operate" status="0">
		<i class="icon-denied"></i><em>禁用</em>
	</button>
</block>
<block name="script">
<script type="text/javascript">
$(function(){
	$("#action_add").click(function(){
		window.location.href = $(this).attr('url');
	})
	$("button[name=action_operate]").click(function(){
		var status = $(this).attr('status');
		//获取选中的数据
		var checked = $('input:checked');
		var ids = new Array();
		checked.each(function(i){
			var id = $(this).val();
			if(id != 'on'){
				ids[ids.length] = id;
			}
		});
		if(ids.length == 0){
			alert('请选择要操作的数据！');
			return false;
		}
		//进行ajax操作
		$.post(
			"{:U('setStatus')}",
			{
				'ids' : ids,
				'status' : status
			},
			function(data){
				if(data.status == 1){
					alert('设置成功！');
					setTimeout(function(){window.location.reload()},1500);
				}else{
					alert('操作失败！');
				}
			},
			'json'
		);
	});
})
</script>
</block>