<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户列表</h2>
		<div class="tools">
			<button class="btn" id="add-member"><i class="icon-add"></i><em>添加</em></button>
		</div>
	</div>

	<!-- 数据列表 -->
	<div class="data-table table-striped">
		<table>
			<thead>
				<tr>
					<th>UID</th>
					<th>注册时间</th>
					<th>注册IP</th>
					<th>最后登陆时间</th>
					<th>最后登陆IP</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name="list" id="user">
				<tr>
					<td>{$user.uid}</td>
					<td>{$user.reg_time|date='Y-m-d H:i:s',###}</td>
					<td>{$user.reg_ip|long2ip}</td>
					<td>{$user.last_login_time|date='Y-m-d H:i:s',###}</td>
					<td>{$user.last_login_ip|long2ip}</td>
					<td></td>
				</tr>
				</volist>
			</tbody>
		</table>
	</div>
</block>