<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>修改密码</h2>
	</div>

	<!-- 修改密码表单 -->
	<form action="submitPassword" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">原密码：</label>
			<div class="controls">
				<input type="password" name="old" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">新密码：</label>
			<div class="controls">
				<input type="password" name="password" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">确认密码：</label>
			<div class="controls">
				<input type="password" name="repassword" class="text input-large" autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确认修改</button>
		</div>
	</form>

</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
</block>
