<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function notice(name){
	switch (name)
	{
	case 'title':		showTip('广告标题');break;
	case 'type':	showTip('广告类型');break;
	case 'url':		showTip('广告的图片地址，文本广告不用填写');break;
	case 'link':	showTip('广告的链接地址');break;
	case 'alt':	showTip('广告显示文字ALT');break;
	case 'size':			showTip('广告大小');break;
	case 'code':			showTip('如果是代码广告，填写代码');break;
	case 'priority':	showTip('广告显示权重，数字越大出现几率越高');break;
	case 'pos':			showTip('广告显示位置');break;
	case 'status':		showTip('广告状态，如果禁止则不显示');break;
	case 'remark':		showTip('广告描述信息');break;
	}
}
function doComplete(data,status){
	if (status==1)
	{
	window.location.href= '__URL__/index/f/'+$F('returnpath');
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">新增目录（文件） [ <A HREF="__URL__">返回列表</A> ]</div>
<div id="result" class="result none"></div>
<FORM METHOD=POST  onsubmit="return CheckForm(this)" action="" id="form1" >
<TABLE cellpadding=3 cellspacing=3 >
<TR>
	<TD class="tRight" >名称：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire" onfocus="notice('title')" check='Require' warning="目录名称不能为空" NAME="name"></TD>
</TR>
<TR>
	<TD class="tRight" >类型：</TD>
	<TD class="tLeft" ><select name="type">
	<option value="dir">目录</option>
	<option value="file">文件</option>
	</select></TD>
</TR>
<TR>
	<TD class="tRight" >位置：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeft readonly "  NAME="home" value="{$Think.session._currentDir|auto_charset='gbk','utf-8'}"></TD>
</TR>
<TR>
	<TD ></TD>
	<TD class="center"><div style="width:85%;margin:5px">
	<INPUT TYPE="hidden" name="ajax" value="1">
	<INPUT TYPE="hidden" NAME="returnpath" value="{$Think.session._currentDir|auto_charset='gbk','utf-8'|base64_encode}">
	<div class="impBtn fLeft"><INPUT TYPE="button" value="保存" onclick="sendForm('form1','__URL__/create',doComplete)" class="save imgButton"></div>
	<div class="impBtn fRig"><INPUT TYPE="reset" class="reset imgButton" value="清空" ></div>
	</div></TD>
</TR>
</TABLE>
</FORM>
</div>
</div>