<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function doComplete(data,status){
	if (status==1)
	{
	window.location.href= '__URL__';
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">新增目录（文件） [ <A HREF="__URL__">返回列表</A> ]</div>
<div id="result" class="result none"></div>
<FORM METHOD=POST  onsubmit="return CheckForm(this)" action="" id="form1" >
<TABLE cellpadding=3 cellspacing=3 >
<TR>
	<TD class="tRight" >名称：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeftRequire" check='Require' warning="目录名称不能为空" NAME="name"></TD>
</TR>
<TR>
	<TD class="tRight" >类型：</TD>
	<TD class="tLeft" ><select name="type">
	<option value="dir">目录</option>
	<option value="file">文件</option>
	</select></TD>
</TR>
<TR>
	<TD class="tRight" >位置：</TD>
	<TD class="tLeft" ><INPUT TYPE="text" class="large bLeft readonly "  NAME="home" value="{$Think.session._currentDir}"></TD>
</TR>
<TR>
	<TD ></TD>
	<TD class="center"><div style="width:85%;margin:5px">
	<INPUT TYPE="hidden" name="ajax" value="1">
	<div class="impBtn fLeft"><INPUT TYPE="button" value="保存" onclick="sendForm('form1','__URL__/create',doComplete)" class="save imgButton"></div>
	<div class="impBtn fRig"><INPUT TYPE="reset" class="reset imgButton" value="清空" ></div>
	</div></TD>
</TR>
</TABLE>
</FORM>
</div>
</div>
