<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function addRow(){   
	curFileNum++;
	rowsnum++;
    var row=tbl.insertRow(-1);
	//var td = arow.insertCell();
	var cell = document.createElement("td");
	cell.innerHTML='<div class="impBtn  fLeft" ><INPUT TYPE="file" id="file'+curFileNum+'" name="file'+ curFileNum +'" class="file  huge"></div><html:imageBtn name="delete" value="删除" click="deleteRow()" style="impBtn hMargin fLeft shadow" />';
	cell.align="center"
	row.appendChild(cell); 
	//addFileForm.num.value=rowsnum;
}
function deleteRow(){
	if(tbl.rows.length>0){
		tbl.deleteRow(rindex); //删除当前行
		rowsnum--;    
	}else{
		return;
	}
	rindex="";
}
function getObject(obj){ 
	rindex=obj.parentElement.parentElement.rowIndex;/*当前行对象*/
}

function uploading(msg){
	$('result').style.display = 'block';
	$('result').innerHTML	=	'<IMG SRC="../Public/images/ajaxloading.gif" WIDTH="16" HEIGHT="16" BORDER="0" ALT="" align="absmiddle"> 文件上传中～';
	return true;
}
function save(){
	if ($('file1').value)
	{
		uploading();
		$('upload').submit();
	}
	sendForm('form1','__URL__/insert/','SaveComplete');
}
function uploadComplete(){
	window.location.href	=	'__URL__/index/f/'+$F('_uploadSavePath');
}
//-->
</SCRIPT>
<div class="content">
<div class="title">上传文件 [ <A HREF="__URL__">返回列表</A> ]</div>
<div id="result" class="result none"></div>
<form id="upload" METHOD=POST action="__URL__/upload/" onsubmit="return CheckForm(this);" enctype="multipart/form-data" target="iframeUpload">
<TABLE cellpadding=3 cellspacing=3 width="100%">
<TR>
	<TD class="tRight tTop"></TD>
	<TD class="tLeft tTop"><INPUT TYPE="hidden" name="ajax" value="1">
	<iframe name="iframeUpload" src="" width="350" height="35" frameborder=0  SCROLLING="no" style="display:none"></iframe>
	<INPUT TYPE="hidden" name="_uploadFileResult" value="result">
	<INPUT TYPE="hidden" name="_uploadFormId" value="upload">
	<INPUT TYPE="hidden" name="_uploadFileSize" value="-1">
	<INPUT TYPE="hidden" name="_uploadSaveRule" value="">
	<INPUT TYPE="hidden" name="_uploadRecord" value="0">
	<INPUT TYPE="hidden" name="_uploadResponse" value="uploadComplete">
	<INPUT TYPE="hidden" name="_uploadSavePath" value="{$Think.session._currentDir|base64_encode}" >
	<html:imageBtn name="add" value="增加" click="addRow()" style="impBtn hMargin fLeft shadow" />
	<html:imageBtn type="submit" name="upload" value="上传" click="uploading()" style="impBtn hMargin fLeft shadow" />
	<div class="fLeft hMargin"><SELECT NAME="_uploadReplace" class="medium">
		<OPTION VALUE="1" SELECTED>覆盖同名文件
		<OPTION VALUE="0">不覆盖同名文件
	</SELECT></div>
	<TABLE id='tbl' style="clear:both"></TABLE>
</TD>
</TR>
</form>
</TABLE>
</div>
</div>
<SCRIPT LANGUAGE="JavaScript">
<!--
var curFileNum = 0;
var rowsnum=0;  //记录行数
var rindex="";       //列索引
var tbl	=	$('tbl');
addRow();
//-->
</SCRIPT>
