/**********************************************
 **************** 默认皮肤样式 ****************
 **********************************************/
 
/* 默认模态窗口背景样式 */ 
.thinkbox-modal-blackout-default{
    background-color: #fff;
    opacity: .5;
    filter:alpha(opacity=50);
} 

/* 默认弹出层样式 */
.thinkbox-default{
    border-radius : 5px;
    background-color: #FFF;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

/* 默认边框样式 */
.thinkbox-default .thinkbox-top-left, /* 左上角 */
.thinkbox-default .thinkbox-top-right, /* 右上角 */
.thinkbox-default .thinkbox-bottom-right, /* 右下角 */
.thinkbox-default .thinkbox-bottom-left{ /* 左下角 */
    width: 5px;
    height: 5px;
    padding: 0;
    background-color:#000;
    opacity:.2;
    filter:alpha(opacity=20);
    font-size: 0;
    line-height: 0;
}
.thinkbox-default .thinkbox-top-left{ border-top-left-radius: 5px; }
.thinkbox-default .thinkbox-top-right{ border-top-right-radius: 5px; }
.thinkbox-default .thinkbox-bottom-left{ border-bottom-left-radius: 5px; }
.thinkbox-default .thinkbox-bottom-right{ border-bottom-right-radius: 5px; }
.thinkbox-default .thinkbox-top, /* 上边 */
.thinkbox-default .thinkbox-bottom{ /* 下边 */
    height: 5px;
    background-color:#000;
    opacity:.2;
    filter:alpha(opacity=20);
    padding:0;
    font-size: 0;
    line-height: 0;
}
.thinkbox-default .thinkbox-left,  /* 左边 */
.thinkbox-default .thinkbox-right{ /* 右边 */
    width: 5px;
    background-color:#000;
    opacity:.2; 
    filter:alpha(opacity=20);
    padding:0;
    font-size: 0;
    line-height: 0;
}

/* 默认标题栏样式 */
.thinkbox-default .thinkbox-title{
    background: #fbfbfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #ebebeb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#ebebeb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#ebebeb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#ebebeb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    text-align: left;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
    font-family: "微软雅黑";
}
.thinkbox-default .thinkbox-draging{ /* 拖动时标题栏样式 */
    cursor:move;
}
.thinkbox-default .thinkbox-title span{ /* 标题样式 */
    font-size:14px;
    color: #333; 
    margin:0;
    padding:0;
}

/* 默工具栏样式 */
.thinkbox-default .thinkbox-tools{
    background-color:#fafafa;
    border-top: 1px solid #eee;
    padding: 5px 10px;
    text-align: right;
    font-weight: bold;
}
.thinkbox-default .thinkbox-tools button{ /* 工具栏按钮样式 */
    display: inline-block; 
    height: 24px;
	line-height: 24px;
    padding: 0 12px;
    border: 0;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    border-width: 1px; 
    border-style: solid;
    font-weight: normal;
    border-radius: 3px;
    margin-left: 6px;
}
.thinkbox-default .thinkbox-tools .thinkbox-button-ok,
.thinkbox-default .thinkbox-tools .thinkbox-button-submit{
    border-color: #227FC0;
    color: #FFF;
	background: #4ca0da; /* Old browsers */
	background: -moz-linear-gradient(top,  #4ca0da 0%, #227fc0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ca0da), color-stop(100%,#227fc0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4ca0da 0%,#227fc0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4ca0da 0%,#227fc0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4ca0da 0%,#227fc0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4ca0da 0%,#227fc0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ca0da', endColorstr='#227fc0',GradientType=0 ); /* IE6-9 */
}
.thinkbox-default .thinkbox-tools .thinkbox-button-submit:hover,
.thinkbox-default .thinkbox-tools .thinkbox-button-ok:hover{
    background: #4297d4; /* Old browsers */
	background: -moz-linear-gradient(top,  #4297d4 0%, #227fc1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4297d4), color-stop(100%,#227fc1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4297d4 0%,#227fc1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4297d4 0%,#227fc1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4297d4 0%,#227fc1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4297d4 0%,#227fc1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4297d4', endColorstr='#227fc1',GradientType=0 ); /* IE6-9 */
}
.thinkbox-default .thinkbox-tools .thinkbox-button-cancel{
    border-color: #B0B0B0;
    color: #333;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top,  #fafafa 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fafafa 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fafafa 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fafafa 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fafafa 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.thinkbox-default .thinkbox-tools .thinkbox-button-cancel:hover{
    background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}
/* 默认内容区域样式 */
.thinkbox-default .thinkbox-body{
    padding:0;
    vertical-align: top;
}

/* 默认关闭按钮样式 */
.thinkbox-default .thinkbox-close{
    position: absolute;
    top: 10px;
    right: 10px;
	font-size: 20px;
    cursor: pointer;
    overflow: hidden;
	color: #999;
	font-family: '宋体';
	font-size: 16px;
	text-shadow: 0 1px 1px #fff;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.thinkbox-default .thinkbox-close:hover{
    color: #c00;
}
.thinkbox-default .thinkbox-title .thinkbox-close{
    top: 17px;
    right: 15px;
}
/**********************************************
 ************** thinkbox 插件样式 **************
 **********************************************/
/* 加载外部内容loading样式 */
.thinkbox-default .thinkbox-load-loading{
    line-height: 30px;
    padding: 20px 10px;
    text-align: center;
    width: 220px;
}
/* 提示框样式 */
.thinkbox-default .thinkbox-tips{
    height: 62px;
    background-image: url(tips-bg.gif);
    padding: 0 20px 0 70px;;
    background-repeat: no-repeat;
    line-height: 62px;
    font-size: 14px;
    font-weight: 700;
    width: auto;
}
/* 弹出成功框样式 */
.thinkbox-default .thinkbox-tips-success{
    color: green;
}
/* 弹出错误框样式 */
.thinkbox-default .thinkbox-tips-error{
    color: red;
    background-position: 0 -62px;
}
/* 弹出加载框样式 */
.thinkbox-default .thinkbox-tips-loading{
    color: black;
    background-image: url(tips_loading.gif);
    background-position: 20px 15px;
}
/*警告提示信息*/
/*确认提示信息*/
.thinkbox-default .thinkbox-alert,
.thinkbox-default .thinkbox-confirm{
    width: 260px; 
    padding: 10px;
    line-height: 20px;
    min-height: 40px;
    height: auto!important;
    height: 40px;
}