<extend name="Base/article"/>

<block name="container">
	<div class="proform-list">
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/1.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">基于最新ThinkPHP</div>
				<div>依托新版ThinkPHP的功能优势和命名空间的特性，官方七年磨一剑，用心打造</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/2.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">模块化开发</div>
				<div>全新的架构和模块化的开发机制，便于灵活扩展和二次开发</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/3.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">支持云端部署</div>
				<div>通过驱动可以支持如何云平台的部署，让你的网站无缝迁移，内置已经支持SAE</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/4.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">完全开源和轻量级商业授权</div>
				<div>代码完全开源，学习和个人用途免费使用，商业用户采用轻量级的授权费用</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/5.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">云服务的支持</div>
				<div>支持云存储，云安全，云过滤和云统计等服务，贴心服务让你的网站更安心</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/6.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">强大的分类系统</div>
				<div>&#12288;&#12288;通过和某个文档模型绑定，不同分类可以实现差异化的功能，轻松实现诸如资讯，下载，讨论和图片等功能</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/7.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">应用仓库</div>
				<div>官方应用仓库拥有大量的插件和应用模块，以及社区的贡献，让你的网站“One”美无缺</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/8.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">稳健的安全策略</div>
				<div>提供的稳健的安全策略，包括备份恢复，容错，防治恶意攻击登陆，网页防篡改等多项安全管理功能，保证系统安全，可靠，稳定的运行</div>
			</dd>
		</dl>
		<dl class="media proform">
			<dt class="media-side"><img src="__IMG__/intro/9.jpg" alt=""></dt>
			<dd class="media-body">
				<div class="proform-heading">强大的用户行为分享</div>
				<div>自定义用户行为，支持对单个用户或群体用户的行为进行记录及分享，为您的运营决策提供有效参考数据</div>
			</dd>
		</dl>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(".proform-list .media:odd").addClass("proform-pull-right");
		$(".proform-list .media:last").css("background-image","none");
	</script>
</block>