<extend name="Base/article"/>

<block name="plulish"></block>

<block name="container">
	<taglib name="article"/>
	<div class="new-website">
		<div class="website-img">
			<img src="__IMG__/noe_think.png" /> 
		</div>
		<div class="website-version">
			<h2>版本介绍</h2>
			<dl>
				<dt>顶想CRM-SMS 1.0</dt>
				<dd>实现短信基本发送。群组发送</dd>
				<dd>上线时间：2013年7月底8月初</dd>
			</dl>
			<dl>
				<dt>顶想CRM-SMS 1.0</dt>
				<dd>实现短信基本发送。群组发送</dd>
				<dd>上线时间：2013年7月底8月初</dd>
			</dl>
			<dl>
				<dt>顶想CRM-SMS 1.0</dt>
				<dd>实现短信基本发送。群组发送</dd>
				<dd>上线时间：2013年7月底8月初</dd>
			</dl>
		</div>
	</div>
</block>