<extend name="Base/article"/>

<block name="plulish"></block>

<block name="container">
	<taglib name="article"/>
	<div class="book-list cf">
		<div class="item fl">
			<div class="template-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>韩国网站模板</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>插件大小：1.73MB </dd>
					<dd>需要版本：3.0或者更高</dd>
					<dd class="action">
						<a class="btn btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mini" title="详细" href="#">详细</a>
						<a class="btn btn-gr  btn-mini" title="预览" href="#">预览</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="item fl">
			<div class="template-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>韩国网站模板</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>插件大小：1.73MB </dd>
					<dd>需要版本：3.0或者更高</dd>
					<dd class="action">
						<a class="btn btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mini" title="详细" href="#">详细</a>
						<a class="btn btn-gr  btn-mini" title="预览" href="#">预览</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="item fl">
			<div class="template-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>韩国网站模板</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>插件大小：1.73MB </dd>
					<dd>需要版本：3.0或者更高</dd>
					<dd class="action">
						<a class="btn btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mini" title="详细" href="#">详细</a>
						<a class="btn btn-gr  btn-mini" title="预览" href="#">预览</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</block>