<extend name="Base/article"/>

<block name="plulish"></block>

<block name="container">
	<taglib name="article"/>
	<div class="new-website">
		<div class="website-img">
			<img src="__IMG__/one_think.png" /> 
		</div>
		<div class="website-version">
			<h2>OneThink 1.0</h2>
			<dl>
				<dt>产品信息</dt>
				<dd>软件版本：OneThink 1.0</dd>
				<dd>服务器要求：Windows / Linux</dd>
				<dd>发布日期：2013-9-13</dd>
				<dd>文件大小：31.5MB</dd>
				<dd>运行环境：PHP(5.2+)+MYSQL(5.1+)</dd>
			</dl>
			<div class="version-btn">
				<a class="btn" href="#">点击下载</a>
			</div>
		</div>
	</div>
</block>