<extend name="Base/article"/>

<block name="plulish"></block>

<block name="container">
	<taglib name="article"/>
	<div class="book-list cf">
		<div class="item fl">
			<div class="book-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>ThinkPHP完全开发手册</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>文件大小：1.73MB </dd>
					<dd>文件格式：PDF</dd>
					<dd class="action">
						<a class="btn btn-mr16 btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mr16 btn-mini" title="阅读" href="#">阅读</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="item fl">
			<div class="book-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>ThinkPHP完全开发手册</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>文件大小：1.73MB </dd>
					<dd>文件格式：PDF</dd>
					<dd class="action">
						<a class="btn btn-mr16 btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mr16 btn-mini" title="阅读" href="#">阅读</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="item fl">
			<div class="book-image image fl"></div>
			<div class="summary fl">
				<dl>
					<dt>ThinkPHP完全开发手册</dt>
					<dd>更新时间：2013-05-18</dd>
					<dd>文件大小：1.73MB </dd>
					<dd>文件格式：PDF</dd>
					<dd class="action">
						<a class="btn btn-mr16 btn-gr btn-mini" title="下载" href="#">下载</a>
						<a class="btn btn-mr16 btn-mini" title="阅读" href="#">阅读</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
</block>