<extend name="Base/article"/>

<block name="body">
	<taglib name="article"/>
	<div class="tab-wrap mod">
		<ul class="tab-nav nav">
			<li class="current"><a href="javascript:;">最新回复</a></li>
			<li><a href="javascript:;">最新发表</a></li>
			<li><a href="javascript:;">精品区</a></li>
		</ul>

		<div class="tab-content">
			<!-- 最新回复 -->
			<div class="tab-pane in">
				<volist name="list" id="data">
					<div class="media">
						<div class="media-avatar">
							<img src="__IMG__/default.png" alt="">
							<span class="round-mask"></span>
						</div>
						<div class="media-body">
							<div class="ellipsis">
								<a href="{:U('detail?id='.$data['id'])}">{$data.title}</a>
							</div>
							<div class="artlist-info">
								<a href="javascript:;">{$data.uid|get_username}</a>
								<span>浏览：{$data.view}</span>
								<span>评论：{$data.comment}</span>
							</div>
						</div>
					</div>
				</volist>

				<!-- 分页 -->
				<div class="page">
					<article:page cate="$category['id']" listrow="$category['list_row']" />
				</div>

			</div><!-- end .tab-pane（此条注释可删除） -->

			<!-- 最新发表 -->
			<div class="tab-pane"></div>

			<!-- 精品区 -->
			<div class="tab-pane"></div>

		</div><!-- end .tab-conent（此条注释可删除） -->
	</div><!-- end .tab-wrap（此条注释可删除） -->

</block>