<include file="Public:header" />

<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function deleteRow(e){
	var event = e || event;
     var Elm  =  event.target || event.srcElement; 
        while(Elm  &&  Elm.tagName  !=  "TR")   
        {   
            Elm  =  Elm.parentElement;   
        } 
        var intThisIndex = Elm.rowIndex; 
        Elm.parentElement.deleteRow(intThisIndex);  
}

function addAttribute(){
	var totalRow = $('actionAtrribute').rows.length;
	var row=$('actionAtrribute').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large"  NAME="attributeValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="attributeType[]"><option value="string">字符串</option><option value="number">数字</option><option value="bool">布尔型</option><option value="array">数组</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeComment[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}

function addMethod(){
	var totalRow = $('actionMethod').rows.length;
	var row=$('actionMethod').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium bLeftRequire"  NAME="methodName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="methodType[]"><option value="public">公共</option><option value="protected">保护</option><option value="private">私有</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large bLeft"  NAME="methodParams[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<textarea name="methodCode[]" rows="5" cols="65"></textarea>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}

function clearTable(){
	$('form1').reset();
}
function saveAction(){
	ThinkAjax.sendForm('form1','__URL__/createAction',saveComplete);
}
function saveComplete(data,status){
	if (status==1)
	{
		$('form1').reset();
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">Action设计器 [ <A HREF="__URL__">返回</A> ] 	<INPUT TYPE="button" value="保 存" onclick="saveAction()" class="button">
	<INPUT TYPE="button" class="button" value="重 置" onclick="clearTable()"></div>

<div class="title">基本信息</div>
<FORM METHOD=POST id="form1" >
<input type="hidden" name="ajax" value="1">

<TABLE cellpadding=0 cellspacing=0 class="list" id="modelBase">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tRight" style="width:100px" >项目选择</Th>
	<Td class="" ><SELECT  name="appName" class="hMargin medium">
	<option value="Admin">控制中心</option>
	<option value="Home">用户中心</option>
	<volist name="apps" id="app" >
	<option value="{$app.name}">{$app.title}</option>
	</volist>
	</SELECT></Td>
</TR>
<TR class="row" >
	<Th class="tRight" style="width:100px" >Action名称</Th>
	<Td class="" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="actionName"></Td>
</TR>
<TR class="row" >
	<Th class="tRight" >继承Action</Th>
	<Td class="" ><INPUT TYPE="text" class="large bLeftRequire"  NAME="actionExtend" value="Action"></Td>
</TR>
<TR class="row" >
	<Th class="tRight" >Action描述</Th>
	<Td class=""><textarea name="actionComment" class="large" rows="5" cols=""></textarea></Td>
	</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">操作方法 <INPUT TYPE="button" value="增 加" onclick="addMethod()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="actionMethod">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >方法名称</Th>
	<Th class="tCenter" >访问控制</Th>
	<Th class="tCenter" >方法参数</Th>
	<Th class="tCenter" >方法代码</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">其他属性 <INPUT TYPE="button" value="增 加" onclick="addAttribute()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="actionAtrribute">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >属性名称</Th>
	<Th class="tCenter" >属性值</Th>
	<Th class="tCenter" >数据类型</Th>
	<Th class="tCenter" >属性注释</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
</FORM>
</div>
</div>