<include file="Public:header" />

<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function deleteRow(e){
	var event = e || event;
     var Elm  =  event.target || event.srcElement; 
        while(Elm  &&  Elm.tagName  !=  "TR")   
        {   
            Elm  =  Elm.parentElement;   
        } 
        var intThisIndex = Elm.rowIndex; 
        Elm.parentElement.deleteRow(intThisIndex);  
}

function addAttribute(){
	var totalRow = $('actionAtrribute').rows.length;
	var row=$('actionAtrribute').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large"  NAME="attributeValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="attributeType[]"><option value="string">字符串</option><option value="number">数字</option><option value="bool">布尔型</option><option value="array">数组</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeComment[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}

function addConfig(){
	var totalRow = $('configList').rows.length;
	var row=$('configList').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium bLeftRequire"  NAME="configName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium bLeftRequire"  NAME="configValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="configType[]"><option value="string">字符串</option><option value="number">数字</option><option value="bool">布尔型</option><option value="array">数组</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large"  NAME="configRemark[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}

function clearTable(){
	$('form1').reset();
}
function saveConfig(){
	ThinkAjax.sendForm('form1','__URL__/saveConfig',saveComplete);
}
function saveComplete(data,status){
	if (status==1)
	{
		$('form1').reset();
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">配置文件生成器 [ <A HREF="__URL__">返回</A> ] 	<INPUT TYPE="button" value="保 存" onclick="saveConfig()" class="button">
	<INPUT TYPE="button" class="button" value="重 置" onclick="clearTable()"></div>

<div class="title">基本信息</div>
<FORM METHOD=POST id="form1" >
<input type="hidden" name="ajax" value="1">
<TABLE cellpadding=0 cellspacing=0 class="list" id="modelBase">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tRight" style="width:100px" >项目选择</Th>
	<Td class="" ><SELECT  name="appName" class="hMargin medium">
	<volist name="apps" id="app" >
	<option value="{$app.name}">{$app.title}</option>
	</volist>
	</SELECT></Td>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">配置列表 <INPUT TYPE="button" value="增 加" onclick="addConfig()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="configList">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >配置参数</Th>
	<Th class="tCenter" >配置值</Th>
	<Th class="tCenter" >类型</Th>
	<Th class="tCenter" >说明</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
</FORM>
</div>
</div>