<include file="Public:header" />

<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function deleteRow(e){
	var event = e || event;
     var Elm  =  event.target || event.srcElement; 
        while(Elm  &&  Elm.tagName  !=  "TR")   
        {   
            Elm  =  Elm.parentElement;   
        } 
        var intThisIndex = Elm.rowIndex; 
        Elm.parentElement.deleteRow(intThisIndex);  
}

function addValidate(){
	var totalRow = $('validateTable').rows.length;
    var row=$('validateTable').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="validateField[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="validateRule[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large"  NAME="validateMsg[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="medium" NAME="validateCondition[]"><option value="0" selected="selected">存在就验证</option><option value="1">必须验证</option><option value="2">不为空验证</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="validateExtra[]"><option value="regex">正则</option><option value="function">函数</option><option value="callback">回调</option><option value="confirm">确认</option><option value="equal">相同</option><option value="unique">唯一</option><option value="in">范围</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="validateTime[]"><option value="all">所有</option><option value="add">新增</option><option value="edit">编辑</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function addAttribute(){
	var totalRow = $('modelAtrribute').rows.length;
	var row=$('modelAtrribute').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large"  NAME="attributeValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="attributeType[]"><option value="string">字符串</option><option value="number">数字</option><option value="bool">布尔型</option><option value="array">数组</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="attributeComment[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function addMethod(){
	var totalRow = $('modelMethod').rows.length;
	var row=$('modelMethod').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium bLeftRequire"  NAME="methodName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="methodType[]"><option value="public">公共</option><option value="protected">保护</option><option value="private">私有</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="large bLeft"  NAME="methodParams[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<textarea name="methodCode[]" rows="5" cols="65"></textarea>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function addFull(){
	var totalRow = $('autoFullTable').rows.length;
    var row=$('autoFullTable').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="autoField[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="autoRule[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="autoTime[]"><option value="3">所有</option><option value="1">新增</option><option value="2">编辑</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="autoExtra[]"><option value="string">字符串</option><option value="function">函数</option><option value="callback">回调</option><option value="field">字段</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function addFilter(){
	var totalRow = $('autoFilterTable').rows.length;
    var row=$('autoFilterTable').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="filterField[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="writeRule[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="readRule[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function clearTable(){
	$('form1').reset();
}
function saveModel(){
	ThinkAjax.sendForm('form1','__URL__/createModel',saveComplete);
}
function saveComplete(data,status){
	if (status==1)
	{
	$('form1').reset();
	}
}
//-->
</SCRIPT>
<div class="content">
<div class="title">模型设计器 [ <A HREF="__URL__">返回</A> ] 	<INPUT TYPE="button" value="保 存" onclick="saveModel()" class="button">
	<INPUT TYPE="button" class="button" value="重 置" onclick="clearTable()"></div>

<div class="title">基本信息</div>
<FORM METHOD=POST id="form1" >
<input type="hidden" name="ajax" value="1">
<TABLE cellpadding=0 cellspacing=0 class="list" id="modelBase">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tRight"  >模型名称</Th>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  NAME="modelName"></Td>
	<Th class="tRight" >继承模型</Th>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  NAME="modelExtend" value="Model"></Td>
	<Th class="tRight" >模型类型</Th>
	<Td class="" ><select name="modelType">
    <option value="">普通模型</option>
    <option value="view" >视图模型</option>
    <option value="composite" >虚拟模型</option>
	</select></Td>
	</TR>
<TR class="row" >
	<Th class="tRight" >数据库名</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="dbName"></Td>
	<Th class="tRight" >数据表名</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="tableName"></Td>
	<Th class="tRight" >真实表名</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="trueTableName"></Td>
</TR>
<TR class="row" >
	<Th class="tRight" >独立链接</Th>
	<Td class="" colspan="5"><INPUT TYPE="text" class="huge"  NAME="connection"></Td>
</TR>
<TR class="row" >
	<Th class="tRight" >写入时间戳</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="autoCreateTimestamps"></Td>
	<Th class="tRight" >更新时间戳</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="autoUpdateTimestamps"></Td>
	<Th class="tRight" >时间格式</Th>
	<Td class="" ><INPUT TYPE="text" class="medium"  NAME="autoTimeFormat"></Td>
</TR>
<TR class="row" >
	<Th class="tRight" style="width:100px" >项目选择</Th>
	<Td class="" ><SELECT  name="appName" class="hMargin medium">
	<option value="Admin">控制中心</option>
	<option value="Home">用户中心</option>
	<volist name="apps" id="app" >
	<option value="{$app.name}">{$app.title}</option>
	</volist>
	</SELECT></Td>
	<Th class="tRight" >模型描述</Th>
	<Td class="" colspan="3"><INPUT TYPE="text" class="huge"  NAME="modelComment"></Td>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">自动验证 <INPUT TYPE="button" value="增 加" onclick="addValidate()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="validateTable">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >验证字段</Th>
	<Th class="tCenter" >验证规则</Th>
	<Th class="tCenter" >错误提示</Th>
	<Th class="tCenter" >验证条件</Th>
	<Th class="tCenter" >附加规则</Th>
	<Th class="tCenter" >验证时间</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">自动完成 <INPUT TYPE="button" value="增 加" onclick="addFull()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="autoFullTable">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >填充字段</Th>
	<Th class="tCenter" >填充内容</Th>
	<Th class="tCenter" >填充条件</Th>
	<Th class="tCenter" >附加规则</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">自动过滤 <INPUT TYPE="button" value="增 加" onclick="addFilter()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="autoFilterTable">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >过滤字段</Th>
	<Th class="tCenter" >写入过滤</Th>
	<Th class="tCenter" >读取过滤</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">操作方法 <INPUT TYPE="button" value="增 加" onclick="addMethod()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="modelMethod">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >方法名称</Th>
	<Th class="tCenter" >访问控制</Th>
	<Th class="tCenter" >方法参数</Th>
	<Th class="tCenter" >方法代码</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
<div class="title">其他属性 <INPUT TYPE="button" value="增 加" onclick="addAttribute()" class="button"> </div>
<TABLE cellpadding=0 cellspacing=0 class="list" id="modelAtrribute">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >属性名称</Th>
	<Th class="tCenter" >属性值</Th>
	<Th class="tCenter" >数据类型</Th>
	<Th class="tCenter" >属性注释</Th>
	<Th class="tCenter"  >操 作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE>
</FORM>
</div>
</div>