<include file="Public:header" />

<div id="main" class="main" >
<SCRIPT LANGUAGE="JavaScript">
<!--
function buildModule(){
	ThinkAjax.sendForm('form1','__URL__/buildModule',saveComplete);
}
function saveComplete(data,status){
	if (status==1)
	{
		$('form1').reset();
	}
}
function addField(){
	var totalRow = $('fieldTable').rows.length;
    var row=$('fieldTable').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="Field[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="Filter[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="Title[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="Js[]">';
	cell.align="center";
	row.appendChild(cell); 
}

function addList(){
	var totalRow = $('listItem').rows.length;
	var row=$('listItem').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemTitle[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}

function addItem(){
	var totalRow = $('actionAtrribute').rows.length;
	var row=$('actionAtrribute').insertRow(totalRow-1);
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemTitle[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemName[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="itemType[]"><option value="string">文本框</option><option value="hidden">密码框</option><option value="radio">单选框</option><option value="checkbox">复选框</option><option value="select">列表框</option><option value="textarea">文本域</option><option value="array">编辑器</option><option value="hidden">隐藏域</option><option value="file">文件框</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="itemValue[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="small"  NAME="itemSource[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<SELECT class="small" NAME="itemRead[]"><option value="0">读写</option><option value="1">只读</option></SELECT>';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<INPUT TYPE="text" class="medium"  NAME="itemComment[]">';
	cell.align="center";
	row.appendChild(cell); 
	var cell = document.createElement("td");
	cell.innerHTML	=	'<IMG SRC="../Public/images/del.gif"  style="cursor:hand"  onclick="deleteRow(event);" WIDTH="20" HEIGHT="20" BORDER="0" ALT="删除" align="absmiddle">';
	cell.align="center";
	row.appendChild(cell); 
}
function deleteRow(e){
	var event = e || event;
     var Elm  =  event.target || event.srcElement; 
        while(Elm  &&  Elm.tagName  !=  "TR")   
        {   
            Elm  =  Elm.parentElement;   
        } 
        var intThisIndex = Elm.rowIndex; 
        Elm.parentElement.deleteRow(intThisIndex);  
}
function clearTable(){
	$('form1').reset();
}
function refleshField(tableName){
	ThinkAjax.send('__URL__/getTableFields','ajax=1&tableName='+tableName);
}
//-->
</SCRIPT>
<div class="content">
<load  file="Js.Form.MultiSelect" />
<div class="title">模块生成器 [ <A HREF="__URL__">返回</A> ] 		<INPUT TYPE="button" value="保存" onclick="buildModule()" class="button">
	<INPUT TYPE="reset" class="button" value="清空" > </div>
<FORM METHOD=POST id="form1" >
<INPUT TYPE="hidden" name="ajax" value="1">
<TABLE cellpadding=3 cellspacing=3 >
<!-- <TR class="row" >
	<td class="tRight" >数据表名称：</td>
	<Td class=""><SELECT NAME="tableName" id="tableName" onchange="refleshField(this.options[this.options.selectedIndex].value)" class="medium"  >
	<option value="">选择数据表</option>
<iterate name="tables" id="table" >
<option value="{$table}">{$table}</option>
</iterate>
</SELECT></Td>
	</TR> -->
<TR class="row" >
	<Td class="tRight" style="width:100px" >所属项目：</Td>
	<Td class="tLeft" ><SELECT id="encodeAppName" name="encodeAppName" class="hMargin medium">
	<volist name="apps" id="app" >
	<option value="{$app.name}">{$app.title}</option>
	</volist>
	</SELECT></Td>
</TR>
<TR  >
	<td class="tRight">模块名称：</td>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  id="moduleName" NAME="moduleName"></Td>
</TR>
<TR class="row" >
	<td class="tRight" >显示名称：</td>
	<Td class="" ><INPUT TYPE="text" class="medium bLeftRequire"  id="showName" NAME="showName"></Td>
</TR>
	<TR class="row" >
	<td class="tRight" >是否显示：</td>
	<Td class="" ><SELECT  name="isShow" class="hMargin small">
	<option value="1">是</option>
	<option value="0">否</option>
	</SELECT></Td>
</TR>
	<TR class="row" >
	<td class="tRight" >生成模型：</td>
	<Td class="" ><SELECT  name="buildModel" class="hMargin small">
	<option value="1">是</option>
	<option value="0">否</option>
	</SELECT></Td>
</TR>
<TR class="row" >
	<td class="tRight tTop" >操作模板：</td>
	<Td class="">
	<TABLE class="select" style="width:200px" >
<tr><td height="5" colspan="3" class="topTd" ></td></tr>
<TR><Th class="tCenter"><INPUT TYPE="button" onclick="allSelect()" value="全 选" class="submit  ">
<INPUT TYPE="button" onclick="InverSelect()" value="反 选" class="submit  ">
<INPUT TYPE="button" onclick="allUnSelect()" value="全 否" class="submit ">
</Th></TR>
<TR><TD >
<SELECT  name="templateList[]" class="hMargin medium multiSelect" multiple="multiple" size="12">
	<option value="index">列表页面</option>
	<option value="add">新增页面</option>
	<option value="edit">编辑页面</option>
	<option value="sort">排序页面</option>
	<option value="read">查看页面</option>
	<option value="select">选择页面</option>
	<option value="treeSelect">树型选择</option>
	</SELECT>
</td>
</tr>
<tr>
<td height="5" class="bottomTd" >
</td>
</tr>
</TABLE>
	
	</Td>
	</TR>
<TR class="row" >
	<td class="tRight tTop" >列表按钮：</td>
	<Td class=""><input type="checkbox" name="buttonList[]" value='add' checked> 新 增 	<input type="checkbox" name="buttonList[]" value='edit' checked> 编 辑 	<input type="checkbox" name="buttonList[]" value='del' checked> 删 除 	<input type="checkbox" name="buttonList[]" value='sort' > 排 序 <input type="checkbox" name="buttonList[]" value='cache'> 缓 存
	</Td>
	</TR>
<TR class="row" >
	<td class="tRight tTop" >列表显示：</td>
	<Td class="" ><textarea class="huge bLeft" name="listSet" rows="5" cols=""></textarea></Td>
</TR>
<!-- <TR class="row" >
	<td class="tRight tTop" >列表项目：<br><INPUT TYPE="button" value="增 加" onclick="addList()" class="button"></td>
	<Td class="" ><TABLE cellpadding=0 cellspacing=0 class="list" id="listItem">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >字段</Th>
	<Th class="tCenter" >过滤方法</Th>
	<Th class="tCenter" >显示名称</Th>
	<Th class="tCenter" >JS方法</Th>
	<Th class="tCenter" style="width:45px">操作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE></td>
</TR> -->
<TR class="row" >
	<td class="tRight tTop" >表单项目：<br><INPUT TYPE="button" value="增 加" onclick="addItem()" class="button"></td>
	<Td class="" ><TABLE cellpadding=0 cellspacing=0 class="list" id="actionAtrribute">
<tr><td height="5" colspan="10" class="topTd" ></td></tr>
<TR class="row" >
	<Th class="tCenter" >标题</Th>
	<Th class="tCenter" >名称</Th>
	<Th class="tCenter" >类型</Th>
	<Th class="tCenter" >数据源</Th>
	<Th class="tCenter" >默认</Th>
	<Th class="tCenter" >只读</Th>
	<Th class="tCenter" >说明</Th>
	<Th class="tCenter" style="width:45px">操作</Th>
</TR>
<tr><td height="5" colspan="10" class="bottomTd"></td></tr>
</TABLE></Td>
</TR>
</TABLE>

</FORM>
</div>
</div>