<extend name="Base/article"/>

<block name="category"></block>

<block name="plulish">
	<a href="{:U('edit?model=2&category='.$category['name'])}" class="release-link">
		<i></i>发布{$category['title']}
	</a>
</block>

<block name="body">
	<div class="box contentbox">
		<div class="detail-hd">
			<div class="t-header cf">
				<h1>{$info.title}</h1>
				<div class="turn">
					<a class="download" title="下载" href="{:U('File/download?id='.$info['id'])}"></a>
				</div>
			</div>
			<div class="t-footer">
				<span>浏览：{$info.view}</span>
				<span>发布日期：{$info.create_time|date='Y/m/d',###}</span>
				<span>分类：{$info.category_id|get_category_title}</span>
			</div>
		</div>
		<div class="detail-bd">
			{:hooks('documentDetailBefore', 'widget', $info)}
			<div>{$info.content}</div>
			{:hooks('documentDetailAfter', 'widget', $info)}
		</div>
	</div>
</block>