<extend name="Base/article"/>

<block name="toplist">
	<div class="box toplist">
		<ul>
			<li>
				<span class="fr">05-12</span>
				<a href="#">基于ThinkPHP3.1.3的视频教程出炉（更新第13集）</a>
			</li> 
		</ul>
		<span class="tips tips-ding"></span>
	</div>
</block>

<block name="plulish">
	<a href="{:U('edit?model=2&category='.$category['name'])}" class="release-link">
		<i></i>发布{$category['title']}
	</a>
</block>

<block name="body">
	<div class="contentbox">
		<ul class="topiclist">
			<volist name="list" id="data">
				<li class="cf">
					<a class="avatar"><img src="__IMG__/temp/36_36.png" alt="#"></a>
					<div class="msgbox">
						<div class="hd">
							<a href="{:U('detail?id='.$data['id'])}" title="{$data.title}">{$data.title}</a>
						</div>
						<div class="ft">
							<span class="fr">{$data.create_time|date='m-d',###}</span>
							<span class="related-info">{$data.uid|get_username}</span>
							<span class="related-info">浏览：{$data.view} </span>
							<a class="related-info" href="#">评论：{$data.comment}</a>
						</div>
					</div>
				</li>
			</volist>
		</ul>
	</div>
</block>