/**
  * 描    述：重置,布局及基础样式
  * 涉及区域：公共,全局
  * 通用颜色：black 		#323232
  * 		  blue 			#3490d4
  * 		  green 		#009933
  * 		  gray 			#777777
  * 		  link 			#444444
  * 		  border-color  #d4d4d4
  */

 html,body {
	font-size: 14px;
	font-family: "Microsoft yahei";
	color: #323232;
	background-color: #f9f9f9;
}
body,p,h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
form,input,textarea,button,
pre,img {
	margin: 0;
	padding: 0;
}
ul,ol {
	list-style: none;
}
img {
	border: 0;
}
a{
	color: #444;
	text-decoration: none;
}
a:hover{
	color: #093;
	text-decoration: underline;
}
input,textarea,select {
	font-size: 100%;
	outline: 0;
	resize: none;
	color: #323232;
	font-family: "Microsoft yahei";
}

/* 布局 */
.fl {
	float:left;
	display:inline;
}
.fr {
	float:right;
	display:inline;
}
.cf {
	zoom:1;
}
.cf:after {
	display:block;
	visibility:hidden;
	width:0;
	height:0;
	line-height:0;
	font-size:0;
	clear:both;
	content:".";
}
.main {
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
	width: 1000px;
	min-height: 500px;
	height: auto!important;
}
.wrapper {
	float: left;
	width: 720px;
}
.sidebar {
	float: right;
	width: 270px;
}
.box,.contentbox {
	margin-bottom: 10px;
	border: 1px solid #D4D4D4;
	background-color: #FFF;
}
.contentbox {
	padding: 15px;
}
.msgbox {
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	_zoom:1;
}

/* 公用样式 */
.hidden {
	display: none;
}
.b0 {
    border: 0!important;
}
.posr {
	position: relative;
}
.avatar {
	float: left;
	margin-right: 10px;
	padding: 1px;
	width: 44px;
	height: 44px;
	overflow: hidden;
	border: 1px solid #D4D4D4;
}
.editlink {
	color: #d2691e;
}
.checkbox,.radio {
	line-height: 20px;
}
.checkbox input,
.radio input {
	margin-right: 5px;
	vertical-align: -1px;
}